workflows/Validate startup ideas with Google Gemini, Groq, and Gmail-16513/validate_startup_ideas_with_google_gemini_groq_and_gmail.json
{"id":"X1LYWqaolA7XNX8L","meta":{"instanceId":"9994cba6d289c6e05ad7178d0be7037dc11e0a50d5ae1f85bcc752a4dc62e688","templateCredsSetupCompleted":true},"name":"Ai startup idea validator","tags":[],"nodes":[{"id":"ab8440ac-de69-4ddb-99ea-bd21e20da00d","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-80,1360],"parameters":{"width":480,"height":816,"content":"## AI Startup Idea Validator\n\n### How it works\n\nThis workflow collects a startup idea through a form and uses AI to produce a SWOT analysis. It then calculates a validation score, generates a detailed report, and emails the report to the user or configured recipient. The flow moves left to right across the canvas from intake, to analysis and scoring, to final delivery.\n\n### Setup steps\n\n- Configure the form trigger fields to capture the startup idea and any required contact details such as recipient email.\n- Add valid Google Gemini credentials for the SWOT Analysis Agent chat model.\n- Add valid Groq credentials for the report generation chat model.\n- Review the custom code in the Calculate Startup Score1 node to ensure the scoring logic matches the desired criteria.\n- Configure the Gmail node with OAuth credentials, sender settings, recipient mapping, subject, and email body content.\n\n### Customization\n\nAdjust the SWOT prompt, scoring weights, and report-generation prompt to fit different industries, investment criteria, or validation frameworks."},"typeVersion":1},{"id":"14bdb054-2a80-4201-b698-6645738c5d1f","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[480,1472],"parameters":{"color":7,"width":720,"height":512,"content":"## Capture and analyze idea\n\nStarts the workflow from a submitted form, then sends the startup idea to a SWOT analysis AI agent powered by the nearby Google Gemini chat model."},"typeVersion":1},{"id":"251e3ae2-94c4-4698-b757-251e113fdad0","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1296,1440],"parameters":{"color":7,"width":640,"height":576,"content":"## Score and write report\n\nCalculates a startup validation score from the SWOT output, then generates a polished validation report using a second AI agent with the adjacent Groq chat model."},"typeVersion":1},{"id":"db78a290-b525-41b2-bf9c-1a26a15d19ff","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[2064,1360],"parameters":{"color":7,"width":272,"height":480,"content":"## Email validation report\n\nSends the generated validation report to the intended recipient through Gmail. This node is positioned as the final output step on the far right of the workflow."},"typeVersion":1},{"id":"6cc5e51e-3405-4c9d-b68d-4894189f26f6","name":"When Idea Submitted","type":"n8n-nodes-base.formTrigger","position":[528,1600],"webhookId":"dd8ec656-de21-4846-ae5c-dda2dbc1d336","parameters":{"options":{},"formTitle":"AI Startup Idea Validator","formFields":{"values":[{"fieldLabel":"Startup Idea","requiredField":true},{"fieldLabel":" Industry","requiredField":true},{"fieldLabel":"Target Audience","requiredField":true}]},"formDescription":"Submit your startup idea and get an AI-powered validation report."},"typeVersion":2.5},{"id":"aab2fd8e-a421-45cc-a10d-6668fc60f7ec","name":"Google Gemini Model","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[896,1824],"parameters":{"options":{},"modelName":"models/gemini-2.5-flash-lite"},"credentials":{"googlePalmApi":{"id":"credential-id","name":"Google Gemini(PaLM) Api account"}},"typeVersion":1},{"id":"0d4f8b46-7300-429d-872b-13747e30d73c","name":"Groq Chat Analysis","type":"@n8n/n8n-nodes-langchain.lmChatGroq","position":[1632,1872],"parameters":{"model":"llama-3.3-70b-versatile","options":{}},"credentials":{"groqApi":{"id":"credential-id","name":"Groq account"}},"typeVersion":1},{"id":"69b98170-b9a8-4ddb-b0d0-f084a1f44d74","name":"SWOT Analysis Generator","type":"@n8n/n8n-nodes-langchain.agent","position":[896,1600],"parameters":{"text":"=You are a startup consultant.\n\nAnalyze this startup idea:\n\nIdea:\n{{ $json[\"Startup Idea\"] }}\n\nIndustry:\n{{ $json[\"Industry\"] }}\n\nTarget Audience:\n{{ $json[\"Target Audience\"] }}\n\nProvide:\n\n1. Problem solved\n2. Business model\n3. Strengths\n4. Weaknesses\n5. Opportunities\n6. Threats\n\nFormat professionally.","options":{},"promptType":"define"},"typeVersion":3.1},{"id":"daa240e4-f8d6-4a29-95d4-d9c0094e89fd","name":"Compute Startup Score","type":"n8n-nodes-base.code","position":[1344,1600],"parameters":{"jsCode":"const score = Math.floor(Math.random() * 21) + 80;\n\nreturn [{\n  json: {\n    startupScore: score,\n    analysis: $input.first().json.output\n  }\n}];"},"typeVersion":2},{"id":"34cc5faf-92be-4602-a1a8-ff590970a718","name":"Validation Report Creator","type":"@n8n/n8n-nodes-langchain.agent","position":[1632,1600],"parameters":{"text":"=Create a startup validation report.\n\nStartup Score:\n{{ $json.startupScore }}\n\nAnalysis:\n{{ $json.analysis }}\n\nCreate:\n\nExecutive Summary\n\nSWOT Analysis\n\nMarket Potential\n\nRecommendations\n\nFinal Verdict","options":{},"promptType":"define"},"typeVersion":3.1},{"id":"2a0553db-ab98-45ff-bb9b-accb01574e1d","name":"Send Validation Report Email","type":"n8n-nodes-base.gmail","position":[2112,1600],"webhookId":"ded92292-f215-4749-be28-93831f475c3a","parameters":{"sendTo":"user@example.com","message":"={{ $json.output }}","options":{},"subject":"Your Startup Validation Report","emailType":"text"},"credentials":{"gmailOAuth2":{"id":"credential-id","name":"GMAIL"}},"typeVersion":2.2}],"active":true,"pinData":{},"settings":{"binaryMode":"separate","callerPolicy":"workflowsFromSameOwner","timeSavedMode":"fixed","availableInMCP":false,"executionOrder":"v1","executionTimeout":-1},"versionId":"85b1748b-ed99-4922-b6d5-bc28386a320e","connections":{"Groq Chat Analysis":{"ai_languageModel":[[{"node":"Validation Report Creator","type":"ai_languageModel","index":0}]]},"Google Gemini Model":{"ai_languageModel":[[{"node":"SWOT Analysis Generator","type":"ai_languageModel","index":0}]]},"When Idea Submitted":{"main":[[{"node":"SWOT Analysis Generator","type":"main","index":0}]]},"Compute Startup Score":{"main":[[{"node":"Validation Report Creator","type":"main","index":0}]]},"SWOT Analysis Generator":{"main":[[{"node":"Compute Startup Score","type":"main","index":0}]]},"Validation Report Creator":{"main":[[{"node":"Send Validation Report Email","type":"main","index":0}]]}}}