workflows/Send fleet document expiry alerts from Google Sheets via Gmail-16119/send_fleet_document_expiry_alerts_from_google_sheets_via_gmail.json
{"id":"QLMg2hgfaG6oXcOc","meta":{"instanceId":"fb874157162778a6aa6725b6ad4aaea6f5ddda5a0699d9203d44403f15db8c03","templateCredsSetupCompleted":true},"name":"Fleet Expiry Reminder - Vehicle Document Alerts","tags":[],"nodes":[{"id":"c0d793a7-86f7-4c4c-b87b-eb29c7b81a3c","name":"Every weekday at 8 AM","type":"n8n-nodes-base.scheduleTrigger","position":[-496,544],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8 * * 1-5"}]}},"typeVersion":1.2},{"id":"34312fc7-a9de-4929-9ccf-b55384135fcf","name":"Read Fleet Sheet","type":"n8n-nodes-base.googleSheets","position":[-272,560],"parameters":{"operation":"readAllRows","documentId":{"__rl":true,"mode":"id","value":"YOUR_GOOGLE_SHEET_ID"}},"typeVersion":4.5},{"id":"6eb7557f-01ad-4119-89a3-d10f9143b268","name":"Check Expiries (30-day window)","type":"n8n-nodes-base.code","position":[-16,560],"parameters":{"jsCode":"const today = new Date();\ntoday.setHours(0, 0, 0, 0);\n\nconst warningDays = 30;\n\nconst expiryFields = [\n  { field: 'Insurance Date',  label: '🛡️ Insurance' },\n  { field: 'MOT Date',        label: '🔧 MOT / Inspection' },\n  { field: 'Road Tax Date',   label: '💶 Road Tax' },\n  { field: 'Service Date',    label: '🔩 Service' }\n];\n\nconst alerts = [];\n\nfor (const row of $input.all()) {\n  const vehicle  = row.json;\n  const plate    = vehicle['Plate']    || 'N/A';\n  const model    = vehicle['Model']    || '';\n  const driver   = vehicle['Driver']   || '';\n\n  for (const { field, label } of expiryFields) {\n    const raw = vehicle[field];\n    if (!raw) continue;\n\n    const expiry = new Date(raw);\n    if (isNaN(expiry)) continue;\n    expiry.setHours(0, 0, 0, 0);\n\n    const diffMs   = expiry - today;\n    const diffDays = Math.round(diffMs / (24 * 60 * 60 * 1000));\n\n    if (diffDays < 0) {\n      alerts.push({\n        json: {\n          plate, model, driver,\n          type: label,\n          expiry: expiry.toLocaleDateString('en-GB'),\n          days: diffDays,\n          status: '🔴 EXPIRED'\n        }\n      });\n    } else if (diffDays <= warningDays) {\n      alerts.push({\n        json: {\n          plate, model, driver,\n          type: label,\n          expiry: expiry.toLocaleDateString('en-GB'),\n          days: diffDays,\n          status: diffDays <= 7 ? '🟠 URGENT' : '🟡 EXPIRING SOON'\n        }\n      });\n    }\n  }\n}\n\nif (alerts.length === 0) {\n  return [{ json: { noAlerts: true } }];\n}\n\nreturn alerts;"},"typeVersion":2},{"id":"7215bd2a-d540-49cf-9bb4-0521bb9378e5","name":"Any expiries found?","type":"n8n-nodes-base.if","position":[208,560],"parameters":{"options":{},"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"cond-001","operator":{"type":"boolean","operation":"notEquals"},"leftValue":"={{ $json.noAlerts }}","rightValue":true}]}},"typeVersion":2},{"id":"0c8083c5-3cf9-40d0-95c8-858ef7294b35","name":"Build HTML Email","type":"n8n-nodes-base.code","position":[496,432],"parameters":{"jsCode":"const items = $input.all();\n\nconst expired  = items.filter(i => i.json.status && i.json.status.includes('EXPIRED'));\nconst urgent   = items.filter(i => i.json.status && i.json.status.includes('URGENT'));\nconst expiring = items.filter(i => i.json.status && i.json.status.includes('EXPIRING SOON'));\n\nconst formatRow = (a) =>\n  `<tr>\n    <td style=\"padding:8px;border:1px solid #ddd\">${a.json.plate}</td>\n    <td style=\"padding:8px;border:1px solid #ddd\">${a.json.model}</td>\n    <td style=\"padding:8px;border:1px solid #ddd\">${a.json.driver}</td>\n    <td style=\"padding:8px;border:1px solid #ddd\">${a.json.type}</td>\n    <td style=\"padding:8px;border:1px solid #ddd\">${a.json.expiry}</td>\n    <td style=\"padding:8px;border:1px solid #ddd\">${a.json.status}</td>\n    <td style=\"padding:8px;border:1px solid #ddd\">${a.json.days < 0 ? `${Math.abs(a.json.days)} days ago` : `in ${a.json.days} days`}</td>\n  </tr>`;\n\nconst tableHeader = `\n  <table style=\"border-collapse:collapse;width:100%;font-family:Arial,sans-serif;font-size:13px\">\n    <thead>\n      <tr style=\"background:#2c3e50;color:white\">\n        <th style=\"padding:10px;border:1px solid #ddd\">Plate</th>\n        <th style=\"padding:10px;border:1px solid #ddd\">Model</th>\n        <th style=\"padding:10px;border:1px solid #ddd\">Driver</th>\n        <th style=\"padding:10px;border:1px solid #ddd\">Document</th>\n        <th style=\"padding:10px;border:1px solid #ddd\">Expiry Date</th>\n        <th style=\"padding:10px;border:1px solid #ddd\">Status</th>\n        <th style=\"padding:10px;border:1px solid #ddd\">Due In</th>\n      </tr>\n    </thead>\n    <tbody>\n      ${items.map(formatRow).join('')}\n    </tbody>\n  </table>`;\n\nconst today = new Date().toLocaleDateString('en-GB');\n\nconst html = `\n<!DOCTYPE html>\n<html>\n<body style=\"font-family:Arial,sans-serif;max-width:900px;margin:0 auto;padding:20px\">\n  <h2 style=\"color:#2c3e50;border-bottom:3px solid #e74c3c;padding-bottom:10px\">\n    🚗 Company Fleet — Document Expiry Report &nbsp;|&nbsp; ${today}\n  </h2>\n\n  <div style=\"display:flex;gap:15px;margin-bottom:25px\">\n    <div style=\"background:#e74c3c;color:white;padding:15px 20px;border-radius:8px;text-align:center\">\n      <div style=\"font-size:28px;font-weight:bold\">${expired.length}</div>\n      <div style=\"font-size:12px\">EXPIRED</div>\n    </div>\n    <div style=\"background:#e67e22;color:white;padding:15px 20px;border-radius:8px;text-align:center\">\n      <div style=\"font-size:28px;font-weight:bold\">${urgent.length}</div>\n      <div style=\"font-size:12px\">URGENT (≤7 days)</div>\n    </div>\n    <div style=\"background:#f39c12;color:white;padding:15px 20px;border-radius:8px;text-align:center\">\n      <div style=\"font-size:28px;font-weight:bold\">${expiring.length}</div>\n      <div style=\"font-size:12px\">EXPIRING SOON (≤30 days)</div>\n    </div>\n  </div>\n\n  ${tableHeader}\n\n  <p style=\"color:#7f8c8d;font-size:12px;margin-top:20px\">\n    Automatically generated by n8n &bull; Company Fleet Management\n  </p>\n</body>\n</html>`;\n\nreturn [{ json: { html, total: items.length, expired: expired.length, urgent: urgent.length } }];"},"typeVersion":2},{"id":"f2aafee0-30b6-422d-979c-8c0eec2811e5","name":"Send Email to Fleet Manager","type":"n8n-nodes-base.gmail","position":[864,400],"webhookId":"5708a4b3-01a1-4178-a786-e592c017a463","parameters":{"sendTo":"user@example.com","message":"={{ $json.html }}","options":{},"subject":"=🚗 Fleet Alert: {{ $json.expired > 0 ? $json.expired + ' expired, ' : '' }}{{ $json.urgent }} urgent — {{ new Date().toLocaleDateString('en-GB') }}"},"typeVersion":2.1},{"id":"61797477-bdef-4c43-a139-aac6b6a8144c","name":"No expiries today","type":"n8n-nodes-base.noOp","position":[544,800],"parameters":{},"typeVersion":1},{"id":"e2046c63-cd53-4666-bb46-3d4d2a465554","name":"📋 SETUP INSTRUCTIONS","type":"n8n-nodes-base.stickyNote","position":[-480,944],"parameters":{"color":5,"width":1260,"height":400,"content":"## 🚗 Fleet Expiry Reminder\n**Company Vehicle Document Alerts**\n\n### Setup required:\n1. **Google Sheets** → replace `YOUR_GOOGLE_SHEET_ID` with your Sheet ID (found in the URL between `/d/` and `/edit`)\n2. **Google Sheets & Gmail credentials** → connect your accounts in each node\n3. **Recipient email** → update `fleet.manager@yourcompany.com` in the *Send Email* node\n\n### Google Sheet structure (tab name: **Fleet**):\n| Plate | Model | Driver | Insurance Date | MOT Date | Road Tax Date | Service Date |\n|-------|-------|--------|----------------|----------|---------------|--------------|\n| AB123CD | Ford Transit | John Smith | 2025-06-15 | 2025-01-20 | 2025-03-01 | 2025-02-10 |\n\n⚠️ Dates must be in **YYYY-MM-DD** format\n\n### Alert thresholds:\n- 🔴 **EXPIRED** → past the due date\n- 🟠 **URGENT** → expires within 7 days\n- 🟡 **EXPIRING SOON** → expires within 30 days"},"typeVersion":1},{"id":"00f4c08f-62c1-4913-bf77-294a04f4f301","name":"📝 Note — Trigger","type":"n8n-nodes-base.stickyNote","position":[-704,352],"parameters":{"color":7,"width":360,"height":362,"content":"## ⏰ Step 1 — Trigger\nFires automatically every **weekday at 8:00 AM**.\n\nTo change the schedule, edit the cron expression:\n- Every day (incl. weekends): `0 8 * * *`\n- Twice a day: `0 8,14 * * 1-5`"},"typeVersion":1},{"id":"130d042f-f937-4276-bc6f-9ebbe2d306f0","name":"📝 Note — Read Sheet","type":"n8n-nodes-base.stickyNote","position":[-320,96],"parameters":{"color":7,"width":200,"height":632,"content":"## 📊 Step 2 — Read Fleet Sheet\nFetches **all rows** from the `Fleet` tab in your Google Sheet.\n\n⚙️ **Configure:**\n- Replace `YOUR_GOOGLE_SHEET_ID` with your spreadsheet ID\n- Connect your **Google Sheets OAuth2** credential\n\nRequired columns: `Plate`, `Model`, `Driver`, `Insurance Date`, `MOT Date`, `Road Tax Date`, `Service Date`"},"typeVersion":1},{"id":"fdfbee71-11a8-45c5-9577-182c506e9555","name":"📝 Note — Check Expiries","type":"n8n-nodes-base.stickyNote","position":[-80,64],"parameters":{"color":7,"width":216,"height":678,"content":"## 🔍 Step 3 — Check Expiries\nLoops through every vehicle and checks all 4 document dates against today.\n\nClassifies each as:\n- 🔴 **EXPIRED** — already past due\n- 🟠 **URGENT** — expires within 7 days\n- 🟡 **EXPIRING SOON** — expires within 30 days\n\n⚙️ To change the warning window, edit `warningDays = 30` in the code.\n\nIf no issues are found, returns `{ noAlerts: true }` to stop the workflow silently."},"typeVersion":1},{"id":"fd659a64-0c4b-4118-993a-afc5949ead78","name":"📝 Note — Gate","type":"n8n-nodes-base.stickyNote","position":[160,208],"parameters":{"color":7,"width":200,"height":532,"content":"## 🔀 Step 4 — Gate Check\nChecks whether any alerts were generated.\n\n- **True branch** → at least one expiry found → proceed to build the email\n- **False branch** → nothing expiring → workflow ends silently (no email sent)"},"typeVersion":1},{"id":"e9d13e39-abef-473d-b9dc-01893a63e4fe","name":"📝 Note — Build Email","type":"n8n-nodes-base.stickyNote","position":[400,112],"parameters":{"color":7,"width":296,"height":488,"content":"## 🏗️ Step 5a — Build HTML Email\nAssembles a fully formatted HTML report with:\n- **Summary bar** showing counts of expired / urgent / expiring documents\n- **Detail table** with plate, model, driver, document type, expiry date, status and days remaining\n\nOutput is a single `html` field passed directly to Gmail."},"typeVersion":1},{"id":"9d788007-00a2-4841-b1d9-ccd51e6a1c31","name":"📝 Note — Send Email","type":"n8n-nodes-base.stickyNote","position":[736,128],"parameters":{"color":7,"width":376,"height":488,"content":"## 📧 Step 5b — Send Email\nSends the HTML report via **Gmail** to the fleet manager.\n\nThe subject line is dynamic:\n> 🚗 Fleet Alert: 2 expired, 1 urgent — 04/06/2026\n\n⚙️ **Configure:**\n- Update the recipient address `fleet.manager@yourcompany.com`\n- Connect your **Gmail OAuth2** credential"},"typeVersion":1},{"id":"135c12e8-7a30-4093-877e-8707c240a3aa","name":"📝 Note — No Expiries","type":"n8n-nodes-base.stickyNote","position":[464,640],"parameters":{"color":4,"width":392,"height":294,"content":"## ✅ Step 5c — No Expiries\nReached when **no vehicle documents** are expiring within the next 30 days.\n\nNo email is sent. The workflow ends here quietly — your inbox stays clean."},"typeVersion":1}],"active":false,"pinData":{},"settings":{"binaryMode":"separate","executionOrder":"v1"},"versionId":"98c3d8e8-a509-4433-8db4-2d6aad100174","connections":{"Build HTML Email":{"main":[[{"node":"Send Email to Fleet Manager","type":"main","index":0}]]},"Read Fleet Sheet":{"main":[[{"node":"Check Expiries (30-day window)","type":"main","index":0}]]},"Any expiries found?":{"main":[[{"node":"Build HTML Email","type":"main","index":0}],[{"node":"No expiries today","type":"main","index":0}]]},"Every weekday at 8 AM":{"main":[[{"node":"Read Fleet Sheet","type":"main","index":0}]]},"Check Expiries (30-day window)":{"main":[[{"node":"Any expiries found?","type":"main","index":0}]]}}}