workflows/Proxy OpenAI-style chat completions to Gemini with async webhooks-16553/proxy_openai-style_chat_completions_to_gemini_with_async_webhooks.json
{"id":"wnz7eRwbHM1lk71E","meta":{"instanceId":"d285c0dd6f2517dd2f9cfd55ceb15efee1636414b6cd7013bed01400cc41b538","builderVariant":"mcp","aiBuilderAssisted":true},"name":"Async AI","tags":[],"nodes":[{"id":"a266ba1b-843d-4a9d-baeb-1ab256534e7f","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-832,-176],"parameters":{"width":480,"height":864,"content":"## Async AI\n\n### How it works\n\nThis workflow exposes a chat completions-style webhook that can run either synchronously or asynchronously depending on whether callback configuration is included. It preprocesses file attachments and request metadata, then routes the request to an LLM provider. Asynchronous requests receive an immediate 202 response and later deliver results to a callback URL, while synchronous requests wait for the provider response and return it directly to the caller.\n\n### Setup steps\n\n- Configure the webhook URL and HTTP method expected by the chat completions client.\n- Set up credentials or headers required by the configured LLM provider in the provider HTTP request nodes.\n- Ensure the Prepare Data node builds the correct provider_config, callback_config, original_body, and job_id fields for your request format.\n- If using asynchronous mode, make sure callers provide a reachable callback_config.url and any required callback method or authentication details.\n\n### Customization\n\nAdjust the provider URL, headers, and body mapping to match your chosen LLM API. You can also modify the attachment-processing code, callback payload format, or sync response structure to fit your client contract."},"typeVersion":1},{"id":"147bb8b3-0b15-4c46-9c86-27cd3f774b49","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-272,-64],"parameters":{"color":7,"width":864,"height":320,"content":"## Receive and prepare request\n\nAccepts the incoming chat completions webhook request, processes any file attachments, normalizes key fields, and decides whether the request should run asynchronously with a callback or synchronously."},"typeVersion":1},{"id":"ef7b1979-0c77-45de-a8c3-42fee936918c","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[624,-176],"parameters":{"color":7,"width":416,"height":336,"content":"## Acknowledge async request\n\nFor callback-based requests, immediately returns a 202 Accepted response and removes callback details from the provider request payload before continuing in the background."},"typeVersion":1},{"id":"08131536-a30c-43bb-aaf3-03c4feefc351","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[1072,-176],"parameters":{"color":7,"width":640,"height":336,"content":"## Run async completion callback\n\nCalls the configured LLM provider for the asynchronous path, enriches the completion with status and job metadata, then posts the result to the caller-provided callback URL."},"typeVersion":1},{"id":"68da3cdd-1ae4-446c-8139-afd903bbf7d8","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[624,192],"parameters":{"color":7,"width":416,"height":336,"content":"## Run sync provider call\n\nFor requests without callback configuration, strips any callback-related data and sends the cleaned request directly to the configured LLM provider."},"typeVersion":1},{"id":"7e413709-6d3c-4a72-a16b-5e227b020fb0","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[1072,192],"parameters":{"color":7,"width":416,"height":336,"content":"## Return sync response\n\nFormats the synchronous provider output into the expected response body and status code, then sends it back through the original webhook response."},"typeVersion":1},{"id":"376ac219-02ce-4096-ba80-70e4483ec918","name":"When Chat Call Received","type":"n8n-nodes-base.webhook","position":[-224,96],"webhookId":"a35740cc-f5d0-4903-900f-25f4cdf1e0cf","parameters":{"path":"v1/chat/completions","options":{},"httpMethod":"POST","responseMode":"responseNode"},"typeVersion":2.1},{"id":"22b99ab9-9001-4a1c-bc9a-2e886cc4e92a","name":"Set Request Parameters","type":"n8n-nodes-base.set","position":[224,96],"parameters":{"options":{},"assignments":{"assignments":[{"id":"field-original_body","name":"original_body","type":"object","value":"={{ $json.body }}"},{"id":"field-callback_config","name":"callback_config","type":"object","value":"={{ $json.body.callback ?? null }}"},{"id":"field-provider_config","name":"provider_config","type":"object","value":"={{ { \"url\": ($json.body.provider?.url ?? \"https://generativelanguage.googleapis.com/v1beta/openai/chat/completions\"), \"headers\": ($json.body.provider?.headers ?? {}) } }}"},{"id":"field-job_id","name":"job_id","type":"string","value":"=chatcmpl-{{ $execution.id }}"}]}},"typeVersion":3.4},{"id":"14cf7289-46d6-4065-95c6-fcecb3f84ec1","name":"If Callback Config Exists","type":"n8n-nodes-base.if","position":[448,96],"parameters":{"options":{},"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"46c8b9e5-44ee-40d0-bf8c-a3d3192bdc23","operator":{"type":"string","operation":"notEmpty"},"leftValue":"={{ $json.callback_config?.url }}","rightValue":""}]}},"typeVersion":2.2},{"id":"ae45f627-5dd4-4cb5-af60-487de11438b1","name":"Send 202 Response","type":"n8n-nodes-base.respondToWebhook","position":[672,0],"parameters":{"options":{"responseCode":202},"respondWith":"json","responseBody":"={{ { \"status\": \"accepted\", \"job_id\": $json.job_id, \"message\": \"Request accepted for async processing. Result will be delivered to your callback URL.\", \"model\": $json.original_body.model } }}"},"typeVersion":1.5},{"id":"b6a0a988-e164-46b8-aab9-e23b8a889a65","name":"Strip Callback Data","type":"n8n-nodes-base.code","position":[896,0],"parameters":{"jsCode":"const { callback, provider, ...clean } = $json.original_body;\nreturn [{ json: clean }];"},"typeVersion":2},{"id":"eeb2f29a-50fe-408b-9a73-cef48e1f2abd","name":"Post to LLM Provider","type":"n8n-nodes-base.httpRequest","onError":"continueErrorOutput","position":[1120,0],"parameters":{"url":"={{ $('Set Request Parameters').item.json.provider_config.url }}","method":"POST","options":{"response":{"response":{"neverError":true,"fullResponse":true}}},"jsonBody":"={{ JSON.stringify($json) }}","sendBody":true,"jsonHeaders":"={{ JSON.stringify(Object.assign({\"Content-Type\":\"application/json\"}, $('Set Request Parameters').item.json.provider_config.headers || {})) }}","sendHeaders":true,"specifyBody":"json","specifyHeaders":"json"},"typeVersion":4.4},{"id":"edc9e8de-f8fc-4d19-9ab9-6e5806d4629c","name":"Enrich Provider Response","type":"n8n-nodes-base.set","position":[1344,-16],"parameters":{"options":{},"assignments":{"assignments":[{"id":"field-completion","name":"completion","type":"object","value":"={{ (() => { const fallback = { error: { message: ($json.error?.message || \"Upstream provider request failed\"), details: ($json.error ?? $json) } }; const payload = $json.body ?? fallback; if (Array.isArray(payload)) return { data: payload }; if (payload && typeof payload === \"object\") return payload; return { value: payload }; })() }}"},{"id":"field-status_code","name":"status_code","type":"number","value":"={{ Number($json.statusCode ?? $json.error?.httpCode ?? 502) }}"},{"id":"field-callback_config","name":"callback_config","type":"object","value":"={{ $('Set Request Parameters').item.json.callback_config }}"},{"id":"field-job_id","name":"job_id","type":"string","value":"={{ $('Set Request Parameters').item.json.job_id }}"}]}},"typeVersion":3.4},{"id":"cd9f03ee-bf84-4635-9225-e2613108f23a","name":"Send Callback Request","type":"n8n-nodes-base.httpRequest","position":[1568,-16],"parameters":{"url":"={{ $json.callback_config.url }}","method":"={{ $json.callback_config.method || \"POST\" }}","options":{},"jsonBody":"={{ JSON.stringify({ \"job_id\": $json.job_id, \"completed_at\": $now.toISO(), \"status_code\": $json.status_code, \"completion\": $json.completion }) }}","sendBody":true,"jsonHeaders":"={{ JSON.stringify(Object.assign({\"Content-Type\":\"application/json\"}, $json.callback_config.headers || {})) }}","sendHeaders":true,"specifyBody":"json","specifyHeaders":"json"},"typeVersion":4.4},{"id":"23a799ba-7c92-449f-ac68-2505bb9ad78f","name":"Strip Callback Data (Sync)","type":"n8n-nodes-base.code","position":[672,368],"parameters":{"jsCode":"const { callback, provider, ...clean } = $json.original_body;\nreturn [{ json: clean }];"},"typeVersion":2},{"id":"d17286e2-1f4d-49d9-9bbf-4a540c0d4a1b","name":"Sync Post to LLM Provider","type":"n8n-nodes-base.httpRequest","onError":"continueErrorOutput","position":[896,368],"parameters":{"url":"={{ $('Set Request Parameters').item.json.provider_config.url }}","method":"POST","options":{"response":{"response":{"neverError":true,"fullResponse":true}}},"jsonBody":"={{ JSON.stringify($json) }}","sendBody":true,"jsonHeaders":"={{ JSON.stringify(Object.assign({\"Content-Type\":\"application/json\"}, $('Set Request Parameters').item.json.provider_config.headers || {})) }}","sendHeaders":true,"specifyBody":"json","specifyHeaders":"json"},"typeVersion":4.4},{"id":"c4914ec2-7328-4339-9de1-57281f471f88","name":"Set Sync Response Fields","type":"n8n-nodes-base.set","position":[1120,368],"parameters":{"options":{},"assignments":{"assignments":[{"id":"field-response_body","name":"response_body","type":"object","value":"={{ (() => { const fallback = { error: { message: ($json.error?.message || \"Upstream provider request failed\"), details: ($json.error ?? $json) } }; const payload = $json.body ?? fallback; if (Array.isArray(payload)) return { data: payload }; if (payload && typeof payload === \"object\") return payload; return { value: payload }; })() }}"},{"id":"field-response_code","name":"response_code","type":"number","value":"={{ Number($json.statusCode ?? $json.error?.httpCode ?? 502) }}"}]}},"typeVersion":3.4},{"id":"4354ef35-d9f8-420d-8f0e-4ead8e4c85cf","name":"Process Attachments","type":"n8n-nodes-base.code","position":[48,96],"parameters":{"jsCode":"const item = $input.first();\nconst binary = item.binary || {};\n\nfunction clone(v) {\n  return JSON.parse(JSON.stringify(v));\n}\n\nfunction tryParseJson(value) {\n  if (typeof value !== 'string') return value;\n  const text = value.trim();\n  if (!text) return null;\n  try {\n    return JSON.parse(text);\n  } catch {\n    return null;\n  }\n}\n\nfunction normalizeMessageContent(messages) {\n  let idx = -1;\n  for (let i = messages.length - 1; i >= 0; i--) {\n    if (messages[i].role === 'user') {\n      idx = i;\n      break;\n    }\n  }\n\n  if (idx === -1) {\n    messages.push({ role: 'user', content: [] });\n    idx = messages.length - 1;\n  }\n\n  if (typeof messages[idx].content === 'string') {\n    messages[idx].content = [{ type: 'text', text: messages[idx].content }];\n  } else if (!Array.isArray(messages[idx].content)) {\n    messages[idx].content = [];\n  }\n\n  return idx;\n}\n\nlet rawBody = null;\nconst incomingBody = item.json?.body;\n\n// Handle JSON and multipart variants:\n// 1) JSON request: body is already an object\n// 2) Multipart: body may be a JSON string\n// 3) Multipart nested: body = { body: \"<json string>\" }\nif (incomingBody !== undefined && incomingBody !== null) {\n  if (typeof incomingBody === 'string') {\n    rawBody = tryParseJson(incomingBody);\n  } else if (typeof incomingBody === 'object' && !Array.isArray(incomingBody)) {\n    if (Object.prototype.hasOwnProperty.call(incomingBody, 'body')) {\n      const nested = incomingBody.body;\n      if (typeof nested === 'string') {\n        rawBody = tryParseJson(nested);\n      } else if (nested && typeof nested === 'object' && !Array.isArray(nested)) {\n        rawBody = nested;\n      }\n    }\n\n    if (!rawBody) {\n      rawBody = incomingBody;\n    }\n  }\n}\n\n// 4) Multipart with binary form field named \"body\"\nif (!rawBody && binary.body) {\n  const bodyBuffer = await this.helpers.getBinaryDataBuffer(0, 'body');\n  const bodyText = bodyBuffer.toString('utf8').trim();\n  rawBody = tryParseJson(bodyText);\n}\n\nif (!rawBody || typeof rawBody !== 'object' || Array.isArray(rawBody)) {\n  rawBody = {};\n}\n\nconst messages = Array.isArray(rawBody.messages) ? clone(rawBody.messages) : [];\nconst userIdx = normalizeMessageContent(messages);\n\nconst attachmentKeys = Object.keys(binary).filter((k) => k !== 'body');\n\nfor (const key of attachmentKeys) {\n  const bin = binary[key];\n  const mime = bin.mimeType || 'application/octet-stream';\n  const fileName = bin.fileName || key;\n  const fileBuffer = await this.helpers.getBinaryDataBuffer(0, key);\n  const base64 = fileBuffer.toString('base64');\n  const dataUrl = `data:${mime};base64,${base64}`;\n\n  if (mime.startsWith('image/')) {\n    messages[userIdx].content.push({\n      type: 'image_url',\n      image_url: { url: dataUrl },\n    });\n  } else {\n    messages[userIdx].content.push({\n      type: 'text',\n      text: `Attached file: ${fileName} (${mime}). Data URL: ${dataUrl}`,\n    });\n  }\n}\n\nreturn [{\n  json: {\n    ...item.json,\n    body: {\n      ...rawBody,\n      messages,\n    },\n  },\n}];"},"typeVersion":2},{"id":"de70bf30-5b48-42ca-b899-c74249b8de34","name":"Send Response to Caller","type":"n8n-nodes-base.respondToWebhook","position":[1344,368],"parameters":{"options":{"responseCode":"={{ $json.response_code }}"},"respondWith":"json","responseBody":"={{ $json.response_body }}"},"typeVersion":1.5}],"active":true,"pinData":{"When Chat Call Received":[{"json":{"body":{"body":"{\n  \"model\": \"gemini-3.1-pro-preview\",\n  \"messages\": [\n    { \"role\": \"user\", \"content\": \"Summarize the key details from this building plan.\" }\n  ],\n  \"max_tokens\": 10000,\n  \"provider\": {\n    \"headers\": { \"Authorization\": \"Bearer REDACTED\" }\n  },\n  \"callback\": {\n    \"url\": \"https://webhook.site/79c71f2b-34ca-4745-9a12-44cca3a3b059\",\n    \"method\": \"POST\"\n  }\n}"},"query":{},"params":{},"headers":{"host":"opd.app.n8n.cloud","accept":"*/*","cf-ray":"a0fb7cc12c5bc205-ATL","cdn-loop":"cloudflare; loops=1; subreqs=1","cf-ew-via":"15","cf-worker":"n8n.cloud","x-real-ip":"73.120.33.196","cf-visitor":"{\"scheme\":\"https\"}","user-agent":"curl/8.7.1","cf-ipcountry":"US","content-type":"multipart/form-data; boundary=------------------------07WxUzMISoKZbuiZXdw5yd","x-is-trusted":"yes","content-length":"8664324","accept-encoding":"gzip, br","x-forwarded-for":"73.120.33.196, 172.71.23.152","cf-connecting-ip":"73.120.33.196","x-forwarded-host":"opd.app.n8n.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"traefik-prod-users-gwc-92-f87ff8496-6mjds"},"webhookUrl":"https://opd.app.n8n.cloud/webhook/v1/chat/completions","executionMode":"production"},"binary":{"file":{"id":"filesystem-v2:workflows/wnz7eRwbHM1lk71E/executions/21/binary_data/a9be092e-cf91-4f34-b7db-34ae1aba38d0","data":"filesystem-v2","bytes":8663588,"fileName":"Ellingsworth - Building Plans - Lost Pine River.pdf","fileSize":"8.66 MB","fileType":"pdf","mimeType":"application/pdf","fileExtension":"pdf"}},"pairedItem":{"item":0}}]},"settings":{"binaryMode":"separate","availableInMCP":true,"executionOrder":"v1"},"versionId":"d6fbba0f-ca5b-49fe-99af-2cfc5c2c0710","nodeGroups":[],"connections":{"Send 202 Response":{"main":[[{"node":"Strip Callback Data","type":"main","index":0}]]},"Process Attachments":{"main":[[{"node":"Set Request Parameters","type":"main","index":0}]]},"Strip Callback Data":{"main":[[{"node":"Post to LLM Provider","type":"main","index":0}]]},"Post to LLM Provider":{"main":[[{"node":"Enrich Provider Response","type":"main","index":0}],[{"node":"Enrich Provider Response","type":"main","index":0}]]},"Set Request Parameters":{"main":[[{"node":"If Callback Config Exists","type":"main","index":0}]]},"When Chat Call Received":{"main":[[{"node":"Process Attachments","type":"main","index":0}]]},"Enrich Provider Response":{"main":[[{"node":"Send Callback Request","type":"main","index":0}]]},"Set Sync Response Fields":{"main":[[{"node":"Send Response to Caller","type":"main","index":0}]]},"If Callback Config Exists":{"main":[[{"node":"Send 202 Response","type":"main","index":0}],[{"node":"Strip Callback Data (Sync)","type":"main","index":0}]]},"Sync Post to LLM Provider":{"main":[[{"node":"Set Sync Response Fields","type":"main","index":0}],[{"node":"Set Sync Response Fields","type":"main","index":0}]]},"Strip Callback Data (Sync)":{"main":[[{"node":"Sync Post to LLM Provider","type":"main","index":0}]]}}}