workflows/Analyse tender PDFs with LlamaParse, Gemini, Supabase and WhatsApp chat-16798/analyse_tender_pdfs_with_llamaparse_gemini_supabase_and_whatsapp_chat.json
{"id":"jOekaAQCWlsGwTag","meta":{"instanceId":"cccc74d6d0f93cd9350ee16a9f4cfbc08c5189d9dac7cc9968b021b9b71f66eb"},"name":"Tender Document Analyser (Template)","tags":[],"nodes":[{"id":"534003b7-b874-49ab-af3d-3478ab7aa61f","name":"On form submission","type":"n8n-nodes-base.formTrigger","position":[496,2464],"webhookId":"1e298c42-46ad-4c94-82a9-8952122ba262","parameters":{"options":{},"formTitle":"Upload Tender Document","formFields":{"values":[{"fieldType":"file","fieldLabel":"Upload Invoice Here"}]},"formDescription":"Upload a tender / RFT PDF to extract structured data and make it chat-searchable."},"typeVersion":2.5},{"id":"c577b840-187f-4bea-bbd1-7718bd612226","name":"Generate Doc ID","type":"n8n-nodes-base.code","position":[720,2464],"parameters":{"jsCode":"const item = $input.first();\n\n// Filename is in json, not binary\n// Key: \"Upload Invoice Here\" → array → first item → filename\nconst formData = item.json?.['Upload Invoice Here'];\nconst fileInfo = Array.isArray(formData) \n  ? formData[0] \n  : formData;\n\nconst fileName = \n  fileInfo?.filename ||\n  fileInfo?.fileName ||\n  \"unknown.pdf\";\n\nconst docId = fileName\n  .replace(/\\.pdf$/i, \"\")\n  .toUpperCase()\n  .replace(/\\s+/g, \"-\");\n\n// Binary is stored under \"Upload_Invoice_Here\" key\nconst binaryData = item.binary?.['Upload_Invoice_Here'];\n\nreturn [{\n  json: {\n    doc_id:      docId,\n    file_name:   fileName,\n    uploaded_at: new Date().toISOString()\n  },\n  binary: {\n    data: binaryData\n  }\n}];"},"typeVersion":2},{"id":"cc8c3bdc-0254-4fa7-a4f6-e89206f0e51f","name":"Parse a document","type":"@llamaindex/n8n-nodes-llamacloud.llamaParsePlatform","position":[944,2368],"parameters":{"tier":"agentic"},"credentials":{"llamaParseApi":{"id":"credential-id","name":"LlamaParse account"}},"typeVersion":1},{"id":"ab72a189-88f5-4651-b50f-e544e48739b0","name":"Split a file","type":"@llamaindex/n8n-nodes-llamacloud.llamaParsePlatform","position":[944,2176],"parameters":{"resource":"splitting","categoriesUi":{"categories":[{"name":"project_summary","description":"Cover page content including RFT number, contract number, project title, issuing authority name, contact person name, phone, email and document date."},{"name":"scope_and_timeline","description":"Purpose of procurement, scope of work, deliverables, specifications overview and all key dates including issue date, questions deadline, submission deadline, award date and delivery date."},{"name":"submission_rules","description":"Instructions for bidders, how to submit the tender, mandatory submission requirements, addenda rules, alteration and withdrawal rules and contact for questions."},{"name":"compliance_terms","description":"Terms and conditions including insurance requirements, WSIB, health and safety, AODA accessibility, conflict of interest, indemnification and contract termination clauses."},{"name":"specification_checklist","description":"Itemized specification form with list of required features or items. Each item has a description and Yes or No compliance indicator with technical dimensions and material standards."},{"name":"bid_form","description":"Form of tender, supplier declaration, pricing table, HST registration number, WSIB account number, signature block and irrevocability statement."}]}},"credentials":{"llamaParseApi":{"id":"credential-id","name":"LlamaParse account"}},"typeVersion":1},{"id":"4631cda6-869c-4c8d-a567-f6fd48e79f05","name":"Extract structured data from a document","type":"@llamaindex/n8n-nodes-llamacloud.llamaParsePlatform","position":[1136,2768],"parameters":{"resource":"extracting","dataSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"rft_number\": {\n      \"type\": \"string\",\n      \"description\": \"The RFT or contract number e.g. CTY-AH-2024-8\"\n    },\n    \"project_title\": {\n      \"type\": \"string\",\n      \"description\": \"Full title of the project or procurement\"\n    },\n    \"issuing_authority\": {\n      \"type\": \"string\",\n      \"description\": \"Name of the municipality or organization issuing the tender\"\n    },\n    \"contact_name\": {\n      \"type\": \"string\",\n      \"description\": \"Name of the contact person for questions\"\n    },\n    \"contact_email\": {\n      \"type\": \"string\",\n      \"description\": \"Email address of the RFT contact person\"\n    },\n    \"contact_phone\": {\n      \"type\": \"string\",\n      \"description\": \"Phone number of the RFT contact person\"\n    },\n    \"submission_deadline\": {\n      \"type\": \"string\",\n      \"description\": \"Date and time by which tenders must be submitted\"\n    },\n    \"questions_deadline\": {\n      \"type\": \"string\",\n      \"description\": \"Deadline for submitting questions or clarifications\"\n    },\n    \"award_date\": {\n      \"type\": \"string\",\n      \"description\": \"Expected date of contract award\"\n    },\n    \"delivery_date\": {\n      \"type\": \"string\",\n      \"description\": \"Expected delivery or project completion date\"\n    },\n    \"insurance_gl_amount\": {\n      \"type\": \"number\",\n      \"description\": \"Required commercial general liability insurance amount in dollars\"\n    },\n    \"wsib_required\": {\n      \"type\": \"boolean\",\n      \"description\": \"Whether WSIB certificate is required\"\n    },\n    \"bond_required\": {\n      \"type\": \"boolean\",\n      \"description\": \"Whether a bid bond is required\"\n    },\n    \"bond_percentage\": {\n      \"type\": \"number\",\n      \"description\": \"Bid bond percentage of total tender price if required\"\n    },\n    \"award_basis\": {\n      \"type\": \"string\",\n      \"description\": \"Basis for awarding the contract e.g. lowest compliant bid\"\n    },\n    \"irrevocability_days\": {\n      \"type\": \"number\",\n      \"description\": \"Number of days the tender must remain irrevocable after submission\"\n    },\n    \"payment_terms\": {\n      \"type\": \"string\",\n      \"description\": \"Payment terms and conditions\"\n    }\n  }\n}"},"credentials":{"llamaParseApi":{"id":"credential-id","name":"LlamaParse account"}},"typeVersion":1},{"id":"87fd676a-fcd0-4fb6-93a1-7ec3e14fed84","name":"Normalize + Bid Score","type":"n8n-nodes-base.code","position":[1344,2768],"parameters":{"jsCode":"const item = $input.first();\n\n// Extract result comes as stringified JSON\nlet extracted = {};\ntry {\n  const raw = item.json.result || '{}';\n  extracted = JSON.parse(raw);\n} catch(e) {\n  extracted = {};\n}\n\n// Calculate days until deadline\nlet daysLeft = 999;\ntry {\n  const deadlineStr = extracted.submission_deadline || '';\n  const deadline = new Date(deadlineStr);\n  const today = new Date();\n  if (!isNaN(deadline)) {\n    daysLeft = Math.floor((deadline - today) / (1000 * 60 * 60 * 24));\n  }\n} catch(e) {}\n\n// Bid scoring\nlet score = 5;\nlet flags = [];\n\nif (daysLeft > 7)  { score += 2; }\nif (daysLeft >= 0 && daysLeft < 3) { score -= 3; flags.push(\"⚠️ Deadline very tight\"); }\nif (daysLeft < 0)  { score = 0; flags.push(\"❌ Deadline passed\"); }\n\nconst insurance = Number(extracted.insurance_gl_amount) || 0;\nif (insurance > 0 && insurance <= 5000000) { score += 1; }\nif (insurance > 10000000) { score -= 1; flags.push(\"⚠️ High insurance\"); }\nif (!extracted.bond_required) { score += 1; }\n\nscore = Math.min(10, Math.max(0, score));\n\nlet recommendation = '';\nif (score >= 7)      { recommendation = '✅ BID'; }\nelse if (score >= 4) { recommendation = '⚠️ REVIEW'; }\nelse                 { recommendation = '❌ SKIP'; }\n\nreturn [{\n  json: {\n    rft_number:          extracted.rft_number || '',\n    project_title:       extracted.project_title || '',\n    issuing_authority:   extracted.issuing_authority || '',\n    contact_name:        extracted.contact_name || '',\n    contact_email:       extracted.contact_email || '',\n    contact_phone:       extracted.contact_phone || '',\n    submission_deadline: extracted.submission_deadline || '',\n    questions_deadline:  extracted.questions_deadline || '',\n    award_date:          extracted.award_date || '',\n    delivery_date:       extracted.delivery_date || '',\n    insurance_gl:        extracted.insurance_gl_amount || '',\n    wsib_required:       extracted.wsib_required || false,\n    bond_required:       extracted.bond_required || false,\n    bond_percentage:     extracted.bond_percentage || 0,\n    award_basis:         extracted.award_basis || '',\n    irrevocability_days: extracted.irrevocability_days || 90,\n    days_until_deadline: daysLeft,\n    bid_score:           score,\n    recommendation:      recommendation,\n    flags:               flags.join(', '),\n    status:              'New',\n    rag_status:          'Pending'\n  }\n}];"},"typeVersion":2},{"id":"13643274-757f-40bf-b0a1-9f58f7e87f07","name":"Prepare RAG Payload","type":"n8n-nodes-base.code","position":[1392,2272],"parameters":{"jsCode":"const items = $input.all();\n\n// Separate Parse item (has \"text\") from Split items (have \"category\")\nconst parseItem = items.find(\n  item => item.json.text !== undefined\n);\nconst splitItems = items.filter(\n  item => item.json.category !== undefined\n);\n\nconst fullText = parseItem?.json?.text || '';\nconst docId    = $('Generate Doc ID').first().json.doc_id;\nconst fileName = $('Generate Doc ID').first().json.file_name;\n\nconst segments = splitItems.map(item => ({\n  category: item.json.category || 'uncategorized',\n  pages:    item.json.pages || []\n}));\n\nreturn [{\n  json: {\n    doc_id:    docId,\n    file_name: fileName,\n    full_text: fullText,\n    segments:  segments\n  }\n}];"},"typeVersion":2},{"id":"97496994-5b8b-44c8-956d-e1c1971d6064","name":"Merge","type":"n8n-nodes-base.merge","position":[1168,2272],"parameters":{},"typeVersion":3.2},{"id":"cad31211-c8a4-4865-a3a2-1a5b0e2fad30","name":"Carve Text by Section","type":"n8n-nodes-base.code","position":[1616,2272],"parameters":{"jsCode":"const item = $input.first();\n\nconst fullText  = item.json.full_text || '';\nconst segments  = item.json.segments || [];\nconst doc_id    = item.json.doc_id || '';\nconst fileName  = item.json.file_name || '';\n\n// Split full text by page number markers\n// LlamaParse embeds <page_number>N</page_number> tags\nconst pagePattern = /<page_number>(\\d+)<\\/page_number>/gi;\nconst pageTexts   = {};\n\nlet lastPage    = 1;\nlet lastIndex   = 0;\nlet match;\n\n// Find all page markers and extract text per page\nconst allMatches = [...fullText.matchAll(/<page_number>(\\d+)<\\/page_number>/gi)];\n\nallMatches.forEach((m, idx) => {\n  const pageNum  = parseInt(m[1]);\n  const startIdx = lastIndex;\n  const endIdx   = m.index;\n\n  if (!pageTexts[lastPage]) pageTexts[lastPage] = '';\n  pageTexts[lastPage] += fullText.slice(startIdx, endIdx);\n\n  lastPage  = pageNum;\n  lastIndex = m.index + m[0].length;\n});\n\n// Add remaining text after last marker\nif (!pageTexts[lastPage]) pageTexts[lastPage] = '';\npageTexts[lastPage] += fullText.slice(lastIndex);\n\n// Now carve text per segment using EXACT page content\nconst results = [];\n\nsegments.forEach((seg) => {\n  const pages = seg.pages || [];\n  if (pages.length === 0) return;\n\n  // Get exact text for these pages\n  let sectionText = pages\n    .map(p => pageTexts[p] || '')\n    .join('\\n\\n')\n    .trim();\n\n  if (sectionText.length < 30) return;\n\n  // Semantic chunking by paragraph\n  const paragraphs = sectionText\n    .split(/\\n\\n+/)\n    .map(p => p.trim())\n    .filter(p => p.length > 30);\n\n  const maxChunkSize = 600;\n  let currentChunk   = '';\n  let chunkIndex     = 0;\n\n  paragraphs.forEach((para) => {\n    if (currentChunk.length > 0 &&\n        (currentChunk + '\\n\\n' + para).length > maxChunkSize) {\n      results.push({\n        json: {\n          doc_id,\n          file_name:   fileName,\n          section:     seg.category,\n          chunk_index: chunkIndex,\n          chunk_text:  currentChunk,\n          page_ref:    pages.join(', '),\n          uploaded_at: new Date().toISOString()\n        }\n      });\n      chunkIndex++;\n      currentChunk = para;\n    } else {\n      currentChunk = currentChunk\n        ? currentChunk + '\\n\\n' + para\n        : para;\n    }\n  });\n\n  if (currentChunk.length > 30) {\n    results.push({\n      json: {\n        doc_id,\n        file_name:   fileName,\n        section:     seg.category,\n        chunk_index: chunkIndex,\n        chunk_text:  currentChunk,\n        page_ref:    pages.join(', '),\n        uploaded_at: new Date().toISOString()\n      }\n    });\n  }\n});\n\nreturn results;"},"typeVersion":2},{"id":"82468d1e-93d1-4b1b-82ee-dcf3de92c9ae","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[1808,2272],"parameters":{"options":{}},"typeVersion":3},{"id":"27872a53-f8f8-412e-8a2c-23c007e93ddc","name":"Gemini — Embed Chunk","type":"n8n-nodes-base.httpRequest","position":[2064,2176],"parameters":{"url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-embedding-001:embedContent?key=YOUR_TOKEN_HERE","method":"POST","options":{},"sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"models/gemini-embedding-001"},{"name":"content","value":"={{ { \"parts\": [{ \"text\": $json.chunk_text }] } }}"},{"name":"outputDimensionality","value":"768"},{"name":"taskType","value":"RETRIEVAL_DOCUMENT"}]}},"typeVersion":4.4},{"id":"09d1d0be-ea4c-4b97-b292-aee531df3c00","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[896,2016],"parameters":{"width":1568,"height":508,"content":"## 🧬 Pipeline 2 — RAG Ingestion\nSplits the document into semantic sections, chunks each section along paragraph boundaries (never mid-clause), embeds every chunk, and stores it in Supabase tagged with a doc_id.\n\n**Nodes:** Split a file + Parse a document → Merge → Prepare RAG Payload → Carve Text by Section → Loop Over Items → Gemini Embed → Insert Embed Vectors\n\n"},"typeVersion":1},{"id":"5d8074b3-fb9c-406f-b5b3-0b2e096bbe76","name":"Tender Tracker","type":"n8n-nodes-base.googleSheets","position":[1568,2768],"parameters":{"operation":"appendOrUpdate","sheetName":{"__rl":true,"mode":"list","value":"","cachedResultUrl":"","cachedResultName":""},"documentId":{"__rl":true,"mode":"list","value":"","cachedResultUrl":"","cachedResultName":""}},"credentials":{"googleSheetsOAuth2Api":{"id":"credential-id","name":"Google Sheets account"}},"typeVersion":4.7},{"id":"56126f53-3bb5-42d8-b0fa-6748857b7275","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1008,2576],"parameters":{"width":816,"height":356,"content":"## 📊 Pipeline 1 — Document Intelligence & Tracker\nParses the uploaded PDF, extracts key structured fields, and logs one row per document to a Google Sheets tracker.\n\n**Nodes:** Parse a document → Extract structured data → Normalize + Bid Score → Tender Tracker\n\n"},"typeVersion":1},{"id":"c782b45b-76c3-42c4-a429-2e0c1149782f","name":"Extract Question","type":"n8n-nodes-base.code","position":[768,3200],"parameters":{"jsCode":"const item = $input.first();\n\n// Chat trigger sends message in chatInput field\nconst question = item.json?.chatInput ||\n                 item.json?.message?.text ||\n                 item.json?.input || '';\n\n// ⚠️ CONFIGURE ME\n// This demo answers questions against ONE fixed document.\n// Replace the string below with the doc_id you want this chat\n// to search against (must match a doc_id already stored in\n// Supabase by the RAG Ingestion Pipeline).\n//\n// To support multiple documents / let the user pick one, replace\n// this hardcoded value with a lookup (e.g. a Supabase query for\n// available doc_ids, or ask the user to specify it in their message).\nconst docId = 'YOUR_DOC_ID_HERE';\n\nreturn [{\n  json: {\n    question: question,\n    doc_id:   docId\n  }\n}];"},"typeVersion":2},{"id":"94cbeac8-d54d-4430-aba0-e26ebbf6fa32","name":"Gemini — Embed Question","type":"n8n-nodes-base.httpRequest","position":[992,3200],"parameters":{"url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-embedding-001:embedContent?key=YOUR_TOKEN_HERE","method":"POST","options":{},"jsonBody":"={\n  \"model\": \"models/gemini-embedding-001\",\n  \"content\": {\n    \"parts\": [\n      {\n        \"text\": \"={{ $json.question }}\"\n      }\n    ]\n  },\n  \"outputDimensionality\": 768,\n\"taskType\": \"RETRIEVAL_QUERY\"\n}","sendBody":true,"specifyBody":"json"},"typeVersion":4.4},{"id":"1a2f5522-1f49-4ee9-8309-2a12cfb9325a","name":"Vector Search","type":"n8n-nodes-base.httpRequest","position":[1200,3200],"parameters":{"url":"https://YOUR_SUPABASE_PROJECT.supabase.co/rest/v1/rpc/match_tender_chunks","method":"POST","options":{},"jsonBody":"={\n  \"query_embedding\": \"{{ '[' + $('Gemini — Embed Question').item.json.embedding.values.join(',') + ']' }}\",\n  \"match_doc_id\": \"{{ $('Extract Question').item.json.doc_id }}\",\n  \"match_count\": 8\n}","sendBody":true,"sendHeaders":true,"specifyBody":"json","headerParameters":{"parameters":[{"name":"apikey","value":"YOUR_SUPABASE_ANON_KEY"},{"name":"Authorization","value":"Bearer YOUR_TOKEN_HERE"},{"name":"Content-Type","value":"application/json"}]}},"typeVersion":4.4},{"id":"b9626bbd-4f0a-4fc8-a566-c93aeb8fd7c9","name":"Build Context","type":"n8n-nodes-base.code","position":[1408,3200],"parameters":{"jsCode":"const items = $input.all();\n\n// Build context from top 3 chunks\nconst contextParts = items.map((item, idx) => {\n  const section   = item.json.section || 'unknown';\n  const chunkText = item.json.chunk_text || '';\n  const similarity = item.json.similarity || 0;\n  return `[Source ${idx + 1} — Section: ${section} | Similarity: ${Math.round(similarity * 100)}%]:\\n${chunkText}`;\n});\n\nconst context = contextParts.join('\\n\\n---\\n\\n');\nconst sources = [...new Set(items.map(i => i.json.section))].join(', ');\n\n// Get original question\nconst question = $('Extract Question').first().json.question;\nconst docId    = $('Extract Question').first().json.doc_id;\n\nreturn [{\n  json: {\n    context,\n    sources,\n    question,\n    doc_id: docId\n  }\n}];"},"typeVersion":2},{"id":"c16ff20d-3ead-4ed4-b0df-94ba803c0595","name":"DeepSeek AI Answer","type":"@n8n/n8n-nodes-langchain.anthropic","position":[1584,3200],"parameters":{"modelId":{"__rl":true,"mode":"list","value":"deepseek-v4-flash","cachedResultName":"deepseek-v4-flash"},"options":{"system":"You are a tender document assistant for [YOUR COMPANY NAME]. Your job is to extract and present information from tender documents accurately.\n\nRules:\n- Answer ONLY from the provided context\n- ALWAYS structure your answer as bullet points\n- Include ALL relevant details from the context\n- Never summarize or omit details\n- If information appears in multiple sources, \n  combine them into one complete answer\n- Always cite which section the answer came from\n- If information is not in context, say exactly:\n  \"This information is not in the selected tender document\"\n- Never add information not present in the context","maxTokens":2000,"temperature":0},"messages":{"values":[{"content":"={{ 'Context:\\n' + $json.context + '\\n\\nQuestion: ' + $json.question }}"}]}},"credentials":{"anthropicApi":{"id":"credential-id","name":"Anthropic account"}},"retryOnFail":true,"typeVersion":1},{"id":"ed3d5e82-0f7a-4322-b77e-da77c11390ef","name":"Code in JavaScript","type":"n8n-nodes-base.code","position":[1872,3200],"parameters":{"jsCode":"const item = $input.first();\n\nlet answer = '';\n\n// DeepSeek is returning content directly at top level\n// not nested inside choices[0].message.content\nconst content = item.json?.content || \n                item.json?.choices?.[0]?.message?.content;\n\nif (typeof content === 'string') {\n  answer = content;\n} else if (Array.isArray(content)) {\n  // Find text block — skip thinking blocks\n  const textBlock = content.find(b => b.type === 'text');\n  answer = textBlock?.text || '';\n} else {\n  answer = 'Sorry, could not generate an answer.';\n}\n\nconst sources = $('Build Context').first().json.sources;\n\nreturn [{\n  json: {\n    output: `${answer}\\n\\n📄 *Sources: ${sources}*`\n  }\n}];"},"typeVersion":2},{"id":"ca638d82-5a2f-4248-8ab3-892c14af12be","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[544,3008],"parameters":{"width":1728,"height":440,"content":"## 💬 Pipeline 3 — Conversational Chat (WhatsApp)\nIndependently triggered by an incoming message\n\n**Nodes:** WhatsApp Trigger → Extract Question → Gemini Embed Question → Vector Search (Supabase RPC) → Build Context → DeepSeek/LLM Answer → Format Reply → Send a text message\n\n"},"typeVersion":1},{"id":"165e4685-420e-433a-8c57-c6b1e7d77edc","name":"Insert Embed Vectors","type":"n8n-nodes-base.supabase","position":[2288,2272],"parameters":{"tableId":"tender_chunks","fieldsUi":{"fieldValues":[{"fieldId":"doc_id","fieldValue":"={{ $('Loop Over Items').item.json.doc_id }}"},{"fieldId":"file_name","fieldValue":"={{ $('Loop Over Items').item.json.file_name }}"},{"fieldId":"section","fieldValue":"={{ $('Loop Over Items').item.json.section }}"},{"fieldId":"chunk_index","fieldValue":"={{ $('Loop Over Items').item.json.chunk_index }}"},{"fieldId":"chunk_text","fieldValue":"={{ $('Loop Over Items').item.json.chunk_text }}"},{"fieldId":"page_ref","fieldValue":"={{ $('Loop Over Items').item.json.page_ref }}"},{"fieldId":"uploaded_at","fieldValue":"={{ $('Loop Over Items').item.json.uploaded_at }}"},{"fieldId":"embedding","fieldValue":"={{ $json.embedding.values }}"}]}},"credentials":{"supabaseApi":{"id":"credential-id","name":"Supabase account"}},"typeVersion":1},{"id":"2578e9c2-92f5-4e7b-8c57-6700b15cf58a","name":"Overview","type":"n8n-nodes-base.stickyNote","position":[-256,1952],"parameters":{"color":4,"width":688,"height":1394,"content":"## 🗂️ AI Tender Document Analyser (Powered by LlamaParse + RAG)\nThis workflow turns a long tender/RFT PDF into structured tracker data AND a searchable chat interface — in one pipeline. Upload a document once; extract it automatically and ask it questions forever after.\n\n### 🧩 Why Semantic Chunking Is Important Here\nMost RAG workflows split documents by raw character count, which cuts legal clauses in half mid-sentence (a dollar amount ends up in one chunk, its conditions in the next). This workflow instead:\n• Uses LlamaParse's embedded page markers to extract EXACT section text (not an approximated line count)\n• Splits along paragraph/clause boundaries so every chunk stays one complete, self-contained requirement\n• This single change took retrieval accuracy from \"context does not contain this information\" to 100% on validated test questions\n\n### 🔍 What It Does\nThis workflow:\n• Accepts a tender PDF via form upload\n• Classifies it, then extracts structured fields (deadlines, insurance, compliance, contacts) into a Google Sheet\n• Splits the document into semantic sections and stores embedded chunks in Supabase, isolated per document\n• Powers a Telegram chat bot that answers questions about the document, citing the exact section every time\n\n### ⚙️ How It Works (High-level)\n• User uploads a PDF via the form\n• LlamaParse Platform parses, classifies, and extracts structured fields\n• Extracted fields are logged to a Google Sheets tracker\n• In parallel, the document is semantically chunked and embedded \n• Chunks are stored in Supabase (pgvector) tagged with a doc_id\n• A Whatsapp message triggers the chat pipeline: question → embedded → vector search scoped to doc_id → context assembled → LLM answers strictly from that context → reply sent back to Whatsapp\n\n### 🧠 Key Capabilities\n• Structure-aware parsing (not basic OCR) via LlamaParse Platform\n• Semantic, paragraph-aligned chunking — no clause ever split across chunks\n• Document-isolated vector search — multiple tenders never bleed into one answer\n• Deterministic answers — same question returns the same complete answer every run\n• Explicit \"not in document\" response instead of hallucinating when information is missing\n• Every answer cites the section it came from\n\n### 📦 Requirements\n• LlamaParse API key  (cloud.llamaindex.ai)\n• Google Gemini API key (embeddings)\n• Supabase project with pgvector enabled \n• Google Sheets OAuth2 credential\n• Anthropic-compatible or DeepSeek chat completion credential (used for answer generation)\n\n### 💡 Example Use Cases\n• Government/municipal RFT and tender review for contractors\n• Any procurement team that reviews multiple RFPs/RFQs weekly\n• Turning any dense legal/compliance PDF into a queryable knowledge base\n• Cross-referencing scope, insurance, and deadline requirements without re-reading the source document\n\n### 🎯 Output\n• Structured Google Sheets row per document (for tracking/comparison)\n• Conversational Whatsapp interface, permanently searchable per document\n• Source-cited, deterministic answers — never a guess"},"typeVersion":1},{"id":"e5271406-eaf5-4f4b-ab77-f28b3cc2ab3e","name":"WhatsApp Trigger","type":"n8n-nodes-base.whatsAppTrigger","position":[576,3200],"webhookId":"f12a0dcf-f212-408d-9725-f8f70f930363","parameters":{"options":{},"updates":["messages"]},"typeVersion":1},{"id":"1fb84e5b-cce1-44af-aecd-2cc56c9fba66","name":"Send message","type":"n8n-nodes-base.whatsApp","position":[2080,3200],"webhookId":"ea19b7b4-56ee-4160-ba5f-84fb419705b9","parameters":{"operation":"send","additionalFields":{}},"typeVersion":1.1}],"active":false,"pinData":{},"settings":{"binaryMode":"separate","executionOrder":"v1"},"versionId":"d978e42d-5274-4203-94db-a9e22f65fe05","connections":{"Merge":{"main":[[{"node":"Prepare RAG Payload","type":"main","index":0}]]},"Split a file":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Build Context":{"main":[[{"node":"DeepSeek AI Answer","type":"main","index":0}]]},"Vector Search":{"main":[[{"node":"Build Context","type":"main","index":0}]]},"Generate Doc ID":{"main":[[{"node":"Parse a document","type":"main","index":0},{"node":"Split a file","type":"main","index":0},{"node":"Extract structured data from a document","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Gemini — Embed Chunk","type":"main","index":0}]]},"Extract Question":{"main":[[{"node":"Gemini — Embed Question","type":"main","index":0}]]},"Parse a document":{"main":[[{"node":"Merge","type":"main","index":0}]]},"WhatsApp Trigger":{"main":[[{"node":"Extract Question","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Send message","type":"main","index":0}]]},"DeepSeek AI Answer":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"Generate Doc ID","type":"main","index":0}]]},"Prepare RAG Payload":{"main":[[{"node":"Carve Text by Section","type":"main","index":0}]]},"Insert Embed Vectors":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Carve Text by Section":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Normalize + Bid Score":{"main":[[{"node":"Tender Tracker","type":"main","index":0}]]},"Gemini — Embed Chunk":{"main":[[{"node":"Insert Embed Vectors","type":"main","index":0}]]},"Gemini — Embed Question":{"main":[[{"node":"Vector Search","type":"main","index":0}]]},"Extract structured data from a document":{"main":[[{"node":"Normalize + Bid Score","type":"main","index":0}]]}}}