workflows/Review stale Notion docs with Gmail alerts, Slack reports, and OpenAI-16828/16828-review-stale-notion-docs-with-gmail-alerts--slack-reports--and-openai.webp
{"meta":{"templateCredsSetupCompleted":true},"name":"Docs Freshness Auditor — Find & Chase Stale Notion Documentation (Notion → Gmail → Slack)","nodes":[{"id":"dfa-sticky-00","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-1040,-340],"parameters":{"width":480,"height":640,"content":"## 🍞 Docs Freshness Auditor\n\nDocumentation rots silently. Every Friday this workflow scans a **Notion database of docs**, finds pages untouched for **90+ days**, marks them *Needs review*, emails owners of critical docs directly, and posts an AI-prioritized review plan to Slack.\n\n### 🔧 Setup\n1. Your Notion database needs these properties: `Owner Email` (email/text), `Importance` (select: `Critical` / `Normal`), `Status` (select including `Needs review`).\n2. Connect **Notion**, **Gmail**, **OpenAI** and **Slack** credentials.\n3. Pick your database in **Scan Docs Database** and **Mark: Needs Review**.\n4. Adjust the staleness threshold (90 days) in **Stale 90+ Days**.\n5. Activate — runs every **Friday at 10:00**.\n\n### 💡 Why it's useful\nOnboarding pain and support tickets often trace back to one outdated wiki page. This finds it before your newest hire does."},"typeVersion":1},{"id":"dfa-sticky-01","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-500,-160],"parameters":{"color":4,"width":660,"height":420,"content":"### 1️⃣ Scan & score\nLoad every doc page, compute its age from `last_edited_time`, keep the ones untouched for 90+ days."},"typeVersion":1},{"id":"dfa-sticky-02","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[200,-160],"parameters":{"color":5,"width":620,"height":560,"content":"### 2️⃣ Flag & escalate\nStale pages get status *Needs review* in Notion. Owners of **Critical** docs get a direct email; normal docs just go into the weekly digest."},"typeVersion":1},{"id":"dfa-sticky-03","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[860,-160],"parameters":{"color":6,"width":660,"height":420,"content":"### 3️⃣ Weekly review plan\nThe LLM ranks the stale docs by risk and writes a short, actionable review plan for the team channel."},"typeVersion":1},{"id":"dfa-node-01","name":"Every Friday 10:00","type":"n8n-nodes-base.scheduleTrigger","position":[-940,420],"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[5],"triggerAtHour":10}]}},"typeVersion":1.2},{"id":"dfa-node-02","name":"Scan Docs Database","type":"n8n-nodes-base.notion","position":[-700,420],"parameters":{"options":{},"resource":"databasePage","operation":"getAll","returnAll":true,"databaseId":{"__rl":true,"mode":"list","value":""}},"typeVersion":2.2},{"id":"dfa-node-03","name":"Compute Doc Age","type":"n8n-nodes-base.code","position":[-440,100],"parameters":{"jsCode":"// Compute the age of every doc page and normalize the fields we need\nconst today = new Date();\n\nreturn $input.all().map(item => {\n  const page = item.json;\n  const lastEdited = new Date(page.last_edited_time);\n  const ageDays = Math.floor((today - lastEdited) / 864e5);\n\n  // Notion property shapes vary — adjust these paths to your database if needed\n  const props = page.properties || {};\n  const title = props.Name?.title?.[0]?.plain_text\n    || props.Title?.title?.[0]?.plain_text\n    || '(untitled)';\n  const ownerEmail = props['Owner Email']?.email\n    || props['Owner Email']?.rich_text?.[0]?.plain_text\n    || '';\n  const importance = props.Importance?.select?.name || 'Normal';\n\n  return {\n    json: {\n      pageId: page.id,\n      url: page.url,\n      title,\n      ownerEmail,\n      importance,\n      ageDays,\n      lastEdited: lastEdited.toISOString().slice(0, 10)\n    }\n  };\n});"},"typeVersion":2},{"id":"dfa-node-04","name":"Stale 90+ Days","type":"n8n-nodes-base.filter","position":[-200,100],"parameters":{"options":{},"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"flt-1","operator":{"type":"number","operation":"gte"},"leftValue":"={{ $json.ageDays }}","rightValue":90}]}},"typeVersion":2.2},{"id":"dfa-node-05","name":"Mark: Needs Review","type":"n8n-nodes-base.notion","position":[260,100],"parameters":{"pageId":{"__rl":true,"mode":"id","value":"={{ $json.pageId }}"},"options":{},"resource":"databasePage","operation":"update","propertiesUi":{"propertyValues":[{"key":"Status|select","selectValue":"Needs review"}]}},"typeVersion":2.2},{"id":"dfa-node-06","name":"Critical With Owner?","type":"n8n-nodes-base.if","position":[480,100],"parameters":{"options":{},"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"if-1","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('Compute Doc Age').item.json.importance }}","rightValue":"Critical"},{"id":"if-2","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $('Compute Doc Age').item.json.ownerEmail }}","rightValue":""}]}},"typeVersion":2.2},{"id":"dfa-node-07","name":"Email The Owner","type":"n8n-nodes-base.gmail","position":[700,0],"parameters":{"sendTo":"={{ $('Compute Doc Age').item.json.ownerEmail }}","message":"=Hi,\n\nYou own a <b>critical</b> document that hasn't been updated in <b>{{ $('Compute Doc Age').item.json.ageDays }} days</b>:\n\n<b>{{ $('Compute Doc Age').item.json.title }}</b><br>\n{{ $('Compute Doc Age').item.json.url }}\n\nPlease review it this week — confirm it's still accurate (then just update the date) or fix what changed.\n\nThanks!\nDocs Freshness Bot 🤖","options":{},"subject":"=🍞 Critical doc going stale: \"{{ $('Compute Doc Age').item.json.title }}\" ({{ $('Compute Doc Age').item.json.ageDays }} days old)"},"typeVersion":2.1},{"id":"dfa-node-08","name":"Normal → Digest Only","type":"n8n-nodes-base.noOp","position":[700,220],"parameters":{},"typeVersion":1},{"id":"dfa-node-09","name":"Bundle Stale Docs","type":"n8n-nodes-base.aggregate","position":[920,100],"parameters":{"options":{},"aggregate":"aggregateAllItemData","destinationFieldName":"staleDocs"},"typeVersion":1},{"id":"dfa-node-10","name":"Write Review Plan","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[1120,100],"parameters":{"text":"=These documentation pages are stale (90+ days without edits):\n\n{{ JSON.stringify($('Compute Doc Age').all().map(i => i.json), null, 2) }}\n\nWrite a short weekly \"docs review plan\" for Slack (max 220 words):\n1. One-line health summary (how many stale docs, how many critical)\n2. Top 5 docs to review first, ranked by risk (critical + oldest first), each with its link\n3. A closing nudge reminding people that reviewing a doc can be 10 minutes of work\n\nUse Slack formatting (*bold*, bullets, links as <url|title>).","messages":{"messageValues":[{"message":"You are a pragmatic technical writer who keeps internal documentation trustworthy."}]},"promptType":"define"},"typeVersion":1.5},{"id":"dfa-node-11","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[1160,320],"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"typeVersion":1.2},{"id":"dfa-node-12","name":"Post Review Plan","type":"n8n-nodes-base.slack","position":[1340,100],"parameters":{"text":"=🍞 *Weekly Docs Freshness Report*\n\n{{ $json.text }}","select":"channel","channelId":{"__rl":true,"mode":"name","value":"#docs"},"otherOptions":{}},"typeVersion":2.3}],"pinData":{},"settings":{"executionOrder":"v1"},"connections":{"Stale 90+ Days":{"main":[[{"node":"Mark: Needs Review","type":"main","index":0}]]},"Compute Doc Age":{"main":[[{"node":"Stale 90+ Days","type":"main","index":0}]]},"Email The Owner":{"main":[[{"node":"Bundle Stale Docs","type":"main","index":0}]]},"Bundle Stale Docs":{"main":[[{"node":"Write Review Plan","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Write Review Plan","type":"ai_languageModel","index":0}]]},"Write Review Plan":{"main":[[{"node":"Post Review Plan","type":"main","index":0}]]},"Every Friday 10:00":{"main":[[{"node":"Scan Docs Database","type":"main","index":0}]]},"Mark: Needs Review":{"main":[[{"node":"Critical With Owner?","type":"main","index":0}]]},"Scan Docs Database":{"main":[[{"node":"Compute Doc Age","type":"main","index":0}]]},"Critical With Owner?":{"main":[[{"node":"Email The Owner","type":"main","index":0}],[{"node":"Normal → Digest Only","type":"main","index":0}]]},"Normal → Digest Only":{"main":[[{"node":"Bundle Stale Docs","type":"main","index":0}]]}}}