workflows/Draft grounded Gmail support replies from a Notion KB with Groq and Cohere-16813/16813-draft-grounded-gmail-support-replies-from-a-notion-kb-with-groq-and-cohere.webp
{"meta":{"templateCredsSetupCompleted":true},"name":"Draft grounded support replies from a Notion knowledge base using Groq and Gmail","tags":[],"nodes":[{"id":"11d843a0-a945-4bcb-b8af-ec94d3c97c77","name":"Run KB Ingestion","type":"n8n-nodes-base.manualTrigger","position":[-256,288],"parameters":{},"typeVersion":1},{"id":"5c71ae62-9387-4141-afc8-d31ef3f6e9c6","name":"Get KB Articles","type":"n8n-nodes-base.notion","onError":"continueRegularOutput","position":[-64,288],"parameters":{"options":{},"resource":"databasePage","operation":"getAll","returnAll":true,"databaseId":{"__rl":true,"mode":"list","value":"YOUR_NOTION_DATABASE_ID","cachedResultName":"Cadence Knowledge Base"}},"typeVersion":2.2},{"id":"b4bfbbe8-2deb-481b-b33a-d3bf7eb3ca9a","name":"Check If Published","type":"n8n-nodes-base.if","position":[144,288],"parameters":{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.property_status }}","rightValue":"Published"}]}},"typeVersion":2.2},{"id":"95babe45-8bbd-4238-8628-09c21c4c49f7","name":"Get Article Body","type":"n8n-nodes-base.notion","onError":"continueRegularOutput","position":[464,272],"parameters":{"blockId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"resource":"block","operation":"getAll","returnAll":true},"typeVersion":2.2},{"id":"ed62031f-a67e-48d2-804a-111bdcef98b9","name":"Assemble Article Documents","type":"n8n-nodes-base.code","position":[640,272],"parameters":{"jsCode":"const pages = $('Get KB Articles').all().map((i) => i.json);\nconst norm = (s) => (s || '').toString().replace(/-/g, '');\nconst byId = {};\nfor (const p of pages) {\n  byId[norm(p.id)] = { title: p.property_title || p.name || 'Untitled', category: p.property_category || '', url: p.url || '', lastUpdated: (p.property_last_updated && p.property_last_updated.start) || '', parts: [] };\n}\nfor (const b of $input.all()) {\n  const j = b.json;\n  const pid = norm(j.root_id || j.parent_id || (j.parent && j.parent.page_id) || '');\n  const c = (j.content || '').trim();\n  if (byId[pid] && c) byId[pid].parts.push(c);\n}\nreturn Object.values(byId)\n  .filter((a) => a.parts.length > 0)\n  .map((a) => ({ json: { title: a.title, category: a.category, url: a.url, last_updated: a.lastUpdated, text: a.parts.join('\\n\\n') } }));"},"typeVersion":2},{"id":"51924453-ea25-44fa-9b7b-c26e79f027fd","name":"Store KB Vectors","type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","position":[1024,224],"parameters":{"mode":"insert","memoryKey":{"__rl":true,"mode":"list","value":"cadence_kb","cachedResultName":"cadence_kb"},"clearStore":true},"typeVersion":1.3},{"id":"259251b9-ce90-438c-8612-78d98e25353f","name":"Load Article Text","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[1088,400],"parameters":{"options":{"metadata":{"metadataValues":[{"name":"title","value":"={{ $json.title }}"},{"name":"category","value":"={{ $json.category }}"},{"name":"url","value":"={{ $json.url }}"},{"name":"last_updated","value":"={{ $json.last_updated }}"},{"name":"indexed_at","value":"={{ $now.toISO() }}"}]}},"dataType":"json","jsonData":"={{ $json.text }}","jsonMode":"expressionData","textSplittingMode":"custom"},"typeVersion":1.1},{"id":"83fb4f82-8af9-40cf-a250-458032c9f0fd","name":"Split Article Into Chunks","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","position":[1088,544],"parameters":{"options":{"splitCode":"markdown"},"chunkSize":1000,"chunkOverlap":100},"typeVersion":1},{"id":"bafebe06-a755-4eec-bfb8-a4c09cf7bba4","name":"When Support Email Arrives","type":"n8n-nodes-base.gmailTrigger","position":[-224,1056],"parameters":{"simple":false,"filters":{"q":"to:user@example.com","readStatus":"unread"},"options":{},"pollTimes":{"item":[{"mode":"everyMinute"}]}},"typeVersion":1.4},{"id":"823effca-64d6-4967-b941-a901ba55841b","name":"Normalize Email","type":"n8n-nodes-base.set","position":[-16,1056],"parameters":{"options":{},"assignments":{"assignments":[{"id":"a1","name":"emailSubject","type":"string","value":"={{ $json.subject }}"},{"id":"a2","name":"emailBody","type":"string","value":"={{ $json.text ?? $json.snippet ?? \"\" }}"},{"id":"a3","name":"senderEmail","type":"string","value":"={{ $json.from }}"},{"id":"a4","name":"threadId","type":"string","value":"={{ $json.threadId }}"},{"id":"a5","name":"question","type":"string","value":"={{ $json.subject }}\n\n{{ $json.text }}"},{"id":"a6","name":"companyName","type":"string","value":"Cadence"},{"id":"a7","name":"signature","type":"string","value":"Cadence Support"},{"id":"a8","name":"minRelevance","type":"number","value":0.3}]}},"typeVersion":3.4},{"id":"cfcae77d-93e4-4a75-9e47-635fcef15db8","name":"Classify Inquiry","type":"@n8n/n8n-nodes-langchain.textClassifier","position":[256,1024],"parameters":{"options":{"fallback":"other"},"inputText":"={{ $json.question }}","categories":{"categories":[{"category":"support_question","description":"A genuine product or account question that the knowledge base could answer."},{"category":"noise","description":"Spam, newsletters, auto-replies, out-of-office, or messages that contain no question."},{"category":"already_resolved","description":"A thank-you, confirmation, or message saying the issue is already solved and needs no answer."}]}},"typeVersion":1.1},{"id":"69dd2cac-0c52-4d58-93a8-31fa6461f4d4","name":"Retrieve From KB","type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","position":[752,976],"parameters":{"mode":"load","topK":8,"prompt":"={{ $('Normalize Email').item.json.question }}","memoryKey":{"__rl":true,"mode":"list","value":"cadence_kb","cachedResultName":"cadence_kb"},"useReranker":true,"includeDocumentMetadata":true},"typeVersion":1.3},{"id":"e13981a1-36bd-4496-8a98-8d5dab88dfef","name":"Bundle Retrieved Sources","type":"n8n-nodes-base.code","position":[1040,976],"parameters":{"jsCode":"const docs = $input.all().map((i) => i.json);\nconst norm = $('Normalize Email').first().json;\nconst minRel = Number(norm.minRelevance);\nconst md = (d) => d.metadata || (d.document && d.document.metadata) || {};\nconst content = (d) => d.pageContent || (d.document && d.document.pageContent) || d.text || '';\nconst scoreOf = (d) => {\n  const m = md(d);\n  const cands = [d.relevanceScore, d.rerankScore, d.score, m.relevanceScore, m.rerankScore, m.score];\n  const n = cands.find((v) => typeof v === 'number');\n  return typeof n === 'number' ? n : null;\n};\nconst scores = docs.map(scoreOf).filter((v) => v !== null);\nconst topScore = scores.length ? Math.max.apply(null, scores) : null;\nconst retrievalConfident = (docs.length > 0) && (topScore === null || isNaN(minRel) || topScore >= minRel);\nconst sourcesText = docs.map((d, i) => '[' + (i + 1) + '] ' + (md(d).title || 'Source') + '\\n' + content(d)).join('\\n\\n');\nconst seen = new Set();\nconst list = [];\nfor (const d of docs) {\n  const t = md(d).title || 'Source';\n  const u = md(d).url || '';\n  if (!seen.has(t)) { seen.add(t); list.push('- ' + t + (u ? ' (' + u + ')' : '')); }\n}\nreturn [{ json: { sourcesText: sourcesText, sourcesList: list.join('\\n'), topScore: topScore, retrievalConfident: retrievalConfident, question: norm.question, emailSubject: norm.emailSubject, senderEmail: norm.senderEmail, threadId: norm.threadId } }];"},"typeVersion":2},{"id":"268acdb6-d236-4aa9-a195-2c14908d033d","name":"Check Retrieval Confidence","type":"n8n-nodes-base.if","position":[1280,976],"parameters":{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.retrievalConfident }}"}]}},"typeVersion":2.2},{"id":"a9f0d27f-3a99-4571-8c0b-b1de269ee12d","name":"Draft Grounded Reply","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[1488,960],"parameters":{"text":"=You are a customer support agent for Cadence, a team time-tracking and invoicing SaaS. Answer the customer question using ONLY the information in the sources below. Do not use any outside knowledge. If the sources do not contain enough information to answer, reply with exactly: NEEDS_HUMAN\n\nWrite a friendly, concise reply in plain text. Do not add a greeting line or a signature.\n\nSOURCES:\n{{ $json.sourcesText }}\n\nCUSTOMER QUESTION:\n{{ $json.question }}","promptType":"define"},"typeVersion":1.9},{"id":"6a1181c8-ac7b-4f52-8651-ba645ec88ffb","name":"Check If Answered","type":"n8n-nodes-base.if","position":[1760,960],"parameters":{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"notContains"},"leftValue":"={{ $json.text }}","rightValue":"NEEDS_HUMAN"}]}},"typeVersion":2.2},{"id":"231dce17-957b-49e5-898b-fbf7f6b9c899","name":"Build Reply With Sources","type":"n8n-nodes-base.set","position":[2096,944],"parameters":{"options":{},"assignments":{"assignments":[{"id":"b1","name":"replyBody","type":"string","value":"={{ $('Draft Grounded Reply').item.json.text }}\n\nSources:\n{{ $('Bundle Retrieved Sources').item.json.sourcesList }}"},{"id":"b2","name":"senderEmail","type":"string","value":"={{ $('Bundle Retrieved Sources').item.json.senderEmail }}"},{"id":"b3","name":"threadId","type":"string","value":"={{ $('Bundle Retrieved Sources').item.json.threadId }}"},{"id":"b4","name":"emailSubject","type":"string","value":"={{ $('Bundle Retrieved Sources').item.json.emailSubject }}"}]}},"typeVersion":3.4},{"id":"e05078d8-19fc-47ff-a696-6957e42cb7da","name":"Save Draft For Review","type":"n8n-nodes-base.gmail","position":[2304,944],"parameters":{"message":"={{ $json.replyBody }}","options":{"sendTo":"={{ $json.senderEmail }}","threadId":"={{ $json.threadId }}"},"subject":"=Re: {{ $json.emailSubject }}","resource":"draft","emailType":"text","operation":"create"},"typeVersion":2.2},{"id":"52d06bee-c98a-4a4d-b28e-02cc4cbd21b1","name":"Groq Triage Model","type":"@n8n/n8n-nodes-langchain.lmChatGroq","position":[256,1296],"parameters":{"model":"llama-3.3-70b-versatile","options":{"temperature":0}},"typeVersion":1},{"id":"34f958e2-6da4-49af-a6f9-38fe5ec33c2f","name":"Groq Draft Model","type":"@n8n/n8n-nodes-langchain.lmChatGroq","position":[1488,1152],"parameters":{"model":"llama-3.3-70b-versatile","options":{"temperature":0.2}},"typeVersion":1},{"id":"47cf81a6-e566-4f0f-b890-29d4cc74eda4","name":"Embed Articles With Cohere","type":"@n8n/n8n-nodes-langchain.embeddingsCohere","position":[944,400],"parameters":{"modelName":"embed-english-v3.0"},"typeVersion":1},{"id":"74bd073e-af79-4649-96a8-b95b46a17702","name":"Embed Query With Cohere","type":"@n8n/n8n-nodes-langchain.embeddingsCohere","position":[752,1200],"parameters":{"modelName":"embed-english-v3.0"},"typeVersion":1},{"id":"8380e5c0-36fe-484f-994d-744bbb12fa40","name":"Rerank Matches With Cohere","type":"@n8n/n8n-nodes-langchain.rerankerCohere","position":[912,1200],"parameters":{"topN":4,"modelName":"rerank-v3.5"},"typeVersion":1},{"id":"5e432721-723c-4f76-9300-9e6399acccb3","name":"Sticky Note - Overview","type":"n8n-nodes-base.stickyNote","position":[-816,192],"parameters":{"width":480,"height":868,"content":"## Knowledge Base Inquiry Assistant (RAG)\n\n### How it works\n\n1. Run the ingestion trigger to read published articles from a Notion knowledge base, split each one into chunks, embed them with Cohere, and store the vectors in the built-in Simple Vector Store.\n2. When a support email arrives, a Groq classifier sorts it into a real question, noise, or an already-resolved thread, and only real questions continue.\n3. The question retrieves candidate chunks and a Cohere reranker reorders them by relevance, then a confidence gate stops weak matches before any model call.\n4. Groq drafts a reply using only the retrieved sources, and answers not found in the knowledge base are held back for a human.\n5. The grounded reply is saved as a Gmail draft with a sources list for a person to review and send.\n\n### Setup steps\n\n- [ ] Connect Notion, Groq, Cohere, and Gmail credentials in the credential store.\n- [ ] Point Get KB Articles at your own knowledge base database and set the Gmail trigger search query.\n- [ ] Run the ingestion trigger once to build the vector store, then activate the workflow.\n\n### Customization\n\nSwap the Groq model, tune topK and the reranker topN, or adjust minRelevance in Normalize Email to control how strict the confidence gate is. The Simple Vector Store is in-memory, so re-run ingestion after an n8n restart."},"typeVersion":1},{"id":"f215e47c-0eb0-4acf-8eaa-69a756809411","name":"Sticky Note - Read Articles","type":"n8n-nodes-base.stickyNote","position":[-304,160],"parameters":{"color":7,"width":664,"height":304,"content":"## Read published KB articles\nPull published pages from the Notion knowledge base. Draft articles are skipped."},"typeVersion":1},{"id":"f9f040cc-b474-4045-a716-735e647471ad","name":"Sticky Note - Assemble Text","type":"n8n-nodes-base.stickyNote","position":[400,112],"parameters":{"color":7,"width":420,"height":320,"content":"## Fetch and assemble article text\nRead each page body and join the blocks into one document per article."},"typeVersion":1},{"id":"561a578b-857a-448c-8dd6-8f1860cd0599","name":"Sticky Note - Embed Store","type":"n8n-nodes-base.stickyNote","position":[864,48],"parameters":{"color":7,"width":498,"height":652,"content":"## Embed and store KB vectors\nChunk the text, embed it with Cohere, and store the vectors in the Simple Vector Store. Each chunk keeps title, category, url, and last_updated metadata."},"typeVersion":1},{"id":"814999c2-244e-47dd-85de-e1a49a5b87ce","name":"Sticky Note - Receive Email","type":"n8n-nodes-base.stickyNote","position":[-288,880],"parameters":{"color":7,"width":424,"height":368,"content":"## Receive and normalize email\nCapture each new support email and pull out the question, sender, and thread."},"typeVersion":1},{"id":"93ae9837-6ad6-47ce-afe1-3e3d0cd7a47d","name":"Sticky Note - Triage","type":"n8n-nodes-base.stickyNote","position":[192,848],"parameters":{"color":7,"width":412,"height":572,"content":"## Triage the inquiry\nDrop noise and already-resolved threads so only real questions continue."},"typeVersion":1},{"id":"4758ac0f-9037-4b6f-90ab-9c7862844bd9","name":"Sticky Note - Retrieve Rerank","type":"n8n-nodes-base.stickyNote","position":[656,800],"parameters":{"color":7,"width":544,"height":556,"content":"## Retrieve and rerank sources\nFetch candidate chunks for the question and rerank them by relevance with Cohere, then bundle a sources list."},"typeVersion":1},{"id":"7ac4fb18-c5f3-4155-a53d-43374146847a","name":"Sticky Note - Gate Draft","type":"n8n-nodes-base.stickyNote","position":[1248,784],"parameters":{"color":7,"width":721,"height":504,"content":"## Gate and draft the reply\nStop weak retrievals, then draft a reply from the sources only. Answers not found in the knowledge base are held back for a human."},"typeVersion":1},{"id":"210a31f9-ff36-4235-a46e-6666179be2d8","name":"Sticky Note - Save Draft","type":"n8n-nodes-base.stickyNote","position":[2016,768],"parameters":{"color":7,"width":484,"height":364,"content":"## Build and save the draft\nSave a Gmail draft with sources for a person to review. Nothing is auto-sent."},"typeVersion":1}],"pinData":{},"settings":{"executionOrder":"v1"},"connections":{"Get KB Articles":{"main":[[{"node":"Check If Published","type":"main","index":0}]]},"Normalize Email":{"main":[[{"node":"Classify Inquiry","type":"main","index":0}]]},"Classify Inquiry":{"main":[[{"node":"Retrieve From KB","type":"main","index":0}],[],[],[]]},"Get Article Body":{"main":[[{"node":"Assemble Article Documents","type":"main","index":0}]]},"Groq Draft Model":{"ai_languageModel":[[{"node":"Draft Grounded Reply","type":"ai_languageModel","index":0}]]},"Retrieve From KB":{"main":[[{"node":"Bundle Retrieved Sources","type":"main","index":0}]]},"Run KB Ingestion":{"main":[[{"node":"Get KB Articles","type":"main","index":0}]]},"Check If Answered":{"main":[[{"node":"Build Reply With Sources","type":"main","index":0}],[]]},"Groq Triage Model":{"ai_languageModel":[[{"node":"Classify Inquiry","type":"ai_languageModel","index":0}]]},"Load Article Text":{"ai_document":[[{"node":"Store KB Vectors","type":"ai_document","index":0}]]},"Check If Published":{"main":[[{"node":"Get Article Body","type":"main","index":0}],[]]},"Draft Grounded Reply":{"main":[[{"node":"Check If Answered","type":"main","index":0}]]},"Embed Query With Cohere":{"ai_embedding":[[{"node":"Retrieve From KB","type":"ai_embedding","index":0}]]},"Build Reply With Sources":{"main":[[{"node":"Save Draft For Review","type":"main","index":0}]]},"Bundle Retrieved Sources":{"main":[[{"node":"Check Retrieval Confidence","type":"main","index":0}]]},"Split Article Into Chunks":{"ai_textSplitter":[[{"node":"Load Article Text","type":"ai_textSplitter","index":0}]]},"Assemble Article Documents":{"main":[[{"node":"Store KB Vectors","type":"main","index":0}]]},"Check Retrieval Confidence":{"main":[[{"node":"Draft Grounded Reply","type":"main","index":0}],[]]},"Embed Articles With Cohere":{"ai_embedding":[[{"node":"Store KB Vectors","type":"ai_embedding","index":0}]]},"Rerank Matches With Cohere":{"ai_reranker":[[{"node":"Retrieve From KB","type":"ai_reranker","index":0}]]},"When Support Email Arrives":{"main":[[{"node":"Normalize Email","type":"main","index":0}]]}}}