workflows/Share and schedule blog posts to social media using RSS and Posta-16140/16140-share-and-schedule-blog-posts-to-social-media-using-rss-and-posta.webp
{"id":"u2Xp2NaAQa5wkE9H","meta":{"instanceId":"39a3102487046be4b62efd158285575e7be1bc28455490b873f61de6134af3c2","templateCredsSetupCompleted":true},"name":"Blog post shared to social media","tags":[{"id":"8rcWTt5CS63KQzEw","name":"socialmedia","createdAt":"2026-06-02T08:57:53.950Z","updatedAt":"2026-06-02T08:57:53.950Z"},{"id":"8xBogo6fq3RQfLdT","name":"autopost","createdAt":"2026-06-02T09:01:25.831Z","updatedAt":"2026-06-02T09:01:25.831Z"},{"id":"E2V7Vb6mVjkhPHEs","name":"blog","createdAt":"2026-06-02T08:57:45.531Z","updatedAt":"2026-06-02T08:57:45.531Z"},{"id":"ESvKanJ6OwKaH6u4","name":"posta","createdAt":"2026-06-02T09:01:40.639Z","updatedAt":"2026-06-02T09:01:40.639Z"}],"nodes":[{"id":"4e36d194-eb12-48fe-8ffd-09dbc45f5f14","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-848,-288],"parameters":{"width":480,"height":896,"content":"## Blog post shared to social media\n\n### How it works\n\n1. A manual trigger starts the run and reads the newest item from your blog's RSS feed.\n2. The article's hero image is downloaded and uploaded to Posta as media.\n3. Your connected social accounts are fetched as publishing targets.\n4. The image and article text are combined into a single post payload.\n5. Posta creates the post and schedules it across the selected networks.\n\n### Setup steps\n\n- [ ] Add your Posta credential (API token) to the Posta nodes\n- [ ] Set the RSS feed URL in the 'RSS Read' node to your blog\n- [ ] In 'Get many social accounts', confirm the accounts you want to publish to\n- [ ] Adjust the schedule time in the 'Schedule a post' node\n\n### Customization\n\nSwap the manual trigger for an RSS or Schedule trigger to publish new posts automatically."},"typeVersion":1},{"id":"a8f16864-4140-4359-86bb-f3aa5e912fac","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-288,-112],"parameters":{"color":7,"width":496,"height":352,"content":"## Fetch latest blog post\n\nStarts the run and reads the newest article from the RSS feed."},"typeVersion":1},{"id":"cff07305-37a3-4bd8-b7c6-b1b0d9e2e10b","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[320,-288],"parameters":{"color":7,"width":432,"height":304,"content":"## Prepare the article image\n\nDownloads the article's image and uploads it to Posta as media."},"typeVersion":1},{"id":"c349713b-94a5-4985-9d16-51e00eda3b25","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[496,336],"parameters":{"color":7,"width":240,"height":304,"content":"## Load target accounts\n\nFetches the connected social accounts to publish to."},"typeVersion":1},{"id":"43007709-31a8-4af9-9c38-8ed152ac2d3a","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[944,-128],"parameters":{"color":7,"width":896,"height":272,"content":"## Compose and schedule the post\n\nCombines image and text, then creates and schedules the post across networks."},"typeVersion":1},{"id":"f15e7ec2-775f-4e6b-a455-88ae68553636","name":"When clicking ‘Execute workflow’","type":"n8n-nodes-base.manualTrigger","position":[-240,64],"parameters":{},"typeVersion":1},{"id":"82974bd0-595d-405a-926d-6ee4ad07def8","name":"RSS Read","type":"n8n-nodes-base.rssFeedRead","notes":"Add the link to the RSS feed","position":[64,16],"parameters":{"url":"https://getposta.app/feed.xml","options":{}},"typeVersion":1.2},{"id":"a95327e0-ed2b-4154-bf73-e9ec55fb8af3","name":"Create a post","type":"n8n-nodes-posta.posta","position":[1312,-16],"parameters":{"caption":"={{ $json.content }}","additionalFields":{"hashtags":"={{ $json.categories[0] }}{{ $json.categories[2] }}","mediaIds":"={{ $('Upload media').item.json.media.id }}"},"socialAccountIds":"35","platformConfigurations":{"linkedin":{"documentTitle":"={{ $json.title }}"}}},"credentials":{"postaApi":{"id":"B35JRmx3PNisTqmS","name":"Posta account"}},"typeVersion":1},{"id":"969f72c4-be11-45c0-a9a5-3e37f036bff9","name":"Get many social accounts","type":"n8n-nodes-posta.posta","position":[544,464],"parameters":{"resource":"socialAccount"},"credentials":{"postaApi":{"id":"B35JRmx3PNisTqmS","name":"Posta account"}},"typeVersion":1},{"id":"19be590a-a990-4217-be2f-363b87b93702","name":"Upload media","type":"n8n-nodes-posta.posta","position":[608,-160],"parameters":{"resource":"media"},"credentials":{"postaApi":{"id":"B35JRmx3PNisTqmS","name":"Posta account"}},"typeVersion":1},{"id":"3dae8df0-04bb-4da6-b3d3-d0381db68ba2","name":"Download article image","type":"n8n-nodes-base.httpRequest","position":[368,-160],"parameters":{"url":"={{ $json.enclosure.url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"typeVersion":4.4},{"id":"c458d1d9-6d69-44fa-b2b4-48153513cc9f","name":"Combine image + article text","type":"n8n-nodes-base.merge","position":[992,-16],"parameters":{"mode":"combine","options":{},"combineBy":"combineByPosition"},"typeVersion":3.2},{"id":"af95f8ef-7688-40dd-acaa-8559f1b73978","name":"Schedule a post","type":"n8n-nodes-posta.posta","position":[1696,-16],"parameters":{"postId":"={{ $json.id }}","operation":"schedule","scheduledAt":"2026-06-30T00:00:00"},"credentials":{"postaApi":{"id":"B35JRmx3PNisTqmS","name":"Posta account"}},"typeVersion":1}],"active":false,"pinData":{},"settings":{"binaryMode":"separate","executionOrder":"v1"},"versionId":"135fcc44-1c2a-4684-a98d-2bdfaa0dd460","connections":{"RSS Read":{"main":[[{"node":"Download article image","type":"main","index":0},{"node":"Combine image + article text","type":"main","index":1}]]},"Upload media":{"main":[[{"node":"Combine image + article text","type":"main","index":0}]]},"Create a post":{"main":[[{"node":"Schedule a post","type":"main","index":0}]]},"Download article image":{"main":[[{"node":"Upload media","type":"main","index":0}]]},"Combine image + article text":{"main":[[{"node":"Create a post","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Get many social accounts","type":"main","index":0},{"node":"RSS Read","type":"main","index":0}]]}}}