workflows/Route CI-CD failure alerts with OpenAI, Slack, Linear, Sheets and Gmail-16402/16402-route-ci-cd-failure-alerts-with-openai--slack--linear--sheets-and-gmail.webp
{"id":"62dWb8nRiXUuekwB","meta":{"instanceId":"c91c5b6efe2709e07c37996245857ac5d863d575d07e0072127351337c204c40","templateCredsSetupCompleted":true},"name":"CI/CD Pipeline Failure Alert & Rollback Notifier","tags":[{"id":"2V3HXFbv2wqNGm6s","name":"Dev","createdAt":"2025-06-17T05:42:41.949Z","updatedAt":"2025-06-17T05:42:41.949Z"}],"nodes":[{"id":"034ab5bc-d5a1-4adf-963b-b267b685fb34","name":"Overview Note","type":"n8n-nodes-base.stickyNote","position":[-96,-112],"parameters":{"width":496,"height":640,"content":"## CI/CD Pipeline Failure Alert & Rollback Notifier\n\nThis workflow detects CI/CD pipeline failures, uses AI to identify the root cause, and automatically alerts the right teams.\n\n### How it Works\n\n- Receives failure webhooks from GitHub Actions, GitLab CI, CircleCI, etc.\n- Extracts pipeline details, error logs, commit SHA, and author.\n- Filters non-failure events and classifies severity.\n- Uses AI to generate a root-cause analysis and suggested fix.\n- Sends critical failures to Slack on-call channels.\n- Creates a Linear issue with the failure context.\n- Logs incidents to Google Sheets for tracking.\n- Emails a summary and diagnosis to the engineering lead.\n\n### Setup Steps\n\n1. Connect your CI/CD platform to the n8n webhook URL.\n2. Add OpenAI, Slack, Linear, Google Sheets, and Gmail credentials.\n3. Configure Slack channels, Linear IDs, and spreadsheet details.\n4. Set the engineering lead email address.\n5. Activate the workflow and test with a failed pipeline."},"typeVersion":1},{"id":"eb97a849-6226-4eaa-9544-e9e3e7f1ce88","name":"Section Note 1","type":"n8n-nodes-base.stickyNote","position":[416,-112],"parameters":{"color":7,"width":688,"height":640,"content":"## Step 1: Receive & Parse Pipeline Event\n\nThis section receives the raw webhook from the CI/CD platform and immediately validates and cleans the payload. The Code node extracts all key fields - pipeline name, branch, error log, commit SHA, author, and run URL - and returns a sentinel record if the payload is malformed so the filter node can safely drop it without crashing."},"typeVersion":1},{"id":"12c18a89-39af-4dee-b36b-6621b86490ad","name":"Section Note 2","type":"n8n-nodes-base.stickyNote","position":[1120,-112],"parameters":{"color":7,"width":960,"height":640,"content":"## Step 2: Filter, Classify & AI Diagnose\n\nThis section checks whether the event is a genuine failure (not a success, cancelled, or skipped run), then scores severity based on the affected branch and error pattern. The OpenAI node receives the raw error log and returns a concise plain-English root-cause summary plus a suggested remediation step, enriching all downstream notifications with actionable context."},"typeVersion":1},{"id":"b502ee74-fd2d-4632-b2f5-4772bc0e2ea8","name":"Section Note 3","type":"n8n-nodes-base.stickyNote","position":[2096,-112],"parameters":{"color":7,"width":1168,"height":640,"content":"## Step 3: Route Alerts, Track & Log\n\nBased on severity, Critical failures also fire an urgent Slack message to the on-call channel with rollback guidance. All failures - regardless of severity - create a Linear issue for engineering tracking, are appended to a Google Sheets incident log for trend analysis, and trigger a Gmail summary email to the engineering lead containing the AI diagnosis and the Linear issue URL."},"typeVersion":1},{"id":"19dc912d-5bd0-49ee-9b35-1ac9a15fc0a8","name":"Pipeline Failure Webhook","type":"n8n-nodes-base.webhook","position":[480,256],"webhookId":"YOUR_WEBHOOK_ID","parameters":{"path":"cicd-pipeline-failure","options":{},"httpMethod":"POST"},"typeVersion":2},{"id":"9dcb1d5c-e85e-427a-95cc-c5170798c037","name":"Parse Pipeline Payload","type":"n8n-nodes-base.code","position":[704,256],"parameters":{"jsCode":"const body = $input.first().json;\n\nconst status = String(body.status || body.conclusion || body.state || '').toLowerCase();\nconst pipelineName = body.workflow_name || body.workflow || body.pipeline || body.name || 'Unknown Pipeline';\nconst branch = body.head_branch || body.branch || body.ref || 'unknown';\nconst rawSha = body.sha || body.commit_sha || body.after || '';\nconst commitSha = rawSha ? String(rawSha).slice(0, 7) : 'unknown';\nconst rawAuthor = body.actor || body.pusher || body.commit_author || body.user || 'Unknown';\nconst commitAuthor = typeof rawAuthor === 'object' ? (rawAuthor.name || rawAuthor.login || 'Unknown') : String(rawAuthor);\nconst errorLog = String(body.error || body.error_log || body.message || body.failure_reason || body.output || 'No error log provided').slice(0, 1500);\nconst runUrl = body.html_url || body.url || body.run_url || body.web_url || '';\nconst repoName = (typeof body.repository === 'object' ? body.repository.full_name : body.repository) || body.repo || body.project || 'Unknown Repo';\nconst runId = String(body.run_id || body.id || body.pipeline_id || Date.now());\nconst triggeredAt = body.created_at || body.started_at || new Date().toISOString();\n\nif (!status) {\n  return [{ json: { _parseError: true, status: 'unknown', pipelineName, branch, commitSha, commitAuthor, errorLog, runUrl, repoName, runId, triggeredAt } }];\n}\n\nreturn [{ json: { _parseError: false, status, pipelineName, branch, commitSha, commitAuthor, errorLog, runUrl, repoName, runId, triggeredAt } }];"},"typeVersion":2},{"id":"b80fa57f-0397-49fc-b9b1-5e3e2130d29d","name":"Is Failure Event","type":"n8n-nodes-base.if","position":[928,256],"parameters":{"options":{},"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":false,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"cond-no-error","operator":{"type":"boolean","operation":"notEquals"},"leftValue":"={{ $json._parseError }}","rightValue":true},{"id":"cond-not-success","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.status }}","rightValue":"success"},{"id":"cond-not-cancelled","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.status }}","rightValue":"cancelled"},{"id":"cond-not-skipped","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.status }}","rightValue":"skipped"}]}},"typeVersion":2},{"id":"9f48806b-a8dd-4098-9f94-017ddc884d26","name":"Classify Severity","type":"n8n-nodes-base.set","position":[1152,256],"parameters":{"options":{},"assignments":{"assignments":[{"id":"asgn-severity","name":"severity","type":"string","value":"={{ ['main','master','production','prod'].includes($json.branch.toLowerCase()) ? 'Critical' : $json.branch.toLowerCase().startsWith('release') ? 'High' : 'Medium' }}"},{"id":"asgn-priority","name":"linearPriority","type":"number","value":"={{ ['main','master','production','prod'].includes($json.branch.toLowerCase()) ? 1 : $json.branch.toLowerCase().startsWith('release') ? 2 : 3 }}"},{"id":"asgn-title","name":"incidentTitle","type":"string","value":"=Pipeline Failure: {{ $json.pipelineName }} on branch {{ $json.branch }} ({{ $json.commitSha }})"},{"id":"asgn-logged","name":"loggedAt","type":"string","value":"={{ $now.toISO() }}"},{"id":"asgn-status","name":"status","type":"string","value":"={{ $json.status }}"},{"id":"asgn-pipeline","name":"pipelineName","type":"string","value":"={{ $json.pipelineName }}"},{"id":"asgn-branch","name":"branch","type":"string","value":"={{ $json.branch }}"},{"id":"asgn-sha","name":"commitSha","type":"string","value":"={{ $json.commitSha }}"},{"id":"asgn-author","name":"commitAuthor","type":"string","value":"={{ $json.commitAuthor }}"},{"id":"asgn-error","name":"errorLog","type":"string","value":"={{ $json.errorLog }}"},{"id":"asgn-url","name":"runUrl","type":"string","value":"={{ $json.runUrl }}"},{"id":"asgn-repo","name":"repoName","type":"string","value":"={{ $json.repoName }}"},{"id":"asgn-triggered","name":"triggeredAt","type":"string","value":"={{ $json.triggeredAt }}"}]}},"typeVersion":3.4},{"id":"779a5107-2698-4602-8cc8-ab91ad3af91e","name":"Extract AI Diagnosis1","type":"@n8n/n8n-nodes-langchain.openAi","position":[1376,256],"parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-4o-mini","cachedResultName":"GPT-4O-MINI"},"options":{},"responses":{"values":[{"role":"system","content":"You are a senior DevOps engineer. Given a CI/CD pipeline failure log, respond ONLY with a valid JSON object using exactly these keys: diagnosis (string, 2 sentences max explaining the root cause), remediation (string, one concrete action the on-call engineer should take right now), rollbackRecommended (boolean). No markdown fences, no extra keys, no preamble."},{"content":"=Pipeline: {{ $json.pipelineName }}\nBranch: {{ $json.branch }}\nCommit: {{ $json.commitSha }} by {{ $json.commitAuthor }}\nSeverity: {{ $json.severity }}\nError Log: {{ $json.errorLog }}"}]},"builtInTools":{}},"typeVersion":2.1},{"id":"1cd280d2-f4b7-42b1-a0b1-82a83fc2bdeb","name":"Extract AI Diagnosis","type":"n8n-nodes-base.code","position":[1728,256],"parameters":{"jsCode":"const raw = $input.first().json.message?.content || $input.first().json.text || $input.first().json.content || '{}';\nlet diagnosis = 'No diagnosis available.';\nlet remediation = 'Review error log manually.';\nlet rollbackRecommended = false;\ntry {\n  const cleaned = String(raw).replace(/```json|```/g, '').trim();\n  const parsed = JSON.parse(cleaned);\n  diagnosis = parsed.diagnosis || diagnosis;\n  remediation = parsed.remediation || remediation;\n  rollbackRecommended = parsed.rollbackRecommended === true || String(parsed.rollbackRecommended).toLowerCase() === 'yes';\n} catch(e) {\n  // keep defaults on parse failure\n}\nconst prev = $('Classify Severity').item.json;\nreturn [{ json: {\n  pipelineName: prev.pipelineName,\n  repoName: prev.repoName,\n  branch: prev.branch,\n  severity: prev.severity,\n  linearPriority: prev.linearPriority,\n  incidentTitle: prev.incidentTitle,\n  commitSha: prev.commitSha,\n  commitAuthor: prev.commitAuthor,\n  errorLog: prev.errorLog,\n  runUrl: prev.runUrl,\n  triggeredAt: prev.triggeredAt,\n  loggedAt: prev.loggedAt,\n  diagnosis,\n  remediation,\n  rollbackRecommended\n} }];"},"typeVersion":2},{"id":"6b1563f3-5947-43af-82a0-2b5e7f2f3dad","name":"Is Critical Severity","type":"n8n-nodes-base.if","position":[1952,256],"parameters":{"options":{},"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":false,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"cond-critical","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.severity }}","rightValue":"Critical"}]}},"typeVersion":2},{"id":"068a990f-aea8-46a5-9d2d-a912014a6d74","name":"Slack On-Call Alert","type":"n8n-nodes-base.slack","position":[2176,160],"webhookId":"YOUR_SLACK_WEBHOOK_ID","parameters":{"text":"=[CRITICAL] Pipeline Failure - Immediate Action Required\n\nPipeline: {{ $json.pipelineName }}\nRepository: {{ $json.repoName }}\nBranch: {{ $json.branch }}\nCommit: {{ $json.commitSha }} by {{ $json.commitAuthor }}\nRun URL: {{ $json.runUrl }}\n\nAI Diagnosis: {{ $json.diagnosis }}\nRemediation: {{ $json.remediation }}\nRollback Recommended: {{ $json.rollbackRecommended ? 'YES - initiate rollback now' : 'No rollback required' }}\n\nError Excerpt:\n{{ $json.errorLog.slice(0, 400) }}\n\nAuto-detected by n8n at {{ $json.loggedAt }}","select":"channel","channelId":{"__rl":true,"mode":"id","value":"YOUR_ONCALL_CHANNEL_ID"},"otherOptions":{"includeLinkToWorkflow":false}},"typeVersion":2.2},{"id":"2ba39384-89b6-4420-8d1b-f55cf89d3178","name":"Slack Dev Alert","type":"n8n-nodes-base.slack","position":[2176,352],"webhookId":"YOUR_SLACK_WEBHOOK_ID_2","parameters":{"text":"=[{{ $json.severity }}] Pipeline Failure Detected\n\nPipeline: {{ $json.pipelineName }}\nRepository: {{ $json.repoName }}\nBranch: {{ $json.branch }}\nCommit: {{ $json.commitSha }} by {{ $json.commitAuthor }}\nRun URL: {{ $json.runUrl }}\n\nAI Diagnosis: {{ $json.diagnosis }}\nRemediation: {{ $json.remediation }}\nRollback Recommended: {{ $json.rollbackRecommended ? 'Yes' : 'No' }}\n\nA Linear issue is being created. Check the Google Sheets incident log for full history.\n\nAuto-detected by n8n at {{ $json.loggedAt }}","select":"channel","channelId":{"__rl":true,"mode":"id","value":"YOUR_DEV_CHANNEL_ID"},"otherOptions":{"includeLinkToWorkflow":false}},"typeVersion":2.2},{"id":"ff436ae5-b364-4202-82b2-02524d2b2e0f","name":"Merge Alerts","type":"n8n-nodes-base.merge","position":[2400,256],"parameters":{"mode":"combine","options":{}},"typeVersion":3},{"id":"ac384c88-4953-4232-93c9-0eff4be26d96","name":"Create Linear Issue","type":"n8n-nodes-base.httpRequest","position":[2624,256],"parameters":{"url":"https://api.linear.app/graphql","body":"={{ JSON.stringify({ query: 'mutation IssueCreate($input: IssueCreateInput!) { issueCreate(input: $input) { success issue { id identifier url } } }', variables: { input: { teamId: 'YOUR_LINEAR_TEAM_ID', title: $json.incidentTitle, description: '## Pipeline Failure Report\\n\\n**Pipeline:** ' + $json.pipelineName + '\\n**Repository:** ' + $json.repoName + '\\n**Branch:** ' + $json.branch + '\\n**Severity:** ' + $json.severity + '\\n**Commit:** ' + $json.commitSha + ' by ' + $json.commitAuthor + '\\n**Run URL:** ' + $json.runUrl + '\\n**Triggered At:** ' + $json.triggeredAt + '\\n\\n## AI Diagnosis\\n' + $json.diagnosis + '\\n\\n## Remediation\\n' + $json.remediation + '\\n\\n## Rollback Recommended\\n' + ($json.rollbackRecommended ? 'YES' : 'No') + '\\n\\n## Error Log\\n' + $json.errorLog, priority: $json.linearPriority } } }) }}","method":"POST","options":{},"sendBody":true,"contentType":"raw","sendHeaders":true,"authentication":"genericCredentialType","rawContentType":"application/json","genericAuthType":"httpHeaderAuth","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"YOUR_LINEAR_API_KEY"}]}},"typeVersion":4.2},{"id":"75b6c8cf-d97e-4d49-a295-5897d3920da3","name":"Log to Google Sheets","type":"n8n-nodes-base.googleSheets","position":[2848,256],"parameters":{"columns":{"value":{"Author":"={{ $('Extract AI Diagnosis').item.json.commitAuthor }}","Branch":"={{ $('Extract AI Diagnosis').item.json.branch }}","Status":"={{ $('Extract AI Diagnosis').item.json.status }}","Run URL":"={{ $('Extract AI Diagnosis').item.json.runUrl }}","Pipeline":"={{ $('Extract AI Diagnosis').item.json.pipelineName }}","Severity":"={{ $('Extract AI Diagnosis').item.json.severity }}","Logged At":"={{ $('Extract AI Diagnosis').item.json.loggedAt }}","Commit SHA":"={{ $('Extract AI Diagnosis').item.json.commitSha }}","Repository":"={{ $('Extract AI Diagnosis').item.json.repoName }}","Remediation":"={{ $('Extract AI Diagnosis').item.json.remediation }}","AI Diagnosis":"={{ $('Extract AI Diagnosis').item.json.diagnosis }}","Triggered At":"={{ $('Extract AI Diagnosis').item.json.triggeredAt }}","Rollback Recommended":"={{ $('Extract AI Diagnosis').item.json.rollbackRecommended ? 'Yes' : 'No' }}"},"mappingMode":"defineBelow"},"options":{},"operation":"append","sheetName":{"__rl":true,"mode":"name","value":"IncidentLog"},"documentId":{"__rl":true,"mode":"id","value":"YOUR_GOOGLE_SHEETS_SPREADSHEET_ID"}},"typeVersion":4.5},{"id":"31b06e3c-4a97-4f39-8e17-fa875b823ce1","name":"Send Gmail Summary","type":"n8n-nodes-base.gmail","position":[3072,256],"webhookId":"YOUR_GMAIL_WEBHOOK_ID","parameters":{"sendTo":"YOUR_ENGINEERING_LEAD_EMAIL","message":"=<h2>CI/CD Pipeline Failure Report</h2><p><strong>Pipeline:</strong> {{ $('Extract AI Diagnosis').item.json.pipelineName }}<br><strong>Repository:</strong> {{ $('Extract AI Diagnosis').item.json.repoName }}<br><strong>Branch:</strong> {{ $('Extract AI Diagnosis').item.json.branch }}<br><strong>Severity:</strong> {{ $('Extract AI Diagnosis').item.json.severity }}<br><strong>Commit:</strong> {{ $('Extract AI Diagnosis').item.json.commitSha }} by {{ $('Extract AI Diagnosis').item.json.commitAuthor }}<br><strong>Run URL:</strong> <a href=\"{{ $('Extract AI Diagnosis').item.json.runUrl }}\">View Pipeline Run</a><br><strong>Triggered At:</strong> {{ $('Extract AI Diagnosis').item.json.triggeredAt }}</p><h3>AI Root Cause Diagnosis</h3><p>{{ $('Extract AI Diagnosis').item.json.diagnosis }}</p><h3>Suggested Remediation</h3><p>{{ $('Extract AI Diagnosis').item.json.remediation }}</p><h3>Rollback Recommended</h3><p>{{ $('Extract AI Diagnosis').item.json.rollbackRecommended ? 'YES - initiate rollback immediately' : 'No rollback required' }}</p><h3>Error Log</h3><pre>{{ $('Extract AI Diagnosis').item.json.errorLog }}</pre><p><em>Auto-generated by n8n at {{ $('Extract AI Diagnosis').item.json.loggedAt }}</em></p>","options":{"appendAttribution":false},"subject":"=[CI/CD ALERT][{{ $('Extract AI Diagnosis').item.json.severity }}] Pipeline Failure: {{ $('Extract AI Diagnosis').item.json.pipelineName }} on {{ $('Extract AI Diagnosis').item.json.branch }}"},"typeVersion":2.1}],"active":false,"pinData":{},"settings":{"executionOrder":"v1"},"versionId":"2006acfc-4874-4c8a-9222-91b926acfc60","connections":{"Merge Alerts":{"main":[[{"node":"Create Linear Issue","type":"main","index":0}]]},"Slack Dev Alert":{"main":[[{"node":"Merge Alerts","type":"main","index":1}]]},"Is Failure Event":{"main":[[{"node":"Classify Severity","type":"main","index":0}]]},"Classify Severity":{"main":[[{"node":"Extract AI Diagnosis1","type":"main","index":0}]]},"Create Linear Issue":{"main":[[{"node":"Log to Google Sheets","type":"main","index":0}]]},"Slack On-Call Alert":{"main":[[{"node":"Merge Alerts","type":"main","index":0}]]},"Extract AI Diagnosis":{"main":[[{"node":"Is Critical Severity","type":"main","index":0}]]},"Is Critical Severity":{"main":[[{"node":"Slack On-Call Alert","type":"main","index":0}],[{"node":"Slack Dev Alert","type":"main","index":0}]]},"Log to Google Sheets":{"main":[[{"node":"Send Gmail Summary","type":"main","index":0}]]},"Extract AI Diagnosis1":{"main":[[{"node":"Extract AI Diagnosis","type":"main","index":0}]]},"Parse Pipeline Payload":{"main":[[{"node":"Is Failure Event","type":"main","index":0}]]},"Pipeline Failure Webhook":{"main":[[{"node":"Parse Pipeline Payload","type":"main","index":0}]]}}}