workflows/Handle client intake, routing, and confirmations with Claude, Google Sheets, Gmail, and Twilio-16574/handle_client_intake_routing_and_confirmations_with_claude_google_sheets_gmail_and_twilio.json
{"meta":{"templateCredsSetupCompleted":false},"name":"AI Client Intake with Service-Area Routing and SMS Confirmation","tags":[],"nodes":[{"id":"c3d4e5f6-0015-4000-8000-000000000001","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-368,48],"parameters":{"width":480,"height":960,"content":"## AI Client Intake with Service-Area Routing and SMS Confirmation\n\n### How it works\n\nThis workflow serves a hosted intake form, normalizes the request, and checks whether the customer's state or area is one you serve. In-area requests go to Claude, which writes a personalized email and SMS confirmation plus a short summary for your team. The workflow then logs the case to Google Sheets, emails and texts the customer a confirmation, and alerts your intake team. Out-of-area requests are saved to a waitlist with a friendly response. The text message only sends when the customer opts in.\n\n### Setup steps\n\n- Open the Receive Intake Submission node and edit the form title, fields, and request options to match your business.\n- In the Set Intake Fields node, set your business name and the comma separated list of states or areas you serve.\n- Configure an HTTP Header Auth credential for Anthropic with header name x-api-key and value sk-ant-... and attach it to the Draft Confirmation node.\n- Connect Gmail credentials and set the team recipient on the Alert Intake Team node.\n- Connect Twilio credentials and set your sending number on the Text Customer Confirmation node.\n- Connect Google Sheets credentials and replace the placeholder sheet ID on both append nodes.\n- Activate the workflow and share the production form URL.\n\n### Customization\n\nSwap Google Sheets for a CRM, route different request types to different inboxes, adjust the served-area list or add city-level matching, change the confirmation tone in the Draft Confirmation prompt, or point the Claude node at another model by editing the URL and body."},"typeVersion":1},{"id":"c3d4e5f6-0015-4000-8000-000000000002","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[192,144],"parameters":{"color":7,"width":460,"height":320,"content":"## Receive and normalize intake\n\nServes a hosted intake form so you need no external form tool, then standardizes the customer's contact details, state, request type, and description for the rest of the workflow."},"typeVersion":1},{"id":"c3d4e5f6-0015-4000-8000-000000000003","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[656,144],"parameters":{"color":7,"width":240,"height":320,"content":"## Route by service area\n\nChecks the submitted state against your served-area list and splits the flow: in-area requests continue to confirmation, out-of-area requests go to the waitlist."},"typeVersion":1},{"id":"c3d4e5f6-0015-4000-8000-000000000004","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[872,40],"parameters":{"color":7,"width":460,"height":300,"content":"## Draft confirmation with AI\n\nSends the request to Claude, which writes a personalized email and SMS confirmation, a one-line summary for your team, a priority, and any missing details, then parses the JSON safely."},"typeVersion":1},{"id":"c3d4e5f6-0015-4000-8000-000000000005","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1332,40],"parameters":{"color":7,"width":680,"height":300,"content":"## Log and confirm to the customer\n\nLogs the new case to Google Sheets, alerts your intake team by email, and emails the customer their confirmation and reference number."},"typeVersion":1},{"id":"c3d4e5f6-0015-4000-8000-000000000006","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[2032,20],"parameters":{"color":7,"width":660,"height":360,"content":"## Text and respond\n\nIf the customer opted in to texts, sends the SMS confirmation through Twilio, then shows the customer a confirmation page."},"typeVersion":1},{"id":"c3d4e5f6-0015-4000-8000-000000000007","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[872,412],"parameters":{"color":7,"width":460,"height":260,"content":"## Handle out-of-area requests\n\nSaves out-of-area requests to a waitlist tab and shows a friendly message letting the customer know you will reach out when you expand."},"typeVersion":1},{"id":"c3d4e5f6-0015-4000-8000-000000000008","name":"Receive Intake Submission","type":"n8n-nodes-base.formTrigger","position":[240,320],"webhookId":"client-intake-confirmation-form","parameters":{"options":{},"formTitle":"Request Help","formFields":{"values":[{"fieldType":"text","fieldLabel":"Full Name","requiredField":true},{"fieldType":"email","fieldLabel":"Email","requiredField":true},{"fieldType":"text","fieldLabel":"Phone","requiredField":true},{"fieldType":"text","fieldLabel":"State","requiredField":true},{"fieldType":"dropdown","fieldLabel":"What do you need help with?","fieldOptions":{"values":[{"option":"New Request"},{"option":"Quote or Estimate"},{"option":"Question"},{"option":"Status of Existing Request"},{"option":"Other"}]},"requiredField":true},{"fieldType":"textarea","fieldLabel":"Describe your request","requiredField":true},{"fieldType":"dropdown","fieldLabel":"Can we text you updates about your request?","fieldOptions":{"values":[{"option":"Yes"},{"option":"No"}]},"requiredField":true}]},"responseMode":"responseNode","formDescription":"Tell us what you need and we will confirm right away. For State, use the two letter code, for example FL."},"typeVersion":2.2},{"id":"c3d4e5f6-0015-4000-8000-000000000009","name":"Set Intake Fields","type":"n8n-nodes-base.set","position":[460,320],"parameters":{"options":{},"assignments":{"assignments":[{"id":"s1-name","name":"fullName","type":"string","value":"={{ ($json['Full Name'] || '').toString().trim() }}"},{"id":"s2-email","name":"email","type":"string","value":"={{ ($json['Email'] || '').toString().trim().toLowerCase() }}"},{"id":"s3-phone","name":"phone","type":"string","value":"={{ ($json['Phone'] || '').toString().trim() }}"},{"id":"s4-state","name":"state","type":"string","value":"={{ ($json['State'] || '').toString().trim().toUpperCase() }}"},{"id":"s5-type","name":"requestType","type":"string","value":"={{ ($json['What do you need help with?'] || '').toString().trim() }}"},{"id":"s6-details","name":"details","type":"string","value":"={{ ($json['Describe your request'] || '').toString().trim() }}"},{"id":"s7-consent","name":"smsConsent","type":"string","value":"={{ ($json['Can we text you updates about your request?'] || 'No').toString().trim() }}"},{"id":"s8-business","name":"businessName","type":"string","value":"REPLACE_WITH_YOUR_BUSINESS_NAME"},{"id":"s9-served","name":"servedAreas","type":"string","value":"REPLACE_WITH_SERVED_STATES"},{"id":"s10-ref","name":"caseRef","type":"string","value":"={{ 'REQ-' + $now.toFormat('yyyyLLdd-HHmmss') }}"},{"id":"s11-ts","name":"timestamp","type":"string","value":"={{ $now.toISO() }}"}]}},"typeVersion":3.4},{"id":"c3d4e5f6-0015-4000-8000-000000000010","name":"Check Service Area","type":"n8n-nodes-base.if","position":[720,320],"parameters":{"options":{},"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"cond-area","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ ($json.servedAreas || '').split(',').map(x => x.trim().toUpperCase()).filter(x => x.length).includes(($json.state || '').toString().trim().toUpperCase()) }}","rightValue":true}]}},"typeVersion":2.2},{"id":"c3d4e5f6-0015-4000-8000-000000000011","name":"Draft Confirmation with Claude","type":"n8n-nodes-base.httpRequest","position":[940,220],"parameters":{"url":"https://api.anthropic.com/v1/messages","method":"POST","options":{},"jsonBody":"={\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 600,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"You are the intake assistant for a service business. Read the new request and reply with valid JSON only, no markdown fences, no commentary. Use this exact schema:\\n\\n{\\n  \\\"customer_email_message\\\": \\\"<2 to 3 warm sentences confirming we received their request, mention the request type, plain language>\\\",\\n  \\\"customer_sms_message\\\": \\\"<under 280 characters, friendly SMS version of the same confirmation, sign off with the business name>\\\",\\n  \\\"internal_summary\\\": \\\"<one sentence summary for the team>\\\",\\n  \\\"request_category\\\": \\\"<short normalized label for the request>\\\",\\n  \\\"priority\\\": \\\"high|normal|low\\\",\\n  \\\"missing_info\\\": [\\\"<any key detail still needed from the customer>\\\"]\\n}\\n\\nPriority rules: high for urgent or time sensitive requests, normal for standard requests, low for general questions. Do not invent details the customer did not provide.\\n\\nBusiness name: \" + {{ JSON.stringify($json.businessName) }} + \"\\nRequest type: \" + {{ JSON.stringify($json.requestType) }} + \"\\nState or area: \" + {{ JSON.stringify($json.state) }} + \"\\nCustomer name: \" + {{ JSON.stringify($json.fullName) }} + \"\\nTheir description: \" + {{ JSON.stringify($json.details) }}\n    }\n  ]\n}","sendBody":true,"sendHeaders":true,"specifyBody":"json","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]}},"typeVersion":4.2},{"id":"c3d4e5f6-0015-4000-8000-000000000012","name":"Parse AI Response","type":"n8n-nodes-base.code","position":[1160,220],"parameters":{"jsCode":"// Parse the Claude response, fall back to safe defaults, and merge with the intake fields\nconst intake = $('Set Intake Fields').item.json;\nconst raw = $json.content?.[0]?.text || '{}';\n\nlet parsed = {\n  customer_email_message: '',\n  customer_sms_message: '',\n  internal_summary: '',\n  request_category: '',\n  priority: 'normal',\n  missing_info: []\n};\n\ntry {\n  const cleaned = raw.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```\\s*$/i, '').trim();\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  parsed.internal_summary = 'AI returned malformed JSON: ' + raw.slice(0, 200);\n}\n\nlet emailMsg = (parsed.customer_email_message || '').toString().trim();\nif (!emailMsg) {\n  emailMsg = 'Hi ' + intake.fullName + ', thanks for your request. We have received it and our team will follow up shortly. Your reference is ' + intake.caseRef + '. - ' + intake.businessName;\n}\n\nlet smsMsg = (parsed.customer_sms_message || '').toString().trim();\nif (!smsMsg) {\n  smsMsg = 'Hi ' + intake.fullName + ', we got your request (' + intake.caseRef + '). Our team will be in touch soon. - ' + intake.businessName;\n}\nif (smsMsg.length > 320) { smsMsg = smsMsg.slice(0, 317) + '...'; }\n\nconst missingInfo = Array.isArray(parsed.missing_info) ? parsed.missing_info.join(' | ') : '';\nconst priority = ['high', 'normal', 'low'].includes(parsed.priority) ? parsed.priority : 'normal';\n\nreturn [{\n  json: {\n    ...intake,\n    customer_email_message: emailMsg,\n    customer_sms_message: smsMsg,\n    internal_summary: parsed.internal_summary || '',\n    request_category: parsed.request_category || intake.requestType,\n    priority: priority,\n    missing_info: missingInfo\n  }\n}];"},"typeVersion":2},{"id":"c3d4e5f6-0015-4000-8000-000000000013","name":"Log New Request","type":"n8n-nodes-base.googleSheets","position":[1380,220],"parameters":{"columns":{"value":{"email":"={{ $json.email }}","phone":"={{ $json.phone }}","state":"={{ $json.state }}","status":"New","caseRef":"={{ $json.caseRef }}","details":"={{ $json.details }}","fullName":"={{ $json.fullName }}","priority":"={{ $json.priority }}","timestamp":"={{ $json.timestamp }}","requestType":"={{ $json.requestType }}","missing_info":"={{ $json.missing_info }}","internal_summary":"={{ $json.internal_summary }}","request_category":"={{ $json.request_category }}"},"schema":[{"id":"timestamp","type":"string","display":true,"required":false,"displayName":"timestamp","defaultMatch":false,"canBeUsedToMatch":true},{"id":"caseRef","type":"string","display":true,"required":false,"displayName":"caseRef","defaultMatch":false,"canBeUsedToMatch":true},{"id":"status","type":"string","display":true,"required":false,"displayName":"status","defaultMatch":false,"canBeUsedToMatch":true},{"id":"fullName","type":"string","display":true,"required":false,"displayName":"fullName","defaultMatch":false,"canBeUsedToMatch":true},{"id":"email","type":"string","display":true,"required":false,"displayName":"email","defaultMatch":false,"canBeUsedToMatch":true},{"id":"phone","type":"string","display":true,"required":false,"displayName":"phone","defaultMatch":false,"canBeUsedToMatch":true},{"id":"state","type":"string","display":true,"required":false,"displayName":"state","defaultMatch":false,"canBeUsedToMatch":true},{"id":"requestType","type":"string","display":true,"required":false,"displayName":"requestType","defaultMatch":false,"canBeUsedToMatch":true},{"id":"request_category","type":"string","display":true,"required":false,"displayName":"request_category","defaultMatch":false,"canBeUsedToMatch":true},{"id":"priority","type":"string","display":true,"required":false,"displayName":"priority","defaultMatch":false,"canBeUsedToMatch":true},{"id":"internal_summary","type":"string","display":true,"required":false,"displayName":"internal_summary","defaultMatch":false,"canBeUsedToMatch":true},{"id":"missing_info","type":"string","display":true,"required":false,"displayName":"missing_info","defaultMatch":false,"canBeUsedToMatch":true},{"id":"details","type":"string","display":true,"required":false,"displayName":"details","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":[]},"options":{},"operation":"append","sheetName":{"__rl":true,"mode":"name","value":"New Requests"},"documentId":{"__rl":true,"mode":"id","value":"REPLACE_WITH_YOUR_SHEET_ID"}},"typeVersion":4.5},{"id":"c3d4e5f6-0015-4000-8000-000000000014","name":"Alert Intake Team","type":"n8n-nodes-base.gmail","position":[1600,220],"parameters":{"sendTo":"you@example.com","message":"=<h2>New client intake</h2>\n<p><b>Reference:</b> {{ $('Set Intake Fields').item.json.caseRef }}<br>\n<b>Priority:</b> {{ $('Parse AI Response').item.json.priority }}<br>\n<b>Request type:</b> {{ $('Set Intake Fields').item.json.requestType }}<br>\n<b>State:</b> {{ $('Set Intake Fields').item.json.state }}</p>\n<p><b>{{ $('Set Intake Fields').item.json.fullName }}</b><br>\n{{ $('Set Intake Fields').item.json.email }}{{ $('Set Intake Fields').item.json.phone ? ' &middot; ' + $('Set Intake Fields').item.json.phone : '' }}</p>\n<p><b>Summary:</b> {{ $('Parse AI Response').item.json.internal_summary }}</p>\n<p><b>Their description:</b><br>\n<blockquote>{{ $('Set Intake Fields').item.json.details }}</blockquote></p>\n{{ $('Parse AI Response').item.json.missing_info ? '<p><b>Still needed:</b> ' + $('Parse AI Response').item.json.missing_info + '</p>' : '' }}","options":{},"subject":"=New intake: {{ $('Set Intake Fields').item.json.requestType }} ({{ $('Parse AI Response').item.json.priority }}) - {{ $('Set Intake Fields').item.json.fullName }}","emailType":"html"},"typeVersion":2.1},{"id":"c3d4e5f6-0015-4000-8000-000000000015","name":"Email Customer Confirmation","type":"n8n-nodes-base.gmail","position":[1820,220],"parameters":{"sendTo":"={{ $('Set Intake Fields').item.json.email }}","message":"=<p>{{ $('Parse AI Response').item.json.customer_email_message }}</p>\n<p><b>Your reference number:</b> {{ $('Set Intake Fields').item.json.caseRef }}</p>","options":{},"subject":"=We received your request ({{ $('Set Intake Fields').item.json.caseRef }})","emailType":"html"},"typeVersion":2.1},{"id":"c3d4e5f6-0015-4000-8000-000000000016","name":"Check SMS Consent","type":"n8n-nodes-base.if","position":[2080,220],"parameters":{"options":{},"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"cond-consent","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ ($('Set Intake Fields').item.json.smsConsent || '').toString().toLowerCase() === 'yes' && !!$('Set Intake Fields').item.json.phone }}","rightValue":true}]}},"typeVersion":2.2},{"id":"c3d4e5f6-0015-4000-8000-000000000017","name":"Text Customer Confirmation","type":"n8n-nodes-base.twilio","position":[2300,140],"parameters":{"to":"={{ $('Set Intake Fields').item.json.phone }}","from":"REPLACE_WITH_YOUR_TWILIO_NUMBER","message":"={{ $('Parse AI Response').item.json.customer_sms_message }}","options":{},"toWhatsapp":false},"typeVersion":1},{"id":"c3d4e5f6-0015-4000-8000-000000000018","name":"Respond Confirmed","type":"n8n-nodes-base.form","position":[2520,260],"parameters":{"options":{},"operation":"completion","respondWith":"showText","completionTitle":"Thank you, we have your request","completionMessage":"We just sent a confirmation to your email with your reference number. If you opted in to texts, you will also get a message shortly. Our team will follow up soon."},"typeVersion":1},{"id":"c3d4e5f6-0015-4000-8000-000000000019","name":"Log Waitlist","type":"n8n-nodes-base.googleSheets","position":[940,480],"parameters":{"columns":{"value":{"email":"={{ $json.email }}","phone":"={{ $json.phone }}","state":"={{ $json.state }}","status":"Out of area","caseRef":"={{ $json.caseRef }}","details":"={{ $json.details }}","fullName":"={{ $json.fullName }}","timestamp":"={{ $json.timestamp }}","requestType":"={{ $json.requestType }}"},"schema":[{"id":"timestamp","type":"string","display":true,"required":false,"displayName":"timestamp","defaultMatch":false,"canBeUsedToMatch":true},{"id":"caseRef","type":"string","display":true,"required":false,"displayName":"caseRef","defaultMatch":false,"canBeUsedToMatch":true},{"id":"status","type":"string","display":true,"required":false,"displayName":"status","defaultMatch":false,"canBeUsedToMatch":true},{"id":"fullName","type":"string","display":true,"required":false,"displayName":"fullName","defaultMatch":false,"canBeUsedToMatch":true},{"id":"email","type":"string","display":true,"required":false,"displayName":"email","defaultMatch":false,"canBeUsedToMatch":true},{"id":"phone","type":"string","display":true,"required":false,"displayName":"phone","defaultMatch":false,"canBeUsedToMatch":true},{"id":"state","type":"string","display":true,"required":false,"displayName":"state","defaultMatch":false,"canBeUsedToMatch":true},{"id":"requestType","type":"string","display":true,"required":false,"displayName":"requestType","defaultMatch":false,"canBeUsedToMatch":true},{"id":"details","type":"string","display":true,"required":false,"displayName":"details","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":[]},"options":{},"operation":"append","sheetName":{"__rl":true,"mode":"name","value":"Waitlist"},"documentId":{"__rl":true,"mode":"id","value":"REPLACE_WITH_YOUR_SHEET_ID"}},"typeVersion":4.5},{"id":"c3d4e5f6-0015-4000-8000-000000000020","name":"Respond Waitlist","type":"n8n-nodes-base.form","position":[1160,480],"parameters":{"options":{},"operation":"completion","respondWith":"showText","completionTitle":"Thanks, we saved your details","completionMessage":"We are not serving your area just yet. We have added you to our list and will reach out as soon as we expand to your area."},"typeVersion":1}],"pinData":{},"settings":{"executionOrder":"v1"},"connections":{"Log Waitlist":{"main":[[{"node":"Respond Waitlist","type":"main","index":0}]]},"Log New Request":{"main":[[{"node":"Alert Intake Team","type":"main","index":0}]]},"Alert Intake Team":{"main":[[{"node":"Email Customer Confirmation","type":"main","index":0}]]},"Check SMS Consent":{"main":[[{"node":"Text Customer Confirmation","type":"main","index":0}],[{"node":"Respond Confirmed","type":"main","index":0}]]},"Parse AI Response":{"main":[[{"node":"Log New Request","type":"main","index":0}]]},"Set Intake Fields":{"main":[[{"node":"Check Service Area","type":"main","index":0}]]},"Check Service Area":{"main":[[{"node":"Draft Confirmation with Claude","type":"main","index":0}],[{"node":"Log Waitlist","type":"main","index":0}]]},"Receive Intake Submission":{"main":[[{"node":"Set Intake Fields","type":"main","index":0}]]},"Text Customer Confirmation":{"main":[[{"node":"Respond Confirmed","type":"main","index":0}]]},"Email Customer Confirmation":{"main":[[{"node":"Check SMS Consent","type":"main","index":0}]]},"Draft Confirmation with Claude":{"main":[[{"node":"Parse AI Response","type":"main","index":0}]]}}}