workflows/Send weekly YouTube performance digests with OpenAI, Slack, Gmail and Sheets-16476/16476-send-weekly-youtube-performance-digests-with-openai--slack--gmail-and-sheets.webp
{"id":"Qv3OdLRu9Om41fwb","meta":{"instanceId":"c91c5b6efe2709e07c37996245857ac5d863d575d07e0072127351337c204c40"},"name":"YouTube Video Performance Weekly Digest","tags":[{"id":"2V3HXFbv2wqNGm6s","name":"Dev","createdAt":"2025-06-17T05:42:41.949Z","updatedAt":"2025-06-17T05:42:41.949Z"},{"id":"4Of2LE0HSt4qmmUG","name":"Ansh","createdAt":"2026-04-20T10:32:01.726Z","updatedAt":"2026-04-20T10:32:01.726Z"}],"nodes":[{"id":"a40b9ad1-e2e7-47e7-955b-d054cf5a4f2f","name":"Overview Note","type":"n8n-nodes-base.stickyNote","position":[-176,32],"parameters":{"width":496,"height":944,"content":"## YouTube Video Performance Weekly Digest\n\nThis workflow automatically analyzes your latest YouTube video performance each week, generates AI-powered insights, and delivers a digest to your content team via Slack and email. It helps creators track trends, identify winning content, and make data-driven decisions without manual reporting.\n\n### How it Works\n\n- Runs automatically every Monday morning on a scheduled trigger.\n- Fetches your most recent YouTube videos using the YouTube Data API.\n- Collects key metrics including views, likes, comments, and publish dates.\n- Calculates engagement rates and overall performance scores for each video.\n- Ranks videos from best to worst performing.\n- Classifies content as Top Performer, Average Performer, or Underperformer.\n- Identifies the highest and lowest performing videos of the week.\n- Uses OpenAI to generate a plain-English summary of performance trends and insights.\n- Sends a structured Slack digest with rankings and AI-generated recommendations.\n- Logs all metrics to Google Sheets for historical analysis and reporting.\n- Emails a formatted weekly performance report to the content manager.\n\n### Setup Steps\n\n1. Enable the YouTube Data API and generate an API key.\n2. Add your YouTube API key and channel ID to the workflow.\n3. Add your OpenAI credential for AI insight generation.\n4. Configure Slack credentials and set the content team channel.\n5. Create a Google Sheet for storing video performance metrics.\n6. Add Google Sheets credentials and connect the tracking sheet.\n7. Add Gmail credentials and set the content manager email address.\n8. Activate the workflow and verify the weekly report delivery."},"typeVersion":1},{"id":"335b9db9-b9b9-4c5f-ac82-3b430c53ddc0","name":"Section Note 1","type":"n8n-nodes-base.stickyNote","position":[336,32],"parameters":{"color":7,"width":1120,"height":944,"content":"## Step 1: Fetch Videos & Pull Statistics\n\nThis section triggers every Monday on a weekly schedule. It first calls the YouTube Data API to fetch the 20 most recent videos from the configured channel, extracting video IDs and titles. A second API call then batch-fetches view counts, likes, comments, and duration for all videos in a single request. A Code node parses the combined response, calculates engagement rate and a composite performance score for each video, and sorts the full list by score descending."},"typeVersion":1},{"id":"4d77a7dc-97de-4d18-a2ac-f9e6cb82a19f","name":"Section Note 2","type":"n8n-nodes-base.stickyNote","position":[1472,32],"parameters":{"color":7,"width":784,"height":944,"content":"## Step 2: Classify, Aggregate & Generate AI Insights\n\nEach video is tagged as Top Performer, Average, or Underperformer based on its performance score relative to the channel average. An Aggregate node collects all classified videos into a single item, which is passed to OpenAI GPT-4o-mini to generate a concise plain-English insight summary covering what drove top performance, what underperformed and why, and actionable recommendations for the content team. The best and worst video of the week are also identified for the digest headline."},"typeVersion":1},{"id":"e287dd45-0da3-4d00-b8ba-1dc04b7a3acb","name":"Section Note 3","type":"n8n-nodes-base.stickyNote","position":[2272,32],"parameters":{"color":7,"width":1168,"height":944,"content":"## Step 3: Deliver Digest, Log & Email Report\n\nWith insights ready, the workflow posts a structured weekly digest to the content team Slack channel showing top videos, key metrics, and the AI summary. A Split Out node then loops through every video and appends a row to the Google Sheet performance log for historical trend tracking. Finally, a fully formatted HTML email report is sent to the content manager containing the complete ranked video list, engagement stats, and the full AI insight paragraph."},"typeVersion":1},{"id":"47d286b9-c18c-428e-859a-007a77904845","name":"Weekly Monday Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[432,592],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8 * * 1"}]}},"typeVersion":1.2},{"id":"64c0c252-7fc5-4611-be4e-0f5bd8f3bcd4","name":"Fetch Recent Channel Videos","type":"n8n-nodes-base.httpRequest","position":[640,592],"parameters":{"url":"https://www.googleapis.com/youtube/v3/search","options":{},"sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"YOUR_YOUTUBE_API_KEY"},{"name":"channelId","value":"YOUR_YOUTUBE_CHANNEL_ID"},{"name":"part","value":"snippet"},{"name":"order","value":"date"},{"name":"maxResults","value":"20"},{"name":"type","value":"video"}]}},"typeVersion":4.3},{"id":"915528d6-2248-4fb4-9726-cb680a24ad43","name":"Extract Video IDs","type":"n8n-nodes-base.code","position":[864,592],"parameters":{"jsCode":"const items = $input.first().json.items || [];\nif (items.length === 0) {\n  return [{ json: { _empty: true, videoIds: '', videoMeta: {} } }];\n}\nconst videoIds = items.map(i => i.id.videoId).filter(Boolean);\nconst videoMeta = {};\nfor (const item of items) {\n  const vid = item.id.videoId;\n  if (vid) {\n    videoMeta[vid] = {\n      title: item.snippet.title,\n      publishedAt: item.snippet.publishedAt,\n      thumbnail: item.snippet.thumbnails && item.snippet.thumbnails.medium ? item.snippet.thumbnails.medium.url : ''\n    };\n  }\n}\nreturn [{ json: { videoIds: videoIds.join(','), videoMeta, _empty: false } }];"},"typeVersion":2},{"id":"0cdf8378-8186-4dae-bede-5d89723ac7de","name":"Fetch Video Statistics","type":"n8n-nodes-base.httpRequest","position":[1088,592],"parameters":{"url":"https://www.googleapis.com/youtube/v3/videos","options":{},"sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"YOUR_YOUTUBE_API_KEY"},{"name":"id","value":"={{ $json.videoIds }}"},{"name":"part","value":"statistics,contentDetails"}]}},"typeVersion":4.3},{"id":"00fb4f9b-327a-42d3-b450-c80889b90b62","name":"Parse & Score Videos","type":"n8n-nodes-base.code","position":[1312,592],"parameters":{"jsCode":"const statsItems = $input.first().json.items || [];\nconst videoMeta = $('Extract Video IDs').item.json.videoMeta || {};\nconst weekLabel = new Date().toISOString().split('T')[0];\n\nconst parsed = [];\nfor (const item of statsItems) {\n  const vid = item.id;\n  const stats = item.statistics || {};\n  const meta = videoMeta[vid] || {};\n\n  const views = parseInt(stats.viewCount || 0);\n  const likes = parseInt(stats.likeCount || 0);\n  const comments = parseInt(stats.commentCount || 0);\n\n  const engagementRate = views > 0 ? parseFloat(((likes + comments) / views * 100).toFixed(2)) : 0;\n  const performanceScore = parseFloat((views * 0.5 + likes * 10 + comments * 15 + engagementRate * 100).toFixed(0));\n\n  parsed.push({\n    videoId: vid,\n    title: meta.title || 'Unknown Title',\n    publishedAt: meta.publishedAt || '',\n    thumbnail: meta.thumbnail || '',\n    views,\n    likes,\n    comments,\n    engagementRate,\n    performanceScore,\n    week: weekLabel\n  });\n}\n\nparsed.sort((a, b) => b.performanceScore - a.performanceScore);\n\nconst avgScore = parsed.length > 0\n  ? parsed.reduce((s, v) => s + v.performanceScore, 0) / parsed.length\n  : 0;\n\nconst tagged = parsed.map((v, idx) => ({\n  ...v,\n  rank: idx + 1,\n  tag: v.performanceScore >= avgScore * 1.2 ? 'Top Performer' : v.performanceScore <= avgScore * 0.8 ? 'Underperformer' : 'Average'\n}));\n\nreturn tagged.map(v => ({ json: v }));"},"typeVersion":2},{"id":"19e5b721-650d-4492-96fc-1ed6b09b3e74","name":"Aggregate All Videos","type":"n8n-nodes-base.aggregate","position":[1536,592],"parameters":{"options":{},"aggregate":"aggregateAllItemData"},"typeVersion":1},{"id":"397793b9-c76a-407c-bea5-616ca788e4bb","name":"Prepare Digest Data","type":"n8n-nodes-base.set","position":[2112,592],"parameters":{"options":{},"assignments":{"assignments":[{"id":"set-insight","name":"aiInsight","type":"string","value":"={{ $json.text }}"},{"id":"set-videos","name":"allVideos","type":"array","value":"={{ $('Aggregate All Videos').item.json.data }}"},{"id":"set-top","name":"topVideo","type":"object","value":"={{ $('Aggregate All Videos').item.json.data[0] }}"},{"id":"set-worst","name":"worstVideo","type":"object","value":"={{ $('Aggregate All Videos').item.json.data[$('Aggregate All Videos').item.json.data.length - 1] }}"},{"id":"set-week","name":"weekLabel","type":"string","value":"={{ $now.toFormat('yyyy-MM-dd') }}"},{"id":"set-total","name":"totalVideos","type":"number","value":"={{ $('Aggregate All Videos').item.json.data.length }}"}]}},"typeVersion":3.4},{"id":"d5a139c9-7dc4-430b-9239-3e158b5fedb5","name":"Post Digest to Slack","type":"n8n-nodes-base.slack","position":[2336,592],"webhookId":"6bcf38b3-5e75-4ad6-a763-f0de39ba9078","parameters":{"text":"=:youtube: *YouTube Weekly Performance Digest* | {{ $json.weekLabel }}\n\n*Videos Analysed: {{ $json.totalVideos }}*\n\n:trophy: *Top Performer*\n{{ $json.topVideo.title }}\nViews: {{ $json.topVideo.views }} | Likes: {{ $json.topVideo.likes }} | Comments: {{ $json.topVideo.comments }} | Engagement: {{ $json.topVideo.engagementRate }}%\n\n:chart_with_downwards_trend: *Needs Attention*\n{{ $json.worstVideo.title }}\nViews: {{ $json.worstVideo.views }} | Likes: {{ $json.worstVideo.likes }} | Comments: {{ $json.worstVideo.comments }} | Engagement: {{ $json.worstVideo.engagementRate }}%\n\n:bar_chart: *Full Rankings (Top 5)*\n{{ $json.allVideos.slice(0,5).map(v => v.rank + '. ' + v.title + ' - ' + v.views + ' views | ' + v.engagementRate + '% eng | ' + v.tag).join('\\n') }}\n\n:bulb: *AI Insights*\n{{ $json.aiInsight }}\n\n_Full report emailed to the content manager. Data logged to YouTube Performance Log sheet._","select":"channel","channelId":{"__rl":true,"mode":"id","value":"YOUR_CONTENT_SLACK_CHANNEL_ID"},"otherOptions":{"includeLinkToWorkflow":false}},"typeVersion":2.2},{"id":"c598228d-5bb1-48d9-bf6f-8de06526d14b","name":"Split Videos for Logging","type":"n8n-nodes-base.splitOut","position":[2576,592],"parameters":{"options":{},"fieldToSplitOut":"allVideos"},"typeVersion":1},{"id":"ccd38c35-f30c-4647-ad13-18a30dd487ab","name":"Log Videos to Sheet","type":"n8n-nodes-base.googleSheets","position":[2800,592],"parameters":{"columns":{"value":{"Tag":"={{ $json.tag }}","Rank":"={{ $json.rank }}","Week":"={{ $json.week }}","Likes":"={{ $json.likes }}","Title":"={{ $json.title }}","Views":"={{ $json.views }}","Comments":"={{ $json.comments }}","Video ID":"={{ $json.videoId }}","Published At":"={{ $json.publishedAt }}","Engagement Rate":"={{ $json.engagementRate }}","Performance Score":"={{ $json.performanceScore }}"},"mappingMode":"defineBelow"},"options":{},"operation":"append","sheetName":{"__rl":true,"mode":"name","value":"YouTube Performance Log"},"documentId":{"__rl":true,"mode":"id","value":"YOUR_GOOGLE_SHEET_ID"}},"typeVersion":4.5},{"id":"ff62e2f3-84d1-49b3-997f-f8f59cd30aa6","name":"Re-Aggregate for Email","type":"n8n-nodes-base.aggregate","position":[3024,592],"parameters":{"options":{},"aggregate":"aggregateAllItemData"},"typeVersion":1},{"id":"7b9d6ac2-b2f9-4d43-aa5f-19721cff2977","name":"Email Weekly Report","type":"n8n-nodes-base.gmail","position":[3248,592],"webhookId":"09d3df3c-9ee9-4681-aa7c-b627d2b6bdb3","parameters":{"sendTo":"YOUR_CONTENT_MANAGER_EMAIL","message":"=<h2>YouTube Weekly Performance Report</h2><p><strong>Week:</strong> {{ $('Prepare Digest Data').item.json.weekLabel }}<br><strong>Videos Analysed:</strong> {{ $('Prepare Digest Data').item.json.totalVideos }}</p><h3>AI Insight Summary</h3><p>{{ $('Prepare Digest Data').item.json.aiInsight }}</p><h3>Full Video Rankings</h3><table border='1' cellpadding='8' cellspacing='0' style='border-collapse:collapse;width:100%'><thead><tr style='background:#f2f2f2'><th>Rank</th><th>Title</th><th>Views</th><th>Likes</th><th>Comments</th><th>Engagement %</th><th>Score</th><th>Tag</th></tr></thead><tbody>{{ $('Prepare Digest Data').item.json.allVideos.map(v => '<tr><td>' + v.rank + '</td><td>' + v.title + '</td><td>' + v.views + '</td><td>' + v.likes + '</td><td>' + v.comments + '</td><td>' + v.engagementRate + '%</td><td>' + v.performanceScore + '</td><td>' + v.tag + '</td></tr>').join('') }}</tbody></table><br><p><em>Auto-generated by n8n YouTube Performance Digest. All data sourced from YouTube Data API v3. Do not reply to this email.</em></p>","options":{},"subject":"=YouTube Weekly Performance Report - {{ $('Prepare Digest Data').item.json.weekLabel }} ({{ $('Prepare Digest Data').item.json.totalVideos }} videos)"},"typeVersion":2.1},{"id":"37c768f2-52ae-45d9-aed3-adb936d65f8a","name":"Message a model","type":"@n8n/n8n-nodes-langchain.openAi","position":[1760,592],"parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-4.1-mini","cachedResultName":"GPT-4.1-MINI"},"options":{},"responses":{"values":[{"role":"system","content":"You are a YouTube content strategist. Analyze the weekly video performance data provided and write a concise, actionable insight summary. Cover: what drove top performance, what underperformed and possible reasons, and 2-3 specific recommendations for next week. Keep the tone direct and professional. Plain text only, no markdown, under 180 words."},{"content":"=Here is this weeks YouTube video performance data:\n\n{{ $('Aggregate All Videos').item.json.data.map(v => v.rank + '. ' + v.title + ' | Views: ' + v.views + ' | Likes: ' + v.likes + ' | Comments: ' + v.comments + ' | Engagement: ' + v.engagementRate + '% | Tag: ' + v.tag).join('\\n') }}\n\nPlease provide a weekly performance insight summary."}]},"builtInTools":{}},"typeVersion":2.1}],"active":false,"pinData":{},"settings":{"executionOrder":"v1"},"versionId":"f535a733-50ad-420b-bf6d-f0b208e34498","connections":{"Message a model":{"main":[[{"node":"Prepare Digest Data","type":"main","index":0}]]},"Extract Video IDs":{"main":[[{"node":"Fetch Video Statistics","type":"main","index":0}]]},"Log Videos to Sheet":{"main":[[{"node":"Re-Aggregate for Email","type":"main","index":0}]]},"Prepare Digest Data":{"main":[[{"node":"Post Digest to Slack","type":"main","index":0}]]},"Aggregate All Videos":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Parse & Score Videos":{"main":[[{"node":"Aggregate All Videos","type":"main","index":0}]]},"Post Digest to Slack":{"main":[[{"node":"Split Videos for Logging","type":"main","index":0}]]},"Weekly Monday Trigger":{"main":[[{"node":"Fetch Recent Channel Videos","type":"main","index":0}]]},"Fetch Video Statistics":{"main":[[{"node":"Parse & Score Videos","type":"main","index":0}]]},"Re-Aggregate for Email":{"main":[[{"node":"Email Weekly Report","type":"main","index":0}]]},"Split Videos for Logging":{"main":[[{"node":"Log Videos to Sheet","type":"main","index":0}]]},"Fetch Recent Channel Videos":{"main":[[{"node":"Extract Video IDs","type":"main","index":0}]]}}}