workflows/Summarize daily Slack standups with OpenAI, Notion, and Google Sheets-16477/summarize_daily_slack_standups_with_openai_notion_and_google_sheets.json
{"id":"Pm0LVEBqzggqMnp6","meta":{"instanceId":"c91c5b6efe2709e07c37996245857ac5d863d575d07e0072127351337c204c40","templateCredsSetupCompleted":true},"name":"Slack Standup Summary & Notion Logger","tags":[{"id":"2V3HXFbv2wqNGm6s","name":"Dev","createdAt":"2025-06-17T05:42:41.949Z","updatedAt":"2025-06-17T05:42:41.949Z"},{"id":"4Of2LE0HSt4qmmUG","name":"Ansh","createdAt":"2026-04-20T10:32:01.726Z","updatedAt":"2026-04-20T10:32:01.726Z"}],"nodes":[{"id":"f85ed033-c5ed-47fa-807e-89902b1f1d94","name":"Overview Note","type":"n8n-nodes-base.stickyNote","position":[-32,112],"parameters":{"width":496,"height":896,"content":"## Slack Standup Summary & Notion Logger\n\nThis workflow automatically collects daily standup updates from Slack, generates an AI-powered team summary, archives it in Notion, and shares a digest back with the team. It helps improve visibility, track progress, and maintain a searchable record of team activity.\n\n### How it Works\n\n- Runs automatically every weekday on a scheduled trigger.\n- Fetches recent messages from the designated Slack standup channel.\n- Filters out bot messages and irrelevant system notifications.\n- Validates that enough standup updates exist before generating a summary.\n- Formats and cleans raw messages into a structured format.\n- Uses OpenAI to create a concise summary of work completed, ongoing tasks, blockers, and team status.\n- Enriches the summary with metadata such as date and message count.\n- Creates a new entry in a Notion database for long-term record keeping.\n- Posts the formatted digest to a Slack summary channel for team visibility.\n- Logs each workflow run to Google Sheets for auditing and reporting.\n\n### Setup Steps\n\n1. Connect your Slack credential and configure the standup and summary channel IDs.\n2. Add your OpenAI credential for AI summary generation.\n3. Connect your Notion credential and select the target database.\n4. Add your Google Sheets credential and configure the audit log sheet.\n5. Adjust the schedule trigger to match your team's standup timing.\n6. Activate the workflow and verify the summary is generated correctly.\n7. Monitor the first few runs and refine the AI prompt if needed."},"typeVersion":1},{"id":"5db764c6-74a6-4d27-9403-9831f17fe743","name":"Section Note 1","type":"n8n-nodes-base.stickyNote","position":[480,112],"parameters":{"color":7,"width":660,"height":896,"content":"## Step 1: Trigger & Fetch Standup Messages\n\nThe workflow kicks off automatically on a weekday schedule and immediately pulls recent messages from the standup Slack channel. The filter node strips out bot posts and system messages so only genuine human standup updates flow through to processing."},"typeVersion":1},{"id":"34d936a8-5ea6-4ab3-8a40-747f53abed4a","name":"Section Note 2","type":"n8n-nodes-base.stickyNote","position":[1152,112],"parameters":{"color":7,"width":1012,"height":896,"content":"## Step 2: Validate, Clean & Summarize\n\nA validation check ensures there are enough standup messages before continuing. The Code node then formats the raw Slack text into clean structured input, which is sent to OpenAI GPT-4.1-mini to generate a professional team digest highlighting progress, blockers, and key updates from each contributor."},"typeVersion":1},{"id":"3b741a0e-22ee-4ffb-966f-fea079b06e1e","name":"Section Note 3","type":"n8n-nodes-base.stickyNote","position":[2176,112],"parameters":{"color":7,"width":732,"height":896,"content":"## Step 3: Enrich, Log & Distribute\n\nThe AI-generated summary is enriched with run metadata (date, message count, team name), then saved as a structured page in Notion for permanent archiving. Simultaneously, a formatted digest is posted back to Slack for real-time team visibility, and a log entry is appended to Google Sheets for audit and reporting purposes."},"typeVersion":1},{"id":"aa55878a-7c32-4a3a-9e98-5de86e386a43","name":"Weekday Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[544,624],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 9 * * 1-5"}]}},"typeVersion":1.1},{"id":"c73e18b1-0401-4ada-8310-03bad7faff0b","name":"Fetch Slack Channel Messages","type":"n8n-nodes-base.slack","position":[768,624],"webhookId":"3f9621b9-de88-4a1a-adc4-b442cb0b02e7","parameters":{"filters":{"oldest":"={{ $now.startOf('day').minus({hours: 3}).toISO() }}"},"resource":"channel","channelId":{"__rl":true,"mode":"id","value":"YOUR_STANDUP_CHANNEL_ID"},"operation":"history","authentication":"oAuth2"},"typeVersion":2.2},{"id":"340d09d7-ed61-428b-89ab-584081ec09a5","name":"Filter Human Messages","type":"n8n-nodes-base.code","position":[992,624],"parameters":{"jsCode":"const messages = $input.first().json.messages || [];\n\nconst humanMessages = messages.filter(msg => {\n  if (!msg.text || msg.text.trim() === '') return false;\n  if (msg.subtype) return false;\n  if (msg.bot_id) return false;\n  if (msg.text.startsWith('joined') || msg.text.startsWith('left')) return false;\n  return true;\n});\n\nreturn humanMessages.map(msg => ({\n  json: {\n    userId: msg.user || 'unknown',\n    text: msg.text,\n    timestamp: msg.ts,\n    threadCount: msg.reply_count || 0\n  }\n}));"},"typeVersion":2},{"id":"43d33975-9aee-4613-a706-709c33821cbe","name":"Has Standup Messages","type":"n8n-nodes-base.if","position":[1216,624],"parameters":{"options":{},"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"check-message-count","operator":{"type":"number","operation":"gt"},"leftValue":"={{ $input.all().length }}","rightValue":0}]}},"typeVersion":2},{"id":"80eb92d4-fd97-49a8-970b-852abc7b7c23","name":"Notify No Messages","type":"n8n-nodes-base.slack","position":[1440,720],"webhookId":"aa9f11b0-b521-43a3-8759-3f082647d222","parameters":{"text":"No standup messages found today. Skipping digest generation.","select":"channel","channelId":{"__rl":true,"mode":"id","value":"YOUR_STANDUP_CHANNEL_ID"},"otherOptions":{"includeLinkToWorkflow":false}},"typeVersion":2.2},{"id":"db225934-ad02-4e25-a1a7-d51bb8a33c2e","name":"Format Messages for AI","type":"n8n-nodes-base.code","position":[1440,528],"parameters":{"jsCode":"const items = $input.all();\nconst today = new Date().toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });\n\nconst formattedMessages = items.map((item, index) => {\n  const text = item.json.text || '';\n  const userId = item.json.userId || 'Team Member';\n  return 'Message ' + (index + 1) + ' (User: ' + userId + '):\\n' + text;\n}).join('\\n\\n---\\n\\n');\n\nreturn [{\n  json: {\n    messageCount: items.length,\n    today: today,\n    formattedStandup: formattedMessages,\n    teamName: 'Engineering Team'\n  }\n}];"},"typeVersion":2},{"id":"c8e7b89b-68a6-486d-b33d-65ec45627019","name":"Generate Standup Digest","type":"@n8n/n8n-nodes-langchain.openAi","position":[1664,528],"parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-4.1-mini","cachedResultName":"GPT-4.1-MINI"},"options":{},"responses":{"values":[{"role":"system","content":"You are a professional team lead assistant. Read the raw Slack standup messages and produce a clean structured daily digest. Respond ONLY with valid JSON, no markdown, no backticks, using this exact structure: {\"summary\": \"2-3 sentence overall team status\", \"highlights\": [\"key achievement or progress item\"], \"blockers\": [\"any blocker or impediment mentioned\"], \"teamUpdates\": [{\"userId\": \"...\", \"update\": \"clean one-line summary\"}], \"mood\": \"Positive / Neutral / Needs Attention\"}"},{"content":"=Today is {{ $('Format Messages for AI').item.json.today }}. Here are the standup messages from {{ $('Format Messages for AI').item.json.teamName }} ({{ $('Format Messages for AI').item.json.messageCount }} updates):\n\n{{ $('Format Messages for AI').item.json.formattedStandup }}\n\nGenerate the digest JSON now."}]},"builtInTools":{}},"typeVersion":2.1},{"id":"3ce3b047-aed1-4a7f-ab13-62a05b924131","name":"Parse & Enrich Digest","type":"n8n-nodes-base.code","position":[2016,528],"parameters":{"jsCode":"const aiRaw = $input.first().json.message?.content || '{}';\nconst prevData = $('Format Messages for AI').first().json;\n\nlet digest;\ntry {\n  digest = JSON.parse(aiRaw);\n} catch (e) {\n  digest = {\n    summary: aiRaw,\n    highlights: [],\n    blockers: [],\n    teamUpdates: [],\n    mood: 'Neutral'\n  };\n}\n\nconst dateStr = new Date().toISOString().split('T')[0];\n\nreturn [{\n  json: {\n    date: dateStr,\n    today: prevData.today,\n    teamName: prevData.teamName,\n    messageCount: prevData.messageCount,\n    summary: digest.summary || 'No summary generated',\n    highlights: (digest.highlights || []).join('\\n- '),\n    blockers: (digest.blockers || []).join('\\n- '),\n    teamUpdates: digest.teamUpdates || [],\n    teamUpdatesText: (digest.teamUpdates || []).map(u => u.userId + ': ' + u.update).join('\\n'),\n    mood: digest.mood || 'Neutral'\n  }\n}];"},"typeVersion":2},{"id":"4faed400-8b90-4a6d-9481-20e93949ae0a","name":"Log to Notion Database","type":"n8n-nodes-base.notion","position":[2240,528],"parameters":{"title":"=Daily Standup Digest - {{ $json.date }}","blockUi":{"blockValues":[{"type":"heading_2","textContent":"Team Summary"},{"textContent":"={{ $json.summary }}"},{"type":"heading_2","textContent":"Highlights"},{"textContent":"={{ $json.highlights || 'No highlights recorded' }}"},{"type":"heading_2","textContent":"Blockers"},{"textContent":"={{ $json.blockers || 'No blockers reported' }}"},{"type":"heading_2","textContent":"Individual Updates"},{"textContent":"={{ $json.teamUpdatesText }}"}]},"options":{},"resource":"databasePage","databaseId":{"__rl":true,"mode":"id","value":"YOUR_NOTION_DATABASE_ID"},"propertiesUi":{"propertyValues":[{"key":"Date|date","date":"={{ $json.date }}"},{"key":"Team|select","selectValue":"={{ $json.teamName }}"},{"key":"Message Count|number","numberValue":"={{ $json.messageCount }}"},{"key":"Mood|select","selectValue":"={{ $json.mood }}"}]}},"typeVersion":2.2},{"id":"c3d9e3f6-e666-45f4-8ddf-a06a123b1a44","name":"Post Digest to Slack","type":"n8n-nodes-base.slack","position":[2464,528],"webhookId":"b55cf100-1f59-43fa-a220-c3941da274f2","parameters":{"text":"=*Daily Standup Digest - {{ $('Parse & Enrich Digest').item.json.today }}*\n\n*Team:* {{ $('Parse & Enrich Digest').item.json.teamName }} | *Updates:* {{ $('Parse & Enrich Digest').item.json.messageCount }} | *Mood:* {{ $('Parse & Enrich Digest').item.json.mood }}\n\n*Summary*\n{{ $('Parse & Enrich Digest').item.json.summary }}\n\n*Highlights*\n- {{ $('Parse & Enrich Digest').item.json.highlights || 'None recorded' }}\n\n*Blockers*\n- {{ $('Parse & Enrich Digest').item.json.blockers || 'None reported' }}\n\n*Individual Updates*\n{{ $('Parse & Enrich Digest').item.json.teamUpdatesText }}\n\n_Auto-generated by n8n - Full digest saved to Notion_","select":"channel","channelId":{"__rl":true,"mode":"id","value":"YOUR_SUMMARY_CHANNEL_ID"},"otherOptions":{"includeLinkToWorkflow":false}},"typeVersion":2.2},{"id":"13b1fcc9-e8e4-4b34-890e-dd55dc2f9893","name":"Append to Audit Sheet","type":"n8n-nodes-base.googleSheets","position":[2688,528],"parameters":{"columns":{"value":{"Date":"={{ $('Parse & Enrich Digest').item.json.date }}","Mood":"={{ $('Parse & Enrich Digest').item.json.mood }}","Team":"={{ $('Parse & Enrich Digest').item.json.teamName }}","Summary":"={{ $('Parse & Enrich Digest').item.json.summary }}","Slack Posted":"Yes","Message Count":"={{ $('Parse & Enrich Digest').item.json.messageCount }}","Notion Logged":"Yes","Run Timestamp":"={{ $now.toISO() }}","Blockers Present":"={{ $('Parse & Enrich Digest').item.json.blockers.length > 0 ? 'Yes' : 'No' }}"},"mappingMode":"defineBelow"},"options":{},"operation":"append","sheetName":{"__rl":true,"mode":"name","value":"Audit Log"},"documentId":{"__rl":true,"mode":"id","value":"YOUR_SHEET_ID"},"authentication":"serviceAccount"},"typeVersion":4.4}],"active":false,"pinData":{},"settings":{"executionOrder":"v1"},"versionId":"d9df5ed7-153d-4ca9-bb2f-7a6973d251e0","connections":{"Has Standup Messages":{"main":[[{"node":"Format Messages for AI","type":"main","index":0}],[{"node":"Notify No Messages","type":"main","index":0}]]},"Post Digest to Slack":{"main":[[{"node":"Append to Audit Sheet","type":"main","index":0}]]},"Filter Human Messages":{"main":[[{"node":"Has Standup Messages","type":"main","index":0}]]},"Parse & Enrich Digest":{"main":[[{"node":"Log to Notion Database","type":"main","index":0}]]},"Format Messages for AI":{"main":[[{"node":"Generate Standup Digest","type":"main","index":0}]]},"Log to Notion Database":{"main":[[{"node":"Post Digest to Slack","type":"main","index":0}]]},"Generate Standup Digest":{"main":[[{"node":"Parse & Enrich Digest","type":"main","index":0}]]},"Weekday Schedule Trigger":{"main":[[{"node":"Fetch Slack Channel Messages","type":"main","index":0}]]},"Fetch Slack Channel Messages":{"main":[[{"node":"Filter Human Messages","type":"main","index":0}]]}}}