workflows/Sell products in Telegram with Flutterwave and Google Sheets-15470/sell_products_in_telegram_with_flutterwave_and_google_sheets.json
{"id":"oexVl1Z84sGUcCxX","meta":{"instanceId":"c47530286da43337d05c81b6b3a48affed05b1ae8339bb54632729a1da5f1641"},"name":"Automate Products Sales with Flutterwave and Telegram","tags":[{"id":"dZmAIwnUjlzwaNQQ","name":"ecommerce","createdAt":"2026-05-02T20:27:23.685Z","updatedAt":"2026-05-02T20:27:23.685Z"}],"nodes":[{"id":"c1f187d9-1012-4153-b672-cf054f349557","name":"📱 Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","position":[-1904,9760],"webhookId":"telegram-ecom-bot-main","parameters":{"updates":["message","callback_query"],"additionalFields":{}},"credentials":{"telegramApi":{"id":"credential-id","name":"Flutterwave sell bot"}},"typeVersion":1.1},{"id":"440fe37f-482b-47e9-b31b-d958bfdb8d3c","name":"💳 Flutterwave Webhook","type":"n8n-nodes-base.webhook","position":[-3136,10320],"webhookId":"flutterwave-ecom-webhook","parameters":{"path":"flutterwave-payment","options":{},"httpMethod":"POST"},"typeVersion":2},{"id":"3776e352-7394-4104-91e4-15d1463bb36a","name":"🔄 Extract Telegram Data","type":"n8n-nodes-base.code","position":[-1680,9760],"parameters":{"jsCode":"const raw = $input.first().json;\nconst body = raw.body || raw;\nlet update = {};\n\nif (body.callback_query) {\n  const cq = body.callback_query;\n  update = {\n    update_type: 'callback_query',\n    user_id: String(cq.from.id),\n    username: cq.from.username || '',\n    first_name: cq.from.first_name || 'there',\n    chat_id: String(cq.message.chat.id),\n    message_id: cq.message.message_id,\n    callback_id: cq.id,\n    callback_data: cq.data,\n    text: ''\n  };\n} else if (body.message) {\n  const msg = body.message;\n  update = {\n    update_type: 'message',\n    user_id: String(msg.from.id),\n    username: msg.from.username || '',\n    first_name: msg.from.first_name || 'there',\n    chat_id: String(msg.chat.id),\n    message_id: msg.message_id,\n    callback_id: '',\n    callback_data: '',\n    text: (msg.text || '').trim()\n  };\n} else if (body.message_id) {\n  // Direct message format (Telegram Trigger may flatten the structure)\n  update = {\n    update_type: 'message',\n    user_id: String((body.from || {}).id || ''),\n    username: (body.from || {}).username || '',\n    first_name: (body.from || {}).first_name || 'there',\n    chat_id: String((body.chat || {}).id || ''),\n    message_id: body.message_id,\n    callback_id: '',\n    callback_data: '',\n    text: (body.text || '').trim()\n  };\n}\n\nreturn [{ json: update }];"},"typeVersion":2},{"id":"2552775c-1715-40d9-8bfe-725ccba3a406","name":"📋 Get User Session","type":"n8n-nodes-base.googleSheets","position":[-1456,9760],"parameters":{"options":{},"sheetName":{"__rl":true,"mode":"name","value":"Session"},"documentId":{"__rl":true,"mode":"id","value":"1Pv_P4PX0BVwgQQVqBkQsBRek1hwQI96HGyvAAVcWotI"}},"credentials":{"googleSheetsOAuth2Api":{"id":"credential-id","name":"Google Sheets Api"}},"typeVersion":4.4,"alwaysOutputData":true},{"id":"eb74037f-84fe-467f-88a2-07c817378cf5","name":"✅ Session Exists?","type":"n8n-nodes-base.if","position":[-1232,9760],"parameters":{"options":{},"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"check-user-id","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.user_id }}","rightValue":""}]}},"typeVersion":2},{"id":"190673aa-c4c5-4bd3-addd-103609d75160","name":"🆕 Create New Session","type":"n8n-nodes-base.googleSheets","position":[-1008,9824],"parameters":{"columns":{"value":{"state":"idle","chat_id":"={{ $('🔄 Extract Telegram Data').item.json.chat_id }}","user_id":"={{ $('🔄 Extract Telegram Data').item.json.user_id }}","cart_json":"[]","created_at":"={{ new Date().toISOString() }}"},"schema":[{"id":"user_id","type":"string","display":true,"removed":false,"required":false,"displayName":"user_id","defaultMatch":false,"canBeUsedToMatch":true},{"id":"chat_id","type":"string","display":true,"removed":false,"required":false,"displayName":"chat_id","defaultMatch":false,"canBeUsedToMatch":true},{"id":"state","type":"string","display":true,"removed":false,"required":false,"displayName":"state","defaultMatch":false,"canBeUsedToMatch":true},{"id":"cart_json","type":"string","display":true,"removed":false,"required":false,"displayName":"cart_json","defaultMatch":false,"canBeUsedToMatch":true},{"id":"selected_product_id","type":"string","display":true,"removed":false,"required":false,"displayName":"selected_product_id","defaultMatch":false,"canBeUsedToMatch":true},{"id":"selected_product_name","type":"string","display":true,"removed":false,"required":false,"displayName":"selected_product_name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"selected_product_price","type":"string","display":true,"removed":false,"required":false,"displayName":"selected_product_price","defaultMatch":false,"canBeUsedToMatch":true},{"id":"selected_product_type","type":"string","display":true,"removed":false,"required":false,"displayName":"selected_product_type","defaultMatch":false,"canBeUsedToMatch":true},{"id":"selected_product_file","type":"string","display":true,"removed":false,"required":false,"displayName":"selected_product_file","defaultMatch":false,"canBeUsedToMatch":true},{"id":"temp_email","type":"string","display":true,"removed":false,"required":false,"displayName":"temp_email","defaultMatch":false,"canBeUsedToMatch":true},{"id":"temp_address","type":"string","display":true,"removed":false,"required":false,"displayName":"temp_address","defaultMatch":false,"canBeUsedToMatch":true},{"id":"created_at","type":"string","display":true,"removed":false,"required":false,"displayName":"created_at","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"useAppend":false},"operation":"append","sheetName":{"__rl":true,"mode":"name","value":"Session"},"documentId":{"__rl":true,"mode":"id","value":"1Pv_P4PX0BVwgQQVqBkQsBRek1hwQI96HGyvAAVcWotI"}},"credentials":{"googleSheetsOAuth2Api":{"id":"credential-id","name":"Google Sheets Api"}},"typeVersion":4.4},{"id":"27b0eae2-e1aa-46c5-9688-6d8b2ecdb629","name":"🔗 Merge Session Paths","type":"n8n-nodes-base.merge","position":[-784,9760],"parameters":{},"typeVersion":3},{"id":"06e36794-2617-4aab-b439-0c4eaedf8df3","name":"🗺️ Route by Session State","type":"n8n-nodes-base.switch","position":[-560,9680],"parameters":{"rules":{"values":[{"outputKey":"idle","conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"state-idle","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.state }}","rightValue":"idle"}]},"renameOutput":true},{"outputKey":"selecting_quantity","conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"state-qty","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.state }}","rightValue":"selecting_quantity"}]},"renameOutput":true},{"outputKey":"entering_email","conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"state-email","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.state }}","rightValue":"entering_email"}]},"renameOutput":true},{"outputKey":"entering_address","conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"state-address","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.state }}","rightValue":"entering_address"}]},"renameOutput":true},{"outputKey":"awaiting_payment","conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"state-awaiting","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.state }}","rightValue":"awaiting_payment"}]},"renameOutput":true},{"outputKey":"searching_order","conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"state-searching-order","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.state }}","rightValue":"searching_order"}]},"renameOutput":true}]},"options":{"fallbackOutput":"extra"}},"typeVersion":3},{"id":"a96410b3-842b-4118-841c-0551c557e8f3","name":"💬 Route by Update Type","type":"n8n-nodes-base.switch","position":[928,7760],"parameters":{"rules":{"values":[{"outputKey":"callback","conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"is-callback","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('🔄 Extract Telegram Data').item.json.update_type }}","rightValue":"callback_query"}]},"renameOutput":true},{"outputKey":"start","conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"is-start","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('🔄 Extract Telegram Data').item.json.text }}","rightValue":"/start"}]},"renameOutput":true},{"outputKey":"products","conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"is-products","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('🔄 Extract Telegram Data').item.json.text }}","rightValue":"/products"}]},"renameOutput":true},{"outputKey":"cart","conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"is-cart","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('🔄 Extract Telegram Data').item.json.text }}","rightValue":"/cart"}]},"renameOutput":true},{"outputKey":"orders","conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"is-orders","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('🔄 Extract Telegram Data').item.json.text }}","rightValue":"/orders"}]},"renameOutput":true}]},"options":{"fallbackOutput":"extra"}},"typeVersion":3},{"id":"b560ba18-c728-4edf-9cde-c41f4957dd35","name":"👋 Send Welcome Menu","type":"n8n-nodes-base.telegram","position":[1152,7632],"webhookId":"3200e60b-1642-4fb3-9bcd-ac625591a934","parameters":{"text":"=👋 Welcome, {{ $('🔄 Extract Telegram Data').item.json.first_name }}!\n\nWelcome to our store. What would you like to do?","chatId":"={{ $('🔄 Extract Telegram Data').item.json.chat_id }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🛍️ View Products","additionalFields":{"callback_data":"view_products"}}]}},{"row":{"buttons":[{"text":"🛒 View Cart","additionalFields":{"callback_data":"view_cart"}}]}},{"row":{"buttons":[{"text":"📦 My Orders","additionalFields":{"callback_data":"my_orders"}}]}}]},"additionalFields":{"parse_mode":"HTML","appendAttribution":false}},"credentials":{"telegramApi":{"id":"credential-id","name":"Flutterwave sell bot"}},"typeVersion":1.2},{"id":"5b57cb6c-5a7f-4a5d-91d3-28d5cb30468c","name":"🛍️ Fetch All Products","type":"n8n-nodes-base.googleSheets","position":[1376,7808],"parameters":{"options":{},"sheetName":{"__rl":true,"mode":"name","value":"Products"},"documentId":{"__rl":true,"mode":"id","value":"1Pv_P4PX0BVwgQQVqBkQsBRek1hwQI96HGyvAAVcWotI"}},"credentials":{"googleSheetsOAuth2Api":{"id":"credential-id","name":"Google Sheets Api"}},"typeVersion":4.4},{"id":"13d9c52a-af38-45af-984b-b3e673c48dee","name":"📝 Format Products List","type":"n8n-nodes-base.code","position":[1600,7808],"parameters":{"jsCode":"const products = $input.all().map(i => i.json);\nconst chat_id = $('🔄 Extract Telegram Data').first().json.chat_id;\n\nif (!products.length) {\n  return [{ json: { chat_id, text: '😔 No products available right now. Check back later!', keyboard: [] } }];\n}\n\nconst keyboard = products.map(p => ([\n  {\n    text: `${p.type === 'digital' ? '💻' : '📦'} ${p.name} — ₦${Number(p.price).toLocaleString()} ${Number(p.stock) === 0 ? '(Out of Stock)' : ''}`,\n    callback_data: `product_${p.id}`\n  }\n]));\n\nkeyboard.push([{text: '🛒 View Cart', callback_data: 'view_cart'}]);\n\nconst text = '🛍️ <b>Our Products</b>\\n\\nTap a product to add it to your cart:';\n\nreturn [{ json: { chat_id, text, keyboard } }];"},"typeVersion":2},{"id":"484fc340-8f28-4e6b-bf24-bfbd945bcbc6","name":"📤 Send Products List","type":"n8n-nodes-base.httpRequest","position":[1824,7808],"parameters":{"url":"https://api.telegram.org/botYOUR_TELEGRAM_BOT_TOKEN/sendMessage","method":"POST","options":{},"jsonBody":"={{ JSON.stringify({ chat_id: $json.chat_id, text: $json.text, parse_mode: 'HTML', reply_markup: { inline_keyboard: $json.keyboard } }) }}","sendBody":true,"specifyBody":"json"},"typeVersion":4.2},{"id":"a6cddf40-cbd9-4c03-a487-79ce51e91a2c","name":"🔀 Route Callback Data","type":"n8n-nodes-base.switch","position":[1152,8432],"parameters":{"rules":{"values":[{"outputKey":"view_products","conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"cb-view-products","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('🔄 Extract Telegram Data').item.json.callback_data }}","rightValue":"view_products"}]},"renameOutput":true},{"outputKey":"view_cart","conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"cb-view-cart","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('🔄 Extract Telegram Data').item.json.callback_data }}","rightValue":"view_cart"}]},"renameOutput":true},{"outputKey":"product","conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"cb-product","operator":{"type":"string","operation":"startsWith"},"leftValue":"={{ $('🔄 Extract Telegram Data').item.json.callback_data }}","rightValue":"product_"}]},"renameOutput":true},{"outputKey":"remove_item","conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"cb-remove","operator":{"type":"string","operation":"startsWith"},"leftValue":"={{ $('🔄 Extract Telegram Data').item.json.callback_data }}","rightValue":"remove_"}]},"renameOutput":true},{"outputKey":"checkout","conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"cb-checkout","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('🔄 Extract Telegram Data').item.json.callback_data }}","rightValue":"checkout"}]},"renameOutput":true},{"outputKey":"my_orders","conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"cb-my-orders","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('🔄 Extract Telegram Data').item.json.callback_data }}","rightValue":"my_orders"}]},"renameOutput":true},{"outputKey":"order_detail","conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"cb-order-detail","operator":{"type":"string","operation":"startsWith"},"leftValue":"={{ $('🔄 Extract Telegram Data').item.json.callback_data }}","rightValue":"order_"}]},"renameOutput":true},{"outputKey":"track_order","conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"cb-track-order","operator":{"type":"string","operation":"startsWith"},"leftValue":"={{ $('🔄 Extract Telegram Data').item.json.callback_data }}","rightValue":"track_"}]},"renameOutput":true},{"outputKey":"search_order","conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"cb-search-order","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('🔄 Extract Telegram Data').item.json.callback_data }}","rightValue":"search_order"}]},"renameOutput":true},{"outputKey":"cancel_input","conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"cb-cancel-input","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('🔄 Extract Telegram Data').item.json.callback_data }}","rightValue":"cancel_input"}]},"renameOutput":true}]},"options":{"fallbackOutput":"extra"}},"typeVersion":3},{"id":"7335ef7a-d9c5-4ae3-944e-78243d9dfd70","name":"📦 Get Product Detail","type":"n8n-nodes-base.googleSheets","position":[1376,8384],"parameters":{"options":{},"filtersUI":{"values":[{"lookupValue":"={{ $('🔄 Extract Telegram Data').item.json.callback_data.split('_')[1] }}","lookupColumn":"id"}]},"sheetName":{"__rl":true,"mode":"name","value":"Products"},"documentId":{"__rl":true,"mode":"id","value":"1Pv_P4PX0BVwgQQVqBkQsBRek1hwQI96HGyvAAVcWotI"}},"credentials":{"googleSheetsOAuth2Api":{"id":"credential-id","name":"Google Sheets Api"}},"typeVersion":4.4},{"id":"61a763fb-a702-4f98-ab84-a3a3b3949db6","name":"📊 Product In Stock?","type":"n8n-nodes-base.if","position":[1600,8384],"parameters":{"options":{},"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"stock-check","operator":{"type":"number","operation":"gt"},"leftValue":"={{ Number($json.stock) }}","rightValue":0}]}},"typeVersion":2},{"id":"12617e11-6b82-40fa-b37e-40dc5e0502d7","name":"💾 Set State: Selecting Qty","type":"n8n-nodes-base.googleSheets","position":[1824,8304],"parameters":{"columns":{"value":{"state":"selecting_quantity","user_id":"={{ $('🔄 Extract Telegram Data').item.json.user_id }}","selected_product_id":"={{ $('📦 Get Product Detail').item.json.id }}","selected_product_file":"={{ $('📦 Get Product Detail').item.json.file_url }}","selected_product_name":"={{ $('📦 Get Product Detail').item.json.name }}","selected_product_type":"={{ $('📦 Get Product Detail').item.json.type }}","selected_product_price":"={{ $('📦 Get Product Detail').item.json.price }}"},"schema":[],"mappingMode":"defineBelow","matchingColumns":["user_id"]},"options":{},"operation":"update","sheetName":{"__rl":true,"mode":"name","value":"Session"},"documentId":{"__rl":true,"mode":"id","value":"1Pv_P4PX0BVwgQQVqBkQsBRek1hwQI96HGyvAAVcWotI"}},"credentials":{"googleSheetsOAuth2Api":{"id":"credential-id","name":"Google Sheets Api"}},"typeVersion":4.4},{"id":"022c74cd-aab9-4bae-9e77-808e43d8721f","name":"❓ Ask Quantity","type":"n8n-nodes-base.telegram","position":[2048,8304],"webhookId":"5486b66d-a951-468b-b78c-58649d5df417","parameters":{"text":"=🛍️ <b>{{ $('📦 Get Product Detail').item.json.name }}</b>\n💰 Price: ₦{{ Number($('📦 Get Product Detail').item.json.price).toLocaleString() }}\n📦 In stock: {{ $('📦 Get Product Detail').item.json.stock }} units\n\nHow many would you like? (Reply with a number)\n\n<i>Type /cancel to go back</i>","chatId":"={{ $('🔄 Extract Telegram Data').item.json.chat_id }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"❌ Cancel","additionalFields":{"callback_data":"cancel_input"}},{"text":"🛍️ Back to Products","additionalFields":{"callback_data":"cancel_input"}}]}}]},"additionalFields":{"parse_mode":"HTML","appendAttribution":false}},"credentials":{"telegramApi":{"id":"credential-id","name":"Flutterwave sell bot"}},"typeVersion":1.2},{"id":"8e6156bd-5670-461e-8792-e4295b7b8766","name":"❌ Out of Stock Message","type":"n8n-nodes-base.telegram","position":[1824,8496],"webhookId":"4b511956-983c-428c-b93d-2ec3c2c4e693","parameters":{"text":"=😔 Sorry, <b>{{ $json.name }}</b> is currently out of stock.\n\nWe'll restock soon! Check back later.","chatId":"={{ $('🔄 Extract Telegram Data').item.json.chat_id }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🛍️ Browse Other Products","additionalFields":{"callback_data":"view_products"}}]}}]},"additionalFields":{"parse_mode":"HTML","appendAttribution":false}},"credentials":{"telegramApi":{"id":"credential-id","name":"Flutterwave sell bot"}},"typeVersion":1.2},{"id":"db2b6936-d8ff-467a-ae15-8e4ea98d429a","name":"🔢 Validate Quantity Input","type":"n8n-nodes-base.code","position":[928,9968],"parameters":{"jsCode":"const session = $input.first().json;\nconst text = ($('🔄 Extract Telegram Data').first().json.text || '').trim();\nconst callback = $('🔄 Extract Telegram Data').first().json.callback_data || '';\nconst chat_id = $('🔄 Extract Telegram Data').first().json.chat_id;\nconst user_id = $('🔄 Extract Telegram Data').first().json.user_id;\n\nif (text === '/cancel' || text === '/start' || callback === 'cancel_input') {\n  return [{ json: { ...session, is_valid_qty: false, cancelled: true, chat_id, user_id } }];\n}\n\nconst qty = parseInt(text, 10);\nconst isValid = !isNaN(qty) && qty > 0 && qty <= 999;\n\nreturn [{\n  json: {\n    ...session,\n    input_quantity: qty,\n    is_valid_qty: isValid,\n    cancelled: false,\n    chat_id,\n    user_id\n  }\n}];"},"typeVersion":2},{"id":"8b4c3858-6559-4794-87a6-d5e31e840bba","name":"✅ Quantity Valid?","type":"n8n-nodes-base.if","position":[1376,10256],"parameters":{"options":{},"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"qty-valid","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.is_valid_qty }}","rightValue":true}]}},"typeVersion":2},{"id":"be04a732-3472-420b-aef4-fdd27fa69ae7","name":"📊 Check Stock for Qty","type":"n8n-nodes-base.googleSheets","position":[1600,10064],"parameters":{"options":{},"filtersUI":{"values":[{"lookupValue":"={{ $json.selected_product_id }}","lookupColumn":"id"}]},"sheetName":{"__rl":true,"mode":"name","value":"Products"},"documentId":{"__rl":true,"mode":"id","value":"1Pv_P4PX0BVwgQQVqBkQsBRek1hwQI96HGyvAAVcWotI"}},"credentials":{"googleSheetsOAuth2Api":{"id":"credential-id","name":"Google Sheets Api"}},"typeVersion":4.4},{"id":"6ff39658-9f8a-478c-bc15-ae971d501d26","name":"✅ Enough Stock?","type":"n8n-nodes-base.if","position":[1824,10064],"parameters":{"options":{},"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"stock-sufficient","operator":{"type":"number","operation":"gte"},"leftValue":"={{ Number($json.stock) }}","rightValue":"={{ $('🔢 Validate Quantity Input').item.json.input_quantity }}"}]}},"typeVersion":2},{"id":"3c1d21b7-d7b1-4163-920e-516e33bc0625","name":"🛒 Add Item to Cart","type":"n8n-nodes-base.code","position":[2048,9488],"parameters":{"jsCode":"const product = $input.first().json;\nconst session = $('🔢 Validate Quantity Input').first().json;\nconst qty = session.input_quantity;\n\nlet cart = [];\ntry {\n  cart = JSON.parse(session.cart_json || '[]');\n} catch(e) {\n  cart = [];\n}\n\n// Check if product already in cart\nconst existingIdx = cart.findIndex(i => i.id === session.selected_product_id);\nif (existingIdx >= 0) {\n  cart[existingIdx].quantity += qty;\n  cart[existingIdx].subtotal = cart[existingIdx].quantity * Number(session.selected_product_price);\n} else {\n  cart.push({\n    id: session.selected_product_id,\n    name: session.selected_product_name,\n    price: Number(session.selected_product_price),\n    type: session.selected_product_type,\n    file_url: session.selected_product_file || '',\n    quantity: qty,\n    subtotal: qty * Number(session.selected_product_price)\n  });\n}\n\nconst total = cart.reduce((sum, i) => sum + i.subtotal, 0);\n\nreturn [{\n  json: {\n    user_id: session.user_id,\n    chat_id: session.chat_id,\n    cart_json: JSON.stringify(cart),\n    cart,\n    total,\n    product_name: session.selected_product_name,\n    qty_added: qty\n  }\n}];"},"typeVersion":2},{"id":"f29f105f-cadd-455a-9071-67e2d8485119","name":"💾 Save Cart to Session","type":"n8n-nodes-base.googleSheets","position":[2272,9488],"parameters":{"columns":{"value":{"state":"idle","user_id":"={{ $json.user_id }}","cart_json":"={{ $json.cart_json }}","selected_product_id":"","selected_product_file":"","selected_product_name":"","selected_product_type":"","selected_product_price":""},"schema":[],"mappingMode":"defineBelow","matchingColumns":["user_id"]},"options":{},"operation":"update","sheetName":{"__rl":true,"mode":"name","value":"Session"},"documentId":{"__rl":true,"mode":"id","value":"1Pv_P4PX0BVwgQQVqBkQsBRek1hwQI96HGyvAAVcWotI"}},"credentials":{"googleSheetsOAuth2Api":{"id":"credential-id","name":"Google Sheets Api"}},"typeVersion":4.4},{"id":"fa362349-c1f8-4169-a4a6-3fee7a38d63c","name":"✅ Item Added to Cart","type":"n8n-nodes-base.telegram","position":[2496,9488],"webhookId":"0283a8d6-60f2-49ca-a179-d50d77933e01","parameters":{"text":"=✅ Added to cart!\n\n🛍️ <b>{{ $('🛒 Add Item to Cart').item.json.product_name }}</b> × {{ $('🛒 Add Item to Cart').item.json.qty_added }}\n\nCart total: ₦{{ Number($('🛒 Add Item to Cart').item.json.total).toLocaleString() }}","chatId":"={{ $('🛒 Add Item to Cart').item.json.chat_id }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🛒 View Cart","additionalFields":{"callback_data":"view_cart"}}]}},{"row":{"buttons":[{"text":"🛍️ Keep Shopping","additionalFields":{"callback_data":"view_products"}}]}}]},"additionalFields":{"parse_mode":"HTML","appendAttribution":false}},"credentials":{"telegramApi":{"id":"credential-id","name":"Flutterwave sell bot"}},"typeVersion":1.2},{"id":"c7ebb26a-55cf-40fc-bed1-d90ecd9e4635","name":"❌ Not Enough Stock","type":"n8n-nodes-base.telegram","position":[2048,10160],"webhookId":"19908767-9895-4b83-a4f9-1b3036f93fd7","parameters":{"text":"=❌ Sorry, only <b>{{ $json.stock }}</b> unit(s) of this product are available.\n\nPlease enter a lower quantity.","chatId":"={{ $('🔄 Extract Telegram Data').item.json.chat_id }}","additionalFields":{"parse_mode":"HTML","appendAttribution":false}},"credentials":{"telegramApi":{"id":"credential-id","name":"Flutterwave sell bot"}},"typeVersion":1.2},{"id":"940b35e1-f3e6-4c88-a181-586e535dade0","name":"❌ Invalid Quantity","type":"n8n-nodes-base.telegram","position":[1600,10256],"webhookId":"cb026a16-38df-4ecd-b383-f131ad11001f","parameters":{"text":"❌ Please enter a valid number (e.g. 1, 2, 3...).","chatId":"={{ $('🔄 Extract Telegram Data').item.json.chat_id }}","additionalFields":{"appendAttribution":false}},"credentials":{"telegramApi":{"id":"credential-id","name":"Flutterwave sell bot"}},"typeVersion":1.2},{"id":"b7d23491-6ca9-483a-8ec1-304f0e52fdfc","name":"🧺 Load Cart Session","type":"n8n-nodes-base.googleSheets","position":[1376,8688],"parameters":{"options":{},"sheetName":{"__rl":true,"mode":"name","value":"Session"},"documentId":{"__rl":true,"mode":"id","value":"1Pv_P4PX0BVwgQQVqBkQsBRek1hwQI96HGyvAAVcWotI"}},"credentials":{"googleSheetsOAuth2Api":{"id":"credential-id","name":"Google Sheets Api"}},"typeVersion":4.4},{"id":"259b269c-e12c-41e0-9724-3ead44509278","name":"📝 Format Cart Display","type":"n8n-nodes-base.code","position":[1600,8688],"parameters":{"jsCode":"const session = $input.first().json;\nconst chat_id = $('🔄 Extract Telegram Data').first().json.chat_id;\n\nlet cart = [];\ntry {\n  cart = JSON.parse(session.cart_json || '[]');\n} catch(e) { cart = []; }\n\nif (!cart.length) {\n  return [{ json: { chat_id, is_empty: true, text: '', keyboard: [] } }];\n}\n\nconst total = cart.reduce((s, i) => s + i.subtotal, 0);\n\nlet text = '🛒 <b>Your Cart</b>\\n\\n';\ncart.forEach((item, idx) => {\n  const icon = item.type === 'digital' ? '💻' : '📦';\n  text += `${icon} ${item.name}\\n   ${item.quantity} × ₦${Number(item.price).toLocaleString()} = ₦${Number(item.subtotal).toLocaleString()}\\n\\n`;\n});\ntext += `<b>Total: ₦${Number(total).toLocaleString()}</b>`;\n\nconst removeButtons = cart.map(item => ([\n  { text: `🗑️ Remove ${item.name}`, callback_data: `remove_${item.id}` }\n]));\n\nconst keyboard = [\n  [{text: '💳 Checkout', callback_data: 'checkout'}],\n  ...removeButtons,\n  [{text: '🛍️ Continue Shopping', callback_data: 'view_products'}]\n];\n\nreturn [{ json: { chat_id, is_empty: false, text, keyboard, total, cart, user_id: session.user_id } }];"},"typeVersion":2},{"id":"3283ae76-1e75-4281-a7d3-d02850073005","name":"🛒 Cart Empty?","type":"n8n-nodes-base.if","position":[1824,8688],"parameters":{"options":{},"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"empty-cart","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.is_empty }}","rightValue":true}]}},"typeVersion":2},{"id":"2b0beea2-f229-482f-b647-68b2cc787b37","name":"📭 Empty Cart Message","type":"n8n-nodes-base.telegram","position":[2048,9296],"webhookId":"5d790b69-183b-4468-8b62-d4170331b754","parameters":{"text":"🛒 Your cart is empty!\n\nBrowse our products and add something you like.","chatId":"={{ $json.chat_id }}","additionalFields":{"appendAttribution":false}},"credentials":{"telegramApi":{"id":"credential-id","name":"Flutterwave sell bot"}},"typeVersion":1.2},{"id":"c9600f1b-2858-446c-b5aa-910f999d254e","name":"🛒 Send Cart Display","type":"n8n-nodes-base.httpRequest","position":[2048,8592],"parameters":{"url":"https://api.telegram.org/botYOUR_TELEGRAM_BOT_TOKEN/sendMessage","method":"POST","options":{},"jsonBody":"={{ JSON.stringify({ chat_id: $json.chat_id, text: $json.text, parse_mode: 'HTML', reply_markup: { inline_keyboard: $json.keyboard } }) }}","sendBody":true,"specifyBody":"json"},"typeVersion":4.2},{"id":"d612389a-702b-4954-b50d-f8e5b0c4f362","name":"🗑️ Remove Item from Cart","type":"n8n-nodes-base.code","position":[1376,9488],"parameters":{"jsCode":"const session = $input.first().json;\nconst callbackData = $('🔄 Extract Telegram Data').first().json.callback_data;\nconst removeId = callbackData.replace('remove_', '');\nconst chat_id = $('🔄 Extract Telegram Data').first().json.chat_id;\n\nlet cart = [];\ntry {\n  cart = JSON.parse(session.cart_json || '[]');\n} catch(e) { cart = []; }\n\nconst removed = cart.find(i => i.id === removeId);\ncart = cart.filter(i => i.id !== removeId);\n\nconst total = cart.reduce((s, i) => s + i.subtotal, 0);\n\nreturn [{\n  json: {\n    user_id: session.user_id,\n    chat_id,\n    cart_json: JSON.stringify(cart),\n    removed_name: removed ? removed.name : 'Item',\n    total,\n    cart_count: cart.length\n  }\n}];"},"typeVersion":2},{"id":"f37f395b-8e9b-4b31-81fb-439f0cde3784","name":"💾 Save Cart After Remove","type":"n8n-nodes-base.googleSheets","position":[1600,9488],"parameters":{"columns":{"value":{"state":"idle","user_id":"={{ $json.user_id }}","cart_json":"={{ $json.cart_json }}"},"schema":[],"mappingMode":"defineBelow","matchingColumns":["user_id"]},"options":{},"operation":"update","sheetName":{"__rl":true,"mode":"name","value":"Session"},"documentId":{"__rl":true,"mode":"id","value":"1Pv_P4PX0BVwgQQVqBkQsBRek1hwQI96HGyvAAVcWotI"}},"credentials":{"googleSheetsOAuth2Api":{"id":"credential-id","name":"Google Sheets Api"}},"typeVersion":4.4},{"id":"2d8b03e6-8c84-4a1b-86e4-02fcd9a2447f","name":"✅ Cart Updated Message","type":"n8n-nodes-base.telegram","position":[1824,9488],"webhookId":"381103bf-5d0a-44e8-8907-9f64b9f425bd","parameters":{"text":"=🗑️ Removed <b>{{ $('🗑️ Remove Item from Cart').item.json.removed_name }}</b> from your cart.\n\n{{ $('🗑️ Remove Item from Cart').item.json.cart_count > 0 ? 'Cart updated! ✅' : 'Your cart is now empty.' }}","chatId":"={{ $('🗑️ Remove Item from Cart').item.json.chat_id }}","additionalFields":{"parse_mode":"HTML","appendAttribution":false}},"credentials":{"telegramApi":{"id":"credential-id","name":"Flutterwave sell bot"}},"typeVersion":1.2},{"id":"d093cf1b-5817-43fe-9612-656497f0b6f8","name":"🛒 Load Session for Checkout","type":"n8n-nodes-base.googleSheets","position":[1376,9872],"parameters":{"options":{},"sheetName":{"__rl":true,"mode":"name","value":"Session"},"documentId":{"__rl":true,"mode":"id","value":"1Pv_P4PX0BVwgQQVqBkQsBRek1hwQI96HGyvAAVcWotI"}},"credentials":{"googleSheetsOAuth2Api":{"id":"credential-id","name":"Google Sheets Api"}},"typeVersion":4.4},{"id":"e59304cd-3a57-4c45-9767-3eb6fbe2b691","name":"💾 Set State: Entering Email","type":"n8n-nodes-base.googleSheets","position":[1600,9872],"parameters":{"columns":{"value":{"state":"={{ JSON.parse($json.cart_json || '[]').length > 0 ? 'entering_email' : 'idle' }}","user_id":"={{ $json.user_id }}"},"schema":[],"mappingMode":"defineBelow","matchingColumns":["user_id"]},"options":{},"operation":"update","sheetName":{"__rl":true,"mode":"name","value":"Session"},"documentId":{"__rl":true,"mode":"id","value":"1Pv_P4PX0BVwgQQVqBkQsBRek1hwQI96HGyvAAVcWotI"}},"credentials":{"googleSheetsOAuth2Api":{"id":"credential-id","name":"Google Sheets Api"}},"typeVersion":4.4},{"id":"8ce91852-9cc0-4d9c-b0e1-a32ebfe93e5c","name":"📧 Ask for Email","type":"n8n-nodes-base.telegram","position":[1824,9872],"webhookId":"34c66855-7800-4e68-8712-63dd914ce61c","parameters":{"text":"={{ $json.state === 'idle' ? '❌ <b>Your cart is empty!</b>\\n\\nPlease add items to your cart before checking out.\\n\\nSend /start to go to the main menu.' : '💳 <b>Checkout</b>\\n\\nPlease enter your email address to receive your payment confirmation:\\n\\n<i>Type /cancel to go back</i>' }}","chatId":"={{ $('🔄 Extract Telegram Data').item.json.chat_id }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"❌ Cancel Checkout","additionalFields":{"callback_data":"cancel_input"}}]}}]},"additionalFields":{"parse_mode":"HTML","appendAttribution":false}},"credentials":{"telegramApi":{"id":"credential-id","name":"Flutterwave sell bot"}},"typeVersion":1.2},{"id":"f888c47e-30ef-4d98-bcaf-1df95b92d974","name":"📧 Validate Email Input","type":"n8n-nodes-base.code","position":[928,10256],"parameters":{"jsCode":"const session = $input.first().json;\nconst text = ($('🔄 Extract Telegram Data').first().json.text || '').trim();\nconst callback = $('🔄 Extract Telegram Data').first().json.callback_data || '';\nconst chat_id = $('🔄 Extract Telegram Data').first().json.chat_id;\nconst user_id = $('🔄 Extract Telegram Data').first().json.user_id;\n\nif (text === '/cancel' || text === '/start' || callback === 'cancel_input') {\n  return [{ json: { ...session, is_valid_email: false, cancelled: true, chat_id, user_id } }];\n}\n\nconst email = text.toLowerCase();\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nconst validTLDs = ['com','net','org','edu','gov','co','io','ng','uk','info','biz','me','dev','app','xyz','online','site','tech','store','shop'];\nconst tld = email.split('.').pop();\nconst commonTypos = {'con': 'com', 'cmo': 'com', 'ocm': 'com', 'vom': 'com', 'gmai.com': 'gmail.com', 'gmial.com': 'gmail.com'};\n\nlet warning = '';\nif (commonTypos[tld]) {\n  warning = `\\n\\n⚠️ Did you mean .${commonTypos[tld]} instead of .${tld}?`;\n}\n\nconst isValid = emailRegex.test(email) && tld.length >= 2 && !commonTypos[tld];\n\nreturn [{\n  json: {\n    ...session,\n    input_email: email,\n    is_valid_email: isValid,\n    cancelled: false,\n    warning,\n    chat_id,\n    user_id\n  }\n}];"},"typeVersion":2},{"id":"2a8eb8f8-7128-4574-8ac7-9bd7bbc73371","name":"✅ Email Valid?","type":"n8n-nodes-base.if","position":[1376,10640],"parameters":{"options":{},"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"email-valid","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.is_valid_email }}","rightValue":true}]}},"typeVersion":2},{"id":"5b4994b1-249d-475c-997f-1befa116c5b1","name":"💾 Save Email to Session","type":"n8n-nodes-base.googleSheets","position":[1600,10448],"parameters":{"columns":{"value":{"user_id":"={{ $json.user_id }}","temp_email":"={{ $json.input_email }}"},"schema":[],"mappingMode":"defineBelow","matchingColumns":["user_id"]},"options":{},"operation":"update","sheetName":{"__rl":true,"mode":"name","value":"Session"},"documentId":{"__rl":true,"mode":"id","value":"1Pv_P4PX0BVwgQQVqBkQsBRek1hwQI96HGyvAAVcWotI"}},"credentials":{"googleSheetsOAuth2Api":{"id":"credential-id","name":"Google Sheets Api"}},"typeVersion":4.4},{"id":"256e5a19-4456-42d4-bc72-bc7d7595bec0","name":"📦 Check for Physical Items","type":"n8n-nodes-base.code","position":[1824,10448],"parameters":{"jsCode":"const session = $('📧 Validate Email Input').first().json;\nlet cart = [];\ntry { cart = JSON.parse(session.cart_json || '[]'); } catch(e) { cart = []; }\n\nconst hasPhysical = cart.some(item => item.type === 'physical');\n\nreturn [{\n  json: {\n    ...session,\n    has_physical_items: hasPhysical\n  }\n}];"},"typeVersion":2},{"id":"42f47373-2de4-47af-b333-7e5df8d1fd27","name":"🏠 Need Delivery Address?","type":"n8n-nodes-base.if","position":[2048,10448],"parameters":{"options":{},"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"need-address","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.has_physical_items }}","rightValue":true}]}},"typeVersion":2},{"id":"26619e5d-01b8-4797-b255-0cffdc393c9f","name":"💾 Set State: Entering Address","type":"n8n-nodes-base.googleSheets","position":[2272,9776],"parameters":{"columns":{"value":{"state":"entering_address","user_id":"={{ $json.user_id }}"},"schema":[],"mappingMode":"defineBelow","matchingColumns":["user_id"]},"options":{},"operation":"update","sheetName":{"__rl":true,"mode":"name","value":"Session"},"documentId":{"__rl":true,"mode":"id","value":"1Pv_P4PX0BVwgQQVqBkQsBRek1hwQI96HGyvAAVcWotI"}},"credentials":{"googleSheetsOAuth2Api":{"id":"credential-id","name":"Google Sheets Api"}},"typeVersion":4.4},{"id":"940d8b7c-90b0-479e-849d-90221d1222aa","name":"🏠 Ask for Address","type":"n8n-nodes-base.telegram","position":[2496,9776],"webhookId":"da8f3ba0-3dac-4e43-a5d3-7cc4a70ec75c","parameters":{"text":"📦 <b>Delivery Address</b>\n\nYour cart includes physical items. Please enter your full delivery address:\n\n<i>Type /cancel to go back</i>","chatId":"={{ $('🔄 Extract Telegram Data').item.json.chat_id }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"❌ Cancel","additionalFields":{"callback_data":"cancel_input"}}]}}]},"additionalFields":{"parse_mode":"HTML","appendAttribution":false}},"credentials":{"telegramApi":{"id":"credential-id","name":"Flutterwave sell bot"}},"typeVersion":1.2},{"id":"88367c15-de00-4dcd-a6cf-1e30019b04f1","name":"❌ Invalid Email","type":"n8n-nodes-base.telegram","position":[1600,10640],"webhookId":"0f7d223d-29eb-4706-83d7-7dc3505ea221","parameters":{"text":"={{ $json.warning ? '❌ That email looks wrong.' + $json.warning + '\\n\\nPlease try again:' : '❌ That doesn\\'t look like a valid email address.\\n\\nPlease try again (e.g. yourname@example.com):' }}","chatId":"={{ $('🔄 Extract Telegram Data').item.json.chat_id }}","additionalFields":{"parse_mode":"HTML","appendAttribution":false}},"credentials":{"telegramApi":{"id":"credential-id","name":"Flutterwave sell bot"}},"typeVersion":1.2},{"id":"16581200-effb-4706-a2cb-bde5a6151786","name":"🏠 Validate & Save Address","type":"n8n-nodes-base.code","position":[928,10976],"parameters":{"jsCode":"const session = $input.first().json;\nconst text = ($('🔄 Extract Telegram Data').first().json.text || '').trim();\nconst callback = $('🔄 Extract Telegram Data').first().json.callback_data || '';\nconst chat_id = $('🔄 Extract Telegram Data').first().json.chat_id;\nconst user_id = $('🔄 Extract Telegram Data').first().json.user_id;\n\nif (text === '/cancel' || text === '/start' || callback === 'cancel_input') {\n  return [{ json: { ...session, is_valid_address: false, cancelled: true, chat_id, user_id } }];\n}\n\nconst address = text;\nconst isValid = address.length >= 10;\n\nreturn [{\n  json: {\n    ...session,\n    input_address: address,\n    is_valid_address: isValid,\n    cancelled: false,\n    chat_id,\n    user_id\n  }\n}];"},"typeVersion":2},{"id":"97f36808-d497-4e25-865c-7644207ee60a","name":"✅ Address Valid?","type":"n8n-nodes-base.if","position":[1376,11024],"parameters":{"options":{},"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"addr-valid","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.is_valid_address }}","rightValue":true}]}},"typeVersion":2},{"id":"8569de1d-0b4a-468a-b3fc-c16424cecb4a","name":"💾 Save Address to Session","type":"n8n-nodes-base.googleSheets","position":[1600,10832],"parameters":{"columns":{"value":{"state":"idle","user_id":"={{ $json.user_id }}","temp_address":"={{ $json.input_address }}"},"schema":[],"mappingMode":"defineBelow","matchingColumns":["user_id"]},"options":{},"operation":"update","sheetName":{"__rl":true,"mode":"name","value":"Session"},"documentId":{"__rl":true,"mode":"id","value":"1Pv_P4PX0BVwgQQVqBkQsBRek1hwQI96HGyvAAVcWotI"}},"credentials":{"googleSheetsOAuth2Api":{"id":"credential-id","name":"Google Sheets Api"}},"typeVersion":4.4},{"id":"e2a8e818-60b1-456b-b8a0-2cdb10b461db","name":"❌ Invalid Address","type":"n8n-nodes-base.telegram","position":[1600,11024],"webhookId":"dcf40d12-f57e-46cf-8970-f42a32a0f9e4","parameters":{"text":"❌ Please enter a complete delivery address (street, city, state):","chatId":"={{ $('🔄 Extract Telegram Data').item.json.chat_id }}","additionalFields":{"appendAttribution":false}},"credentials":{"telegramApi":{"id":"credential-id","name":"Flutterwave sell bot"}},"typeVersion":1.2},{"id":"36651468-aa60-4c19-98cf-b61cd534f112","name":"📋 Prepare Order Data","type":"n8n-nodes-base.code","position":[2272,10832],"parameters":{"jsCode":"const session = $input.first().json;\nconst baseSession = $('📋 Get User Session').first().json;\n\nlet cartJson = session.cart_json || baseSession.cart_json || '[]';\nlet cart = [];\ntry { cart = JSON.parse(cartJson); } catch(e) { cart = []; }\n\nconst total = cart.reduce((s, i) => s + i.subtotal, 0);\nconst totalKobo = total * 100;\nconst orderId = `ORD-${Date.now()}-${session.user_id || baseSession.user_id}`;\nconst reference = `REF-${Date.now()}`;\n\nreturn [{\n  json: {\n    order_id: orderId,\n    reference,\n    user_id: session.user_id || baseSession.user_id,\n    chat_id: session.chat_id || baseSession.chat_id || $('🔄 Extract Telegram Data').first().json.chat_id,\n    email: session.input_email || session.temp_email || baseSession.temp_email,\n    address: session.input_address || session.temp_address || baseSession.temp_address || '',\n    items_json: cartJson,\n    cart,\n    total,\n    total_kobo: totalKobo,\n    created_at: new Date().toISOString()\n  }\n}];"},"typeVersion":2},{"id":"c1a85303-0419-481f-bc86-6bb3a71962ee","name":"📝 Create Order in Sheets","type":"n8n-nodes-base.googleSheets","position":[2960,10832],"parameters":{"columns":{"value":{"email":"={{ $json.email }}","total":"={{ $json.total }}","status":"pending","address":"={{ $json.address }}","user_id":"={{ $json.user_id }}","order_id":"={{ $json.order_id }}","tracking":"","reference":"={{ $json.reference }}","created_at":"={{ $json.created_at }}","items_json":"={{ $json.items_json }}","payment_link":""},"schema":[],"mappingMode":"defineBelow","matchingColumns":["order_id"]},"options":{},"operation":"append","sheetName":{"__rl":true,"mode":"name","value":"Orders"},"documentId":{"__rl":true,"mode":"id","value":"1Pv_P4PX0BVwgQQVqBkQsBRek1hwQI96HGyvAAVcWotI"}},"credentials":{"googleSheetsOAuth2Api":{"id":"credential-id","name":"Google Sheets Api"}},"typeVersion":4.4},{"id":"c85b831f-6cef-442d-a3a0-912e078f4937","name":"💳 Flutterwave Init Transaction","type":"n8n-nodes-base.httpRequest","position":[3184,10832],"parameters":{"url":"https://api.flutterwave.com/v3/payments","method":"POST","options":{},"jsonBody":"={{ JSON.stringify({ tx_ref: $('📋 Prepare Order Data').item.json.reference, amount: String($('📋 Prepare Order Data').item.json.total), currency: 'NGN', redirect_url: 'https://t.me/YOUR_BOT_USERNAME', customer: { email: $('📋 Prepare Order Data').item.json.email }, meta: { user_id: $('📋 Prepare Order Data').item.json.user_id, order_id: $('📋 Prepare Order Data').item.json.order_id, chat_id: $('📋 Prepare Order Data').item.json.chat_id } }) }}","sendBody":true,"sendHeaders":true,"specifyBody":"json","headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer YOUR_TOKEN_HERE"},{"name":"Content-Type","value":"application/json"}]}},"typeVersion":4.2},{"id":"8d080b20-686f-4564-a21d-752decc31971","name":"📤 Send Payment Link","type":"n8n-nodes-base.httpRequest","position":[3632,10832],"parameters":{"url":"https://api.telegram.org/botYOUR_TELEGRAM_BOT_TOKEN/sendMessage","method":"POST","options":{},"jsonBody":"={{ JSON.stringify({ chat_id: $('📋 Prepare Order Data').item.json.chat_id, text: '💳 <b>Processing Payment...</b>\\n\\n📋 Order: ' + $('📋 Prepare Order Data').item.json.order_id + '\\n💰 Total: ₦' + Number($('📋 Prepare Order Data').item.json.total).toLocaleString() + '\\n\\nClick the button below to complete your payment securely:', parse_mode: 'HTML', reply_markup: { inline_keyboard: [[{ text: '💳 Pay Now', url: $('💳 Flutterwave Init Transaction').item.json.data.link }]] } }) }}","sendBody":true,"specifyBody":"json"},"typeVersion":4.2},{"id":"49af009d-a123-4159-b409-2ed3e42f914f","name":"💾 Set State: Awaiting Payment","type":"n8n-nodes-base.googleSheets","position":[3856,10832],"parameters":{"columns":{"value":{"state":"awaiting_payment","user_id":"={{ $('📋 Prepare Order Data').item.json.user_id }}"},"schema":[],"mappingMode":"defineBelow","matchingColumns":["user_id"]},"options":{},"operation":"update","sheetName":{"__rl":true,"mode":"name","value":"Session"},"documentId":{"__rl":true,"mode":"id","value":"1Pv_P4PX0BVwgQQVqBkQsBRek1hwQI96HGyvAAVcWotI"}},"credentials":{"googleSheetsOAuth2Api":{"id":"credential-id","name":"Google Sheets Api"}},"typeVersion":4.4},{"id":"b08313be-98ef-41b6-a0a3-8cca3da6af10","name":"🔐 Verify Flutterwave Signature","type":"n8n-nodes-base.code","position":[-2912,10320],"parameters":{"jsCode":"const headers = $input.first().json.headers;\nconst body = $input.first().json.body;\n\nconst signature = headers['verif-hash'];\nconst isValid = signature === 'flutterwave_secret_hash';\n\nreturn [{\n  json: {\n    is_valid: isValid,\n    event: body['event.type'] || body.event,\n    status: body.status,\n    data: body,\n    reference: body.txRef || body.tx_ref,\n    amount_paid: body.amount,\n    customer_email: body.customer?.email || body.customer_email,\n    metadata: {}\n  }\n}];"},"typeVersion":2},{"id":"ba990f77-53f8-4c93-9e21-0e62e8e08c56","name":"✅ Valid Charge Event?","type":"n8n-nodes-base.if","position":[-2688,10320],"parameters":{"options":{},"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"is-valid","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.is_valid }}","rightValue":true},{"id":"is-charge-success","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.status }}","rightValue":"successful"}]}},"typeVersion":2},{"id":"fd38eed1-5c3c-4dc7-856f-8eb28846303e","name":"📋 Find Order by Reference","type":"n8n-nodes-base.googleSheets","position":[-2464,10320],"parameters":{"options":{},"filtersUI":{"values":[{"lookupValue":"={{ $json.reference }}","lookupColumn":"reference"}]},"sheetName":{"__rl":true,"mode":"name","value":"Orders"},"documentId":{"__rl":true,"mode":"id","value":"1Pv_P4PX0BVwgQQVqBkQsBRek1hwQI96HGyvAAVcWotI"}},"credentials":{"googleSheetsOAuth2Api":{"id":"credential-id","name":"Google Sheets Api"}},"typeVersion":4.4},{"id":"9b6aa102-d982-42f9-9648-5cba174bef8b","name":"✅ Update Order Status: Paid","type":"n8n-nodes-base.googleSheets","position":[-2240,10320],"parameters":{"columns":{"value":{"status":"paid","paid_at":"={{ new Date().toISOString() }}","order_id":"={{ $json.order_id }}"},"schema":[],"mappingMode":"defineBelow","matchingColumns":["order_id"]},"options":{},"operation":"update","sheetName":{"__rl":true,"mode":"name","value":"Orders"},"documentId":{"__rl":true,"mode":"id","value":"1Pv_P4PX0BVwgQQVqBkQsBRek1hwQI96HGyvAAVcWotI"}},"credentials":{"googleSheetsOAuth2Api":{"id":"credential-id","name":"Google Sheets Api"}},"typeVersion":4.4},{"id":"6036f8a5-82be-4938-bda7-aa9ef51a063b","name":"📦 Parse Order Items","type":"n8n-nodes-base.code","position":[-2016,10224],"parameters":{"jsCode":"const order = $('📋 Find Order by Reference').first().json;\nconst flutterwaveData = $('🔐 Verify Flutterwave Signature').first().json;\n\nlet items = [];\ntry {\n  items = JSON.parse(order.items_json || '[]');\n} catch(e) { items = []; }\n\nconst user_id = flutterwaveData.metadata?.user_id || order.user_id;\n\nreturn items.map(item => ({\n  json: {\n    ...item,\n    order_id: order.order_id,\n    user_id,\n    email: order.email,\n    address: order.address,\n    chat_id: flutterwaveData.metadata?.chat_id || order.user_id\n  }\n}));"},"typeVersion":2},{"id":"1dff985e-2cfc-4208-b548-a2b9876cdc44","name":"📦 Digital or Physical?","type":"n8n-nodes-base.if","position":[-1792,10224],"parameters":{"options":{},"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"is-digital","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.type }}","rightValue":"digital"}]}},"typeVersion":2},{"id":"ad1f2f17-8ecd-4c7a-81b5-5dbe86f85e3a","name":"🔗 Convert Drive Link","type":"n8n-nodes-base.code","position":[-1568,10128],"parameters":{"jsCode":"const item = $input.first().json;\nlet fileUrl = item.file_url || '';\n\n// Convert Google Drive share link to direct download\nif (fileUrl.includes('drive.google.com')) {\n  const fileIdMatch = fileUrl.match(/\\/d\\/([a-zA-Z0-9_-]+)/);\n  if (fileIdMatch) {\n    fileUrl = `https://drive.google.com/uc?export=download&id=${fileIdMatch[1]}`;\n  }\n}\n\nreturn [{\n  json: {\n    ...item,\n    direct_download_url: fileUrl\n  }\n}];"},"typeVersion":2},{"id":"51250864-030b-4fa2-9740-5e19847ece0e","name":"📁 Send Digital File","type":"n8n-nodes-base.telegram","position":[-1344,10128],"webhookId":"0a8f4c06-6b7a-4465-93c1-6058e6a76ef6","parameters":{"text":"=✅ <b>Order Delivered!</b>\n\n📦 <b>{{ $json.name }}</b>\n🔑 Here is your digital download.\n\nTap the button below to download your file.\n\nThank you for your purchase! 🎉","chatId":"={{ $json.chat_id }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"📥 Download File","additionalFields":{"url":"={{ $json.direct_download_url }}"}}]}},{"row":{"buttons":[{"text":"🛍️ Shop More","additionalFields":{"callback_data":"view_products"}}]}}]},"additionalFields":{"parse_mode":"HTML","appendAttribution":false}},"credentials":{"telegramApi":{"id":"credential-id","name":"Flutterwave sell bot"}},"typeVersion":1.2},{"id":"d1326773-cfbf-4c01-b618-1b4696eec819","name":"🚚 Send Shipping Confirmation","type":"n8n-nodes-base.telegram","position":[-1568,10320],"webhookId":"caac8fcb-553a-4fbe-884f-6fe2d856d2f2","parameters":{"text":"=✅ <b>Order Confirmed!</b>\n\n📦 <b>{{ $json.name }}</b> (× {{ $json.quantity }}) is being prepared for delivery.\n\n🚚 Shipping to: {{ $json.address }}\n\nClick on order for tracking update. Thank you! 🎉","chatId":"={{ $json.chat_id }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🛍️ Shop More","additionalFields":{"callback_data":"view_products"}}]}},{"row":{"buttons":[{"text":"📦 My Orders","additionalFields":{"callback_data":"my_orders"}}]}}]},"additionalFields":{"parse_mode":"HTML","appendAttribution":false}},"credentials":{"telegramApi":{"id":"credential-id","name":"Flutterwave sell bot"}},"typeVersion":1.2},{"id":"9447acb0-8502-4886-a469-e8bcb61a3cb6","name":"📉 Update Product Stock","type":"n8n-nodes-base.googleSheets","position":[-1120,10224],"parameters":{"options":{},"filtersUI":{"values":[{"lookupValue":"={{ $('📦 Parse Order Items').item.json.id }}","lookupColumn":"id"}]},"sheetName":{"__rl":true,"mode":"name","value":"Products"},"documentId":{"__rl":true,"mode":"id","value":"1Pv_P4PX0BVwgQQVqBkQsBRek1hwQI96HGyvAAVcWotI"}},"credentials":{"googleSheetsOAuth2Api":{"id":"credential-id","name":"Google Sheets Api"}},"typeVersion":4.4},{"id":"3cc592c9-6dfd-456f-b546-72bf689a4de7","name":"💾 Deduct Stock","type":"n8n-nodes-base.googleSheets","position":[-896,10224],"parameters":{"columns":{"value":{"id":"={{ $json.id }}","stock":"={{ Math.max(0, Number($json.stock) - Number($('📦 Parse Order Items').item.json.quantity)) }}"},"schema":[],"mappingMode":"defineBelow","matchingColumns":["id"]},"options":{},"operation":"update","sheetName":{"__rl":true,"mode":"name","value":"Products"},"documentId":{"__rl":true,"mode":"id","value":"1Pv_P4PX0BVwgQQVqBkQsBRek1hwQI96HGyvAAVcWotI"}},"credentials":{"googleSheetsOAuth2Api":{"id":"credential-id","name":"Google Sheets Api"}},"typeVersion":4.4},{"id":"5e1de5a7-bc11-478c-b64d-b294d8079ed5","name":"⚠️ Stock Now Zero?","type":"n8n-nodes-base.if","position":[-672,10224],"parameters":{"options":{},"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"stock-zero","operator":{"type":"number","operation":"lte"},"leftValue":"={{ Math.max(0, Number($('📉 Update Product Stock').item.json.stock) - Number($('📦 Parse Order Items').item.json.quantity)) }}","rightValue":0}]}},"typeVersion":2},{"id":"9aad85eb-d07b-4414-b924-92ae21e5b468","name":"🔔 Admin: Low Stock Alert","type":"n8n-nodes-base.telegram","position":[-432,10176],"webhookId":"a1ceb5cd-79a5-4d53-9b34-4353acec65bf","parameters":{"text":"=⚠️ <b>STOCK ALERT</b>\n\n📦 Product: {{ $('📉 Update Product Stock').item.json.name }}\n🆔 ID: {{ $('📉 Update Product Stock').item.json.id }}\n❌ Stock is now <b>0 units</b>.\n\nPlease restock immediately!","chatId":"123456789","additionalFields":{"parse_mode":"HTML","appendAttribution":false}},"credentials":{"telegramApi":{"id":"credential-id","name":"Flutterwave sell bot"}},"typeVersion":1.2},{"id":"5edeb0b3-e4f2-4bf8-98ee-0f7f3363eb5b","name":"🧹 Clear User Cart","type":"n8n-nodes-base.googleSheets","position":[-2016,10512],"parameters":{"columns":{"value":{"state":"idle","user_id":"={{ $('📋 Find Order by Reference').item.json.user_id || $('🔐 Verify Flutterwave Signature').item.json.metadata.user_id }}","cart_json":"[]","temp_email":"","temp_address":""},"schema":[],"mappingMode":"defineBelow","matchingColumns":["user_id"]},"options":{},"operation":"update","sheetName":{"__rl":true,"mode":"name","value":"Session"},"documentId":{"__rl":true,"mode":"id","value":"1Pv_P4PX0BVwgQQVqBkQsBRek1hwQI96HGyvAAVcWotI"}},"credentials":{"googleSheetsOAuth2Api":{"id":"credential-id","name":"Google Sheets Api"}},"typeVersion":4.4},{"id":"5a6b333d-f4f1-4fcd-9774-7ae3203ed265","name":"✅ Update Order: Delivered","type":"n8n-nodes-base.googleSheets","position":[-1792,10512],"parameters":{"columns":{"value":{"status":"={{ $('📋 Find Order by Reference').item.json.items_json.includes('physical') ? 'paid' : 'delivered' }}","order_id":"={{ $('📋 Find Order by Reference').item.json.order_id }}","delivered_at":"={{ new Date().toISOString() }}"},"schema":[],"mappingMode":"defineBelow","matchingColumns":["order_id"]},"options":{},"operation":"update","sheetName":{"__rl":true,"mode":"name","value":"Orders"},"documentId":{"__rl":true,"mode":"id","value":"1Pv_P4PX0BVwgQQVqBkQsBRek1hwQI96HGyvAAVcWotI"}},"credentials":{"googleSheetsOAuth2Api":{"id":"credential-id","name":"Google Sheets Api"}},"typeVersion":4.4},{"id":"80fb03c3-6d4a-478a-9cc2-77d545537f30","name":"🔔 Admin: New Order Notification","type":"n8n-nodes-base.telegram","position":[-1568,10512],"webhookId":"3a2d4fc7-9a4e-42cd-8ce8-7461bf5c6e90","parameters":{"text":"=🎉 <b>NEW ORDER PAID!</b>\n\n📋 Order ID: {{ $('📋 Find Order by Reference').item.json.order_id }}\n👤 User: {{ $('📋 Find Order by Reference').item.json.user_id }}\n📧 Email: {{ $('📋 Find Order by Reference').item.json.email }}\n💰 Total: ₦{{ Number($('📋 Find Order by Reference').item.json.total).toLocaleString() }}\n🕐 Time: {{ new Date().toLocaleString('en-NG', {timeZone: 'Africa/Lagos'}) }}","chatId":"123456789","additionalFields":{"parse_mode":"HTML","appendAttribution":false}},"credentials":{"telegramApi":{"id":"credential-id","name":"Flutterwave sell bot"}},"typeVersion":1.2},{"id":"78094b52-3e3f-494c-a53c-f8d6d4738890","name":"📋 Fetch User Orders","type":"n8n-nodes-base.googleSheets","position":[1376,8000],"parameters":{"options":{},"sheetName":{"__rl":true,"mode":"name","value":"Orders"},"documentId":{"__rl":true,"mode":"id","value":"1Pv_P4PX0BVwgQQVqBkQsBRek1hwQI96HGyvAAVcWotI"}},"credentials":{"googleSheetsOAuth2Api":{"id":"credential-id","name":"Google Sheets Api"}},"typeVersion":4.4},{"id":"e97fe23c-b9ea-4355-873e-e3818a8ce7c4","name":"📋 Format Orders List","type":"n8n-nodes-base.code","position":[1600,8000],"parameters":{"jsCode":"const allOrders = $input.all().map(i => i.json);\nconst chat_id = $('🔄 Extract Telegram Data').first().json.chat_id;\nconst userId = String($('🔄 Extract Telegram Data').first().json.user_id);\n\nconst orders = allOrders.filter(o => String(o.user_id) === userId);\n\nif (!orders.length) {\n  return [{ json: { chat_id, text: '📭 You have no orders yet.\\n\\nTap below to start shopping!', keyboard: [[{text: '🛍️ View Products', callback_data: 'view_products'}]] } }];\n}\n\nconst sorted = orders.sort((a, b) => new Date(b.created_at) - new Date(a.created_at)).slice(0, 5);\n\nlet text = '📦 <b>Your Recent Orders</b>\\n\\n';\nsorted.forEach((o, i) => {\n  const statusIcon = o.status === 'paid' ? '✅' : o.status === 'delivered' ? '📬' : '⏳';\n  const total = Number(o.total) ? '₦' + Number(o.total).toLocaleString() : '';\n  text += `${i+1}. ${statusIcon} <code>${o.order_id}</code>\\n   💰 ${total} — ${o.status}\\n\\n`;\n});\ntext += 'Tap an order to view details:';\n\nconst keyboard = sorted.map(o => ([{text: `📋 ${o.order_id.substring(0, 25)}...`, callback_data: `order_${o.order_id}`}]));\nkeyboard.push([{text: '🔍 Search by Order ID', callback_data: 'search_order'}]);\nkeyboard.push([{text: '🛍️ Continue Shopping', callback_data: 'view_products'}]);\n\nreturn [{ json: { chat_id, text, keyboard } }];"},"typeVersion":2},{"id":"e0b0d2ee-fe4e-4283-99bd-7237e74c1d2c","name":"📤 Send Orders List","type":"n8n-nodes-base.httpRequest","position":[1824,8000],"parameters":{"url":"https://api.telegram.org/botYOUR_TELEGRAM_BOT_TOKEN/sendMessage","method":"POST","options":{},"jsonBody":"={{ JSON.stringify({ chat_id: $json.chat_id, text: $json.text, parse_mode: 'HTML', reply_markup: { inline_keyboard: $json.keyboard } }) }}","sendBody":true,"specifyBody":"json"},"typeVersion":4.2},{"id":"d66d3d32-6f39-4c76-af7a-e98a92d3e56c","name":"🔍 Fetch Order Detail","type":"n8n-nodes-base.googleSheets","position":[1376,8880],"parameters":{"options":{},"filtersUI":{"values":[{"lookupValue":"={{ $('🔄 Extract Telegram Data').item.json.callback_data.replace('order_', '') }}","lookupColumn":"order_id"}]},"sheetName":{"__rl":true,"mode":"name","value":"Orders"},"documentId":{"__rl":true,"mode":"id","value":"1Pv_P4PX0BVwgQQVqBkQsBRek1hwQI96HGyvAAVcWotI"}},"credentials":{"googleSheetsOAuth2Api":{"id":"credential-id","name":"Google Sheets Api"}},"typeVersion":4.4},{"id":"0823137b-cfc3-4aa7-bd4d-67d7b485701a","name":"📋 Format Order Detail","type":"n8n-nodes-base.code","position":[1600,8880],"parameters":{"jsCode":"const order = $input.first().json;\nconst chat_id = $('🔄 Extract Telegram Data').first().json.chat_id;\n\nif (!order || !order.order_id) {\n  return [{ json: { chat_id, text: '❌ Order not found. Please check the order ID and try again.', keyboard: [[{text: '📦 My Orders', callback_data: 'my_orders'}]] } }];\n}\n\nlet items = [];\ntry { items = JSON.parse(order.items_json || '[]'); } catch(e) { items = []; }\n\nconst statusIcon = order.status === 'paid' ? '✅' : order.status === 'delivered' ? '📬' : '⏳';\nconst total = Number(order.total) ? '₦' + Number(order.total).toLocaleString() : 'N/A';\n\nlet text = `📋 <b>Order Details</b>\\n\\n`;\ntext += `🆔 <code>${order.order_id}</code>\\n`;\ntext += `${statusIcon} Status: <b>${order.status}</b>\\n`;\ntext += `💰 Total: <b>${total}</b>\\n`;\ntext += `📧 Email: ${order.email}\\n`;\nif (order.address) text += `🏠 Address: ${order.address}\\n`;\ntext += `🕐 Created: ${new Date(order.created_at).toLocaleString('en-NG', {timeZone: 'Africa/Lagos'})}\\n\\n`;\n\ntext += `<b>Items:</b>\\n`;\nitems.forEach(item => {\n  const icon = item.type === 'digital' ? '💻' : '📦';\n  text += `${icon} ${item.name} × ${item.quantity} — ₦${Number(item.subtotal).toLocaleString()}\\n`;\n});\n\nconst keyboard = [];\n\nif (order.status === 'pending') {\n  if (order.payment_link) {\n    keyboard.push([{text: '💳 Pay Now', url: order.payment_link}]);\n  }\n} else {\n  const hasDigital = items.some(i => i.type === 'digital');\n  const hasPhysical = items.some(i => i.type === 'physical');\n  if (hasDigital) {\n    items.filter(i => i.type === 'digital' && i.file_url).forEach(item => {\n      let downloadUrl = item.file_url;\n      const driveMatch = downloadUrl.match(/\\/d\\/([a-zA-Z0-9_-]+)/);\n      if (driveMatch) downloadUrl = `https://drive.google.com/uc?export=download&id=${driveMatch[1]}`;\n      keyboard.push([{text: `📥 Download ${item.name}`, url: downloadUrl}]);\n    });\n  }\n  if (hasPhysical) {\n    keyboard.push([{text: '🚚 Track Order', callback_data: `track_${order.order_id}`}]);\n  }\n}\nkeyboard.push([{text: '📦 My Orders', callback_data: 'my_orders'}, {text: '🛍️ Shop', callback_data: 'view_products'}]);\n\nreturn [{ json: { chat_id, text, keyboard } }];"},"typeVersion":2},{"id":"dc541f5b-d039-44fc-98db-c2ed6f5f9caf","name":"📤 Send Order Detail","type":"n8n-nodes-base.httpRequest","position":[1840,8880],"parameters":{"url":"https://api.telegram.org/botYOUR_TELEGRAM_BOT_TOKEN/sendMessage","method":"POST","options":{},"jsonBody":"={{ JSON.stringify({ chat_id: $json.chat_id, text: $json.text, parse_mode: 'HTML', reply_markup: { inline_keyboard: $json.keyboard } }) }}","sendBody":true,"specifyBody":"json"},"typeVersion":4.2},{"id":"02d1ab17-0e72-417c-9263-b2aabc85541a","name":"💾 Set State: Searching Order","type":"n8n-nodes-base.googleSheets","position":[1376,9072],"parameters":{"columns":{"value":{"state":"searching_order","user_id":"={{ $('🔄 Extract Telegram Data').item.json.user_id }}"},"schema":[],"mappingMode":"defineBelow","matchingColumns":["user_id"]},"options":{},"operation":"update","sheetName":{"__rl":true,"mode":"name","value":"Session"},"documentId":{"__rl":true,"mode":"id","value":"1Pv_P4PX0BVwgQQVqBkQsBRek1hwQI96HGyvAAVcWotI"}},"credentials":{"googleSheetsOAuth2Api":{"id":"credential-id","name":"Google Sheets Api"}},"typeVersion":4.4},{"id":"659b7a70-95f8-4348-bad1-3a078d68402c","name":"📋 Ask Order ID","type":"n8n-nodes-base.telegram","position":[1600,9072],"webhookId":"b1c2d3e4-2222-4000-b000-000000000001","parameters":{"text":"🔍 Please type your <b>Order ID</b> to search:\n\n<i>Example: ORD-1777329910906-2048334808</i>\n\n<i>Type /cancel to go back</i>","chatId":"={{ $('🔄 Extract Telegram Data').item.json.chat_id }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"❌ Cancel","additionalFields":{"callback_data":"cancel_input"}}]}}]},"additionalFields":{"parse_mode":"HTML","appendAttribution":false}},"credentials":{"telegramApi":{"id":"credential-id","name":"Flutterwave sell bot"}},"typeVersion":1.2},{"id":"786ee3b8-ade2-44d4-a36d-6aca10806ae7","name":"🔍 Validate Order Search","type":"n8n-nodes-base.code","position":[944,11680],"parameters":{"jsCode":"const text = ($('🔄 Extract Telegram Data').first().json.text || '').trim();\nconst callback = $('🔄 Extract Telegram Data').first().json.callback_data || '';\nconst userId = $('🔄 Extract Telegram Data').first().json.user_id;\nconst chat_id = $('🔄 Extract Telegram Data').first().json.chat_id;\n\nif (text === '/cancel' || text === '/start' || callback === 'cancel_input') {\n  return [{ json: { chat_id, valid: false, cancelled: true, order_id: '', user_id: userId } }];\n}\n\nconst orderId = text;\n\nif (!orderId.startsWith('ORD-')) {\n  return [{ json: { chat_id, valid: false, cancelled: false, order_id: '', user_id: userId } }];\n}\n\nreturn [{ json: { chat_id, valid: true, cancelled: false, order_id: orderId, user_id: userId } }];"},"typeVersion":2},{"id":"45f1e816-851b-447c-bf5e-5c0109a93602","name":"✅ Search Valid?","type":"n8n-nodes-base.if","position":[1392,11680],"parameters":{"options":{},"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"search-valid","operator":{"type":"boolean","operation":"equals"},"leftValue":"={{ $json.valid }}","rightValue":true}]}},"typeVersion":2},{"id":"03d0875f-96ad-440d-b3c8-a10f77afb8cc","name":"❌ Invalid Order ID","type":"n8n-nodes-base.telegram","position":[1616,11680],"webhookId":"b1c2d3e4-3333-4000-c000-000000000001","parameters":{"text":"❌ Invalid Order ID format.\n\nPlease enter a valid Order ID starting with <b>ORD-</b>\n\n<i>Example: ORD-1777329910906-2048334808</i>","chatId":"={{ $json.chat_id }}","additionalFields":{"parse_mode":"HTML","appendAttribution":false}},"credentials":{"telegramApi":{"id":"credential-id","name":"Flutterwave sell bot"}},"typeVersion":1.2},{"id":"d80c7d07-c303-4a4e-8bc9-34d5d0e25c0c","name":"🔍 Fetch Searched Order","type":"n8n-nodes-base.googleSheets","position":[1872,11440],"parameters":{"options":{},"filtersUI":{"values":[{"lookupValue":"={{ $('🔍 Validate Order Search').item.json.order_id }}","lookupColumn":"order_id"}]},"sheetName":{"__rl":true,"mode":"name","value":"Orders"},"documentId":{"__rl":true,"mode":"id","value":"1Pv_P4PX0BVwgQQVqBkQsBRek1hwQI96HGyvAAVcWotI"}},"credentials":{"googleSheetsOAuth2Api":{"id":"credential-id","name":"Google Sheets Api"}},"typeVersion":4.4},{"id":"e339ff21-0c17-4987-803a-cde7505aa89a","name":"📋 Format Searched Order","type":"n8n-nodes-base.code","position":[2096,11440],"parameters":{"jsCode":"const order = $input.first().json;\nconst chat_id = $('🔍 Validate Order Search').first().json.chat_id;\nconst userId = $('🔍 Validate Order Search').first().json.user_id;\n\nif (!order || !order.order_id || String(order.user_id) !== String(userId)) {\n  return [{ json: { chat_id, text: '❌ Order not found or does not belong to you.\\n\\nPlease check the Order ID and try again.', keyboard: [[{text: '📦 My Orders', callback_data: 'my_orders'}, {text: '🛍️ Shop', callback_data: 'view_products'}]] } }];\n}\n\nlet items = [];\ntry { items = JSON.parse(order.items_json || '[]'); } catch(e) { items = []; }\n\nconst statusIcon = order.status === 'paid' ? '✅' : order.status === 'delivered' ? '📬' : '⏳';\nconst total = Number(order.total) ? '₦' + Number(order.total).toLocaleString() : 'N/A';\n\nlet text = `📋 <b>Order Found!</b>\\n\\n`;\ntext += `🆔 <code>${order.order_id}</code>\\n`;\ntext += `${statusIcon} Status: <b>${order.status}</b>\\n`;\ntext += `💰 Total: <b>${total}</b>\\n`;\ntext += `🕐 Created: ${new Date(order.created_at).toLocaleString('en-NG', {timeZone: 'Africa/Lagos'})}\\n\\n`;\n\ntext += `<b>Items:</b>\\n`;\nitems.forEach(item => {\n  const icon = item.type === 'digital' ? '💻' : '📦';\n  text += `${icon} ${item.name} × ${item.quantity} — ₦${Number(item.subtotal).toLocaleString()}\\n`;\n});\n\nconst keyboard = [];\n\nif (order.status === 'pending') {\n  if (order.payment_link) {\n    keyboard.push([{text: '💳 Pay Now', url: order.payment_link}]);\n  }\n} else {\n  const hasDigital = items.some(i => i.type === 'digital');\n  const hasPhysical = items.some(i => i.type === 'physical');\n  if (hasDigital) {\n    items.filter(i => i.type === 'digital' && i.file_url).forEach(item => {\n      let downloadUrl = item.file_url;\n      const driveMatch = downloadUrl.match(/\\/d\\/([a-zA-Z0-9_-]+)/);\n      if (driveMatch) downloadUrl = `https://drive.google.com/uc?export=download&id=${driveMatch[1]}`;\n      keyboard.push([{text: `📥 Download ${item.name}`, url: downloadUrl}]);\n    });\n  }\n  if (hasPhysical) {\n    keyboard.push([{text: '🚚 Track Order', callback_data: `track_${order.order_id}`}]);\n  }\n}\nkeyboard.push([{text: '📦 My Orders', callback_data: 'my_orders'}, {text: '🛍️ Shop', callback_data: 'view_products'}]);\n\nreturn [{ json: { chat_id, text, keyboard } }];"},"typeVersion":2},{"id":"dff5fb84-4171-46db-a900-849d6221d91d","name":"📤 Send Searched Order","type":"n8n-nodes-base.httpRequest","position":[2320,11440],"parameters":{"url":"https://api.telegram.org/botYOUR_TELEGRAM_BOT_TOKEN/sendMessage","method":"POST","options":{},"jsonBody":"={{ JSON.stringify({ chat_id: $json.chat_id, text: $json.text, parse_mode: 'HTML', reply_markup: { inline_keyboard: $json.keyboard } }) }}","sendBody":true,"specifyBody":"json"},"typeVersion":4.2},{"id":"e8f449b4-4a15-4a03-9897-27522b4bc076","name":"📋 Fetch Track Info","type":"n8n-nodes-base.googleSheets","position":[1376,9680],"parameters":{"options":{},"filtersUI":{"values":[{"lookupValue":"={{ $('🔄 Extract Telegram Data').item.json.callback_data.replace('track_', '') }}","lookupColumn":"order_id"}]},"sheetName":{"__rl":true,"mode":"name","value":"Orders"},"documentId":{"__rl":true,"mode":"id","value":"1Pv_P4PX0BVwgQQVqBkQsBRek1hwQI96HGyvAAVcWotI"}},"credentials":{"googleSheetsOAuth2Api":{"id":"credential-id","name":"Google Sheets Api"}},"typeVersion":4.4},{"id":"af06bf20-6cef-4fc8-926c-789f915f5ce2","name":"📋 Format Track Info","type":"n8n-nodes-base.code","position":[1600,9680],"parameters":{"jsCode":"const order = $input.first().json;\nconst chat_id = $('🔄 Extract Telegram Data').first().json.chat_id;\n\nif (!order || !order.order_id) {\n  return [{ json: { chat_id, text: '❌ Order not found.', keyboard: [[{text: '📦 My Orders', callback_data: 'my_orders'}]] } }];\n}\n\nconst tracking = order.tracking || 'No tracking information available yet';\nconst statusIcon = order.status === 'delivered' ? '📬' : '🚚';\n\nlet text = `${statusIcon} <b>Tracking Information</b>\\n\\n`;\ntext += `🆔 Order: <code>${order.order_id}</code>\\n`;\ntext += `📊 Status: <b>${order.status}</b>\\n`;\ntext += `🚚 Tracking: <b>${tracking}</b>\\n`;\nif (order.address) text += `🏠 Shipping to: ${order.address}\\n`;\n\nconst keyboard = [\n  [{text: '📋 Order Detail', callback_data: `order_${order.order_id}`}],\n  [{text: '📦 My Orders', callback_data: 'my_orders'}, {text: '🛍️ Shop', callback_data: 'view_products'}]\n];\n\nreturn [{ json: { chat_id, text, keyboard } }];"},"typeVersion":2},{"id":"f19733ff-254f-4c41-81a1-9ca668a87e51","name":"📤 Send Track Info","type":"n8n-nodes-base.httpRequest","position":[1824,9680],"parameters":{"url":"https://api.telegram.org/botYOUR_TELEGRAM_BOT_TOKEN/sendMessage","method":"POST","options":{},"jsonBody":"={{ JSON.stringify({ chat_id: $json.chat_id, text: $json.text, parse_mode: 'HTML', reply_markup: { inline_keyboard: $json.keyboard } }) }}","sendBody":true,"specifyBody":"json"},"typeVersion":4.2},{"id":"0bd0f98d-f8ef-454b-81d5-396f047405e5","name":"📦 Update Tracking Status","type":"n8n-nodes-base.googleSheets","position":[-1344,10320],"parameters":{"columns":{"value":{"order_id":"={{ $('📦 Parse Order Items').item.json.order_id }}","tracking":"Processing"},"schema":[],"mappingMode":"defineBelow","matchingColumns":["order_id"]},"options":{},"operation":"update","sheetName":{"__rl":true,"mode":"name","value":"Orders"},"documentId":{"__rl":true,"mode":"id","value":"1Pv_P4PX0BVwgQQVqBkQsBRek1hwQI96HGyvAAVcWotI"}},"credentials":{"googleSheetsOAuth2Api":{"id":"credential-id","name":"Google Sheets Api"}},"typeVersion":4.4},{"id":"04a2ca00-8b4d-41b5-8574-fdcdff706ee7","name":"💾 Reset State After Search","type":"n8n-nodes-base.googleSheets","position":[1648,11440],"parameters":{"columns":{"value":{"state":"idle","user_id":"={{ $('🔍 Validate Order Search').item.json.user_id }}"},"schema":[],"mappingMode":"defineBelow","matchingColumns":["user_id"]},"options":{},"operation":"update","sheetName":{"__rl":true,"mode":"name","value":"Session"},"documentId":{"__rl":true,"mode":"id","value":"1Pv_P4PX0BVwgQQVqBkQsBRek1hwQI96HGyvAAVcWotI"}},"credentials":{"googleSheetsOAuth2Api":{"id":"credential-id","name":"Google Sheets Api"}},"typeVersion":4.4},{"id":"d840c865-2ed6-40e9-8f72-58aa1635e325","name":"💾 Save Payment Link","type":"n8n-nodes-base.googleSheets","position":[3408,10832],"parameters":{"columns":{"value":{"order_id":"={{ $('📋 Prepare Order Data').item.json.order_id }}","payment_link":"={{ $json.data.authorization_url }}"},"schema":[],"mappingMode":"defineBelow","matchingColumns":["order_id"]},"options":{},"operation":"update","sheetName":{"__rl":true,"mode":"name","value":"Orders"},"documentId":{"__rl":true,"mode":"id","value":"1Pv_P4PX0BVwgQQVqBkQsBRek1hwQI96HGyvAAVcWotI"}},"credentials":{"googleSheetsOAuth2Api":{"id":"credential-id","name":"Google Sheets Api"}},"typeVersion":4.4},{"id":"8ff0eb20-c3b1-46b3-b812-8b66a7cc5a5b","name":"🔄 Cancel & Reset State","type":"n8n-nodes-base.googleSheets","position":[1376,9296],"parameters":{"columns":{"value":{"state":"idle","user_id":"={{ $('🔄 Extract Telegram Data').item.json.user_id }}"},"schema":[],"mappingMode":"defineBelow","matchingColumns":["user_id"]},"options":{},"operation":"update","sheetName":{"__rl":true,"mode":"name","value":"Session"},"documentId":{"__rl":true,"mode":"id","value":"1Pv_P4PX0BVwgQQVqBkQsBRek1hwQI96HGyvAAVcWotI"}},"credentials":{"googleSheetsOAuth2Api":{"id":"credential-id","name":"Google Sheets Api"}},"typeVersion":4.4},{"id":"ae912899-e769-41f6-9784-4dfbbd21e280","name":"✅ Cancel Confirmed","type":"n8n-nodes-base.telegram","position":[1600,9296],"webhookId":"b1c2d3e4-4444-4000-d000-000000000001","parameters":{"text":"✅ Cancelled! What would you like to do?","chatId":"={{ $('🔄 Extract Telegram Data').item.json.chat_id }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🛍️ View Products","additionalFields":{"callback_data":"view_products"}}]}},{"row":{"buttons":[{"text":"🛒 View Cart","additionalFields":{"callback_data":"view_cart"}}]}},{"row":{"buttons":[{"text":"📦 My Orders","additionalFields":{"callback_data":"my_orders"}}]}}]},"additionalFields":{"parse_mode":"HTML","appendAttribution":false}},"credentials":{"telegramApi":{"id":"credential-id","name":"Flutterwave sell bot"}},"typeVersion":1.2},{"id":"a4a9a369-a02c-46e3-ac7a-496c8fd2cca6","name":"❓ Search Cancelled?","type":"n8n-nodes-base.if","position":[1168,11680],"parameters":{"options":{},"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"search-cancelled","operator":{"type":"boolean","operation":"equals"},"leftValue":"={{ $json.cancelled }}","rightValue":true}]}},"typeVersion":2},{"id":"ef6423ee-ac5b-4899-baca-dc94d7f3dd34","name":"❓ Qty Cancelled?","type":"n8n-nodes-base.if","position":[1152,9968],"parameters":{"options":{},"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"qty-cancelled","operator":{"type":"boolean","operation":"equals"},"leftValue":"={{ $json.cancelled }}","rightValue":true}]}},"typeVersion":2},{"id":"cc6eb0d1-81d1-4532-b0ea-c0b1f901f797","name":"❓ Email Cancelled?","type":"n8n-nodes-base.if","position":[1152,10256],"parameters":{"options":{},"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"email-cancelled","operator":{"type":"boolean","operation":"equals"},"leftValue":"={{ $json.cancelled }}","rightValue":true}]}},"typeVersion":2},{"id":"10f39833-3518-4054-b7a1-1e32750e61a0","name":"❓ Addr Cancelled?","type":"n8n-nodes-base.if","position":[1152,10976],"parameters":{"options":{},"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"addr-cancelled","operator":{"type":"boolean","operation":"equals"},"leftValue":"={{ $json.cancelled }}","rightValue":true}]}},"typeVersion":2},{"id":"3e2cb508-ae56-4c00-8780-62db1964717a","name":"📋 Workflow Overview","type":"n8n-nodes-base.stickyNote","position":[-4512,9648],"parameters":{"color":4,"width":780,"height":1000,"content":"## 🛒 Automate Products Sales with Flutterwave and Telegram\n\nThis workflow creates a complete, serverless e-commerce storefront within Telegram. It manages product catalogs, shopping carts, secure Flutterwave checkout, and automated digital/physical delivery tracking entirely through Google Sheets as a database.\n\n### ⚙️ Setup & Customization Steps\nBefore activating this workflow, please configure the following credentials and settings:\n\n1. **Telegram Bot Token:** Add your Telegram API credentials in the `Telegram Trigger` and all Telegram messaging nodes.\n2. **Google Sheets Integration:** Connect your Google account and ensure the `Orders`, `Products`, and `Session` sheets have the correct column headers. Update the `Document ID` in all Google Sheets nodes to match your sheet.\n3. **Flutterwave Credentials:** Insert your Flutterwave Secret Key into the `Flutterwave Init Transaction` and `Verify Flutterwave Signature` HTTP Request nodes.\n4. **Webhook URL Configuration:** Update your Flutterwave dashboard with the Production URL generated by the `Flutterwave Webhook` node.\n5. **Google Drive (Optional):** If selling digital products, ensure the `file_url` column in your Products sheet contains valid, publicly accessible Google Drive links."},"typeVersion":1},{"id":"4ffe5440-80ae-4483-8e89-76aa3f0a4a60","name":"Section: Trend Fetching","type":"n8n-nodes-base.stickyNote","position":[-3472,9264],"parameters":{"color":7,"width":3396,"height":1644,"content":"### 1️⃣ Telegram Webhook & Command Routing\n**Suggested Color:** Yellow / Default\n**Nodes Covered:** `Telegram Trigger`, `Extract Telegram Data`, `Route Callback Data`, `Welcome Message`"},"typeVersion":1},{"id":"5c734e1b-a7f1-4e72-90a9-719f4b256022","name":"Section: Trend Fetching1","type":"n8n-nodes-base.stickyNote","position":[336,7056],"parameters":{"color":7,"width":4068,"height":5196,"content":"###   3️⃣  Product Catalog & Cart Management, Checkout Flow & User Data Validation,   Order Creation & Flutterwave Integration, Webhook Callback & Order Fulfillment, and User Order History & Tracking\n*Nodes Covered:** `Checkout Check Cart`, `Ask for Email`, `Validate Email Input`, `Ask for Address`, `Validate & Save Address`, Prepare Order Data`, `Create Order in Sheets`, `Flutterwave Init Transaction`, `Save Payment Link`, `Send Payment Link`, Flutterwave Webhook`, `Verify Flutterwave Signature`, `Find Order by Reference`, `Update Order: Paid`, `Format Digital Delivery`, `Update Order: Delivered`, `Send Shipping Confirmation`\n,  Fetch User Orders`, `Format Orders List`, `Ask Order ID`, `Validate Order Search`, `Format Searched Order`, `Format Order Detail`."},"typeVersion":1},{"id":"d05a3bbe-81cc-45aa-817c-3b1a072b00fb","name":"Data Table Setup Tip","type":"n8n-nodes-base.stickyNote","position":[-3296,9552],"parameters":{"color":5,"width":3004,"height":428,"content":"## 🤖 Telegram Bot Entry Point & Routing\nThis section handles all incoming interactions from Telegram users. It serves as the primary router for the e-commerce bot.\n\n* **Webhook Listener:** Captures user messages, commands (`/start`, `/orders`), and inline button clicks.\n* **Data Extraction:** Normalizes payloads into a consistent `chat_id` and `user_id` structure.\n* **Intelligent Routing:** Directs users to the correct workflow path (catalog, cart, checkout, or orders) based on their input."},"typeVersion":1},{"id":"5ae62c6e-e1b6-4890-be9c-ebf5798fe4ac","name":"Data Table Setup Tip1","type":"n8n-nodes-base.stickyNote","position":[720,7360],"parameters":{"color":5,"width":2060,"height":3820,"content":"## 📝 Checkout & Data Validation Flow\n\nCollects and validates essential customer information required for payment and delivery before order creation.\n\n* **Email Collection:** Prompts for email and validates format (detecting common TLD typos like `.con`).\n* **Conditional Address Prompt:** Only asks for a physical delivery address if the cart contains physical items.\n* **State Management:** Updates the `Session` sheet to track the user's progress through the checkout steps."},"typeVersion":1},{"id":"9322471b-0e6e-41f5-ae81-e4e11ae5d4ff","name":"Data Table Setup Tip2","type":"n8n-nodes-base.stickyNote","position":[2912,10528],"parameters":{"color":5,"width":1228,"height":652,"content":"## 💳 Flutterwave Payment Initialization\nCommits the finalized cart to the database and generates a secure payment gateway link via the Flutterwave API.\n\n* **Order Generation:** Creates a unique `ORD-` ID and saves the pending order to Google Sheets.\n* **Payment API:** Calls Flutterwave to initialize the transaction using the validated customer email and total amount.\n* **Link Storage:** Saves the `link` back to the database for later retrieval (e.g., resuming pending orders).\n* **Payment Prompt:** Sends the user an inline \"Pay Now\" button to complete the transaction securely."},"typeVersion":1},{"id":"f2d90e3b-0edb-441e-a0a3-b71fcc4b4a0a","name":"Data Table Setup Tip3","type":"n8n-nodes-base.stickyNote","position":[736,11232],"parameters":{"color":4,"width":1836,"height":668,"content":"## 📦🛒 Telegram Bot Entry Point & Routing\nCustomer Order History & Tracking\nProvides users with a self-service portal to view past orders, resume payments, and track shipments within Telegram.\n\n* **Order History:** Retrieves the 5 most recent orders associated with the user's Telegram ID.\n* **Smart UI:** Displays context-aware buttons (e.g., \"Pay Now\" for pending, \"Download\" for digital, \"Track\" for physical).\n* **Search Functionality:** Allows users to find specific orders using their `ORD-` tracking number with built-in validation and cancellation."},"typeVersion":1},{"id":"90edb76b-41b0-42c3-99b2-856bd0cee543","name":"Data Table Setup Tip4","type":"n8n-nodes-base.stickyNote","position":[-3296,10064],"parameters":{"color":2,"width":3036,"height":716,"content":"## 🤖 Telegram Bot Entry Point & Routing\nThis section handles all incoming interactions from Telegram users. It serves as the primary router for the e-commerce bot.\n\n* **Webhook Listener:** Captures user messages, commands (`/start`, `/orders`), and inline button clicks.\n* **Data Extraction:** Normalizes payloads into a consistent `chat_id` and `user_id` structure.\n* **Intelligent Routing:** Directs users to the correct workflow path (catalog, cart, checkout, or orders) based on their input."},"typeVersion":1},{"id":"621f4728-6450-45c3-aeb6-02498f529a8a","name":"⚠️ HuggingFace Setup1","type":"n8n-nodes-base.stickyNote","position":[2064,7408],"parameters":{"color":3,"width":400,"height":128,"content":"⚠️ Replace  \"YOUR_TELEGRAM_BOT_TOKEN\" with your telegram bot token in the URL field of the following HTTP Request nodes: 📤 Send Products List, 🛒 Send Cart Display, 📤 Send Orders List, 📤 Send Order Detail, and 📤 Send Track Info."},"typeVersion":1},{"id":"feaa41c8-de3e-4d84-8387-c66049f1304d","name":"⚠️ HuggingFace Setup","type":"n8n-nodes-base.stickyNote","position":[3712,10544],"parameters":{"color":3,"width":400,"height":128,"content":"⚠️ Replace  \"YOUR_TELEGRAM_BOT_TOKEN\" with your telegram bot token in the URL field of the following HTTP Request node: 📤 Send Payment Link"},"typeVersion":1},{"id":"3031ca3a-ec4a-45d9-9d97-8dc08db882b9","name":"⚠️ HuggingFace Setup3","type":"n8n-nodes-base.stickyNote","position":[3712,10688],"parameters":{"color":3,"width":400,"height":128,"content":"⚠️ Replace  \"YOUR_FLUTTERWAVE_SECRET_KEY\" with your flutterwave live or test Secret Key in the Authorization Header of the following node: 💳 Flutterwave Init Transaction"},"typeVersion":1},{"id":"94defbf8-3e3d-4288-81d4-a09bdd1c2015","name":"⚠️ HuggingFace Setup2","type":"n8n-nodes-base.stickyNote","position":[1984,11248],"parameters":{"color":3,"width":400,"height":128,"content":"⚠️ Replace  \"YOUR_TELEGRAM_BOT_TOKEN\" with your telegram bot token in the URL field of the following HTTP Request node: 📤 Send Searched Order"},"typeVersion":1},{"id":"02c4e789-d25e-4e15-b8bc-633a6e1916be","name":"⚠️ HuggingFace Setup4","type":"n8n-nodes-base.stickyNote","position":[-3248,10592],"parameters":{"color":3,"width":400,"height":128,"content":"⚠️ Replace  \"flutterwave_secret_hash\" with your flutterwave hash key or encryption key in the URL field of the following HTTP Request node: 🔐 Verify Flutterwave Signature"},"typeVersion":1},{"id":"16739967-4879-490f-b2f1-6c07dc270e61","name":"⚠️ HuggingFace Setup5","type":"n8n-nodes-base.stickyNote","position":[3696,11024],"parameters":{"color":3,"width":400,"height":128,"content":"⚠️ Replace  redirect_url: http://t.me/YOUR_BOT_URL\" with your telegram bot URL in the body JSON  of the following node: 💳 Flutterwave Init Transaction"},"typeVersion":1}],"active":true,"pinData":{},"settings":{"binaryMode":"separate","executionOrder":"v1"},"versionId":"0d5465f8-b06d-4d23-a722-e123f5568fae","connections":{"✅ Email Valid?":{"main":[[{"node":"💾 Save Email to Session","type":"main","index":0}],[{"node":"❌ Invalid Email","type":"main","index":0}]]},"🛒 Cart Empty?":{"main":[[{"node":"📭 Empty Cart Message","type":"main","index":0}],[{"node":"🛒 Send Cart Display","type":"main","index":0}]]},"✅ Enough Stock?":{"main":[[{"node":"🛒 Add Item to Cart","type":"main","index":0}],[{"node":"❌ Not Enough Stock","type":"main","index":0}]]},"✅ Search Valid?":{"main":[[{"node":"💾 Reset State After Search","type":"main","index":0}],[{"node":"❌ Invalid Order ID","type":"main","index":0}]]},"💾 Deduct Stock":{"main":[[{"node":"⚠️ Stock Now Zero?","type":"main","index":0}]]},"✅ Address Valid?":{"main":[[{"node":"💾 Save Address to Session","type":"main","index":0}],[{"node":"❌ Invalid Address","type":"main","index":0}]]},"❓ Qty Cancelled?":{"main":[[{"node":"🔄 Cancel & Reset State","type":"main","index":0}],[{"node":"✅ Quantity Valid?","type":"main","index":0}]]},"✅ Quantity Valid?":{"main":[[{"node":"📊 Check Stock for Qty","type":"main","index":0}],[{"node":"❌ Invalid Quantity","type":"main","index":0}]]},"✅ Session Exists?":{"main":[[{"node":"🔗 Merge Session Paths","type":"main","index":0}],[{"node":"🆕 Create New Session","type":"main","index":0}]]},"❓ Addr Cancelled?":{"main":[[{"node":"🔄 Cancel & Reset State","type":"main","index":0}],[{"node":"✅ Address Valid?","type":"main","index":0}]]},"❓ Email Cancelled?":{"main":[[{"node":"🔄 Cancel & Reset State","type":"main","index":0}],[{"node":"✅ Email Valid?","type":"main","index":0}]]},"🧹 Clear User Cart":{"main":[[{"node":"✅ Update Order: Delivered","type":"main","index":0}]]},"❓ Search Cancelled?":{"main":[[{"node":"🔄 Cancel & Reset State","type":"main","index":0}],[{"node":"✅ Search Valid?","type":"main","index":0}]]},"📋 Fetch Track Info":{"main":[[{"node":"📋 Format Track Info","type":"main","index":0}]]},"📋 Get User Session":{"main":[[{"node":"✅ Session Exists?","type":"main","index":0}]]},"📱 Telegram Trigger":{"main":[[{"node":"🔄 Extract Telegram Data","type":"main","index":0}]]},"🛒 Add Item to Cart":{"main":[[{"node":"💾 Save Cart to Session","type":"main","index":0}]]},"⚠️ Stock Now Zero?":{"main":[[{"node":"🔔 Admin: Low Stock Alert","type":"main","index":0}]]},"💾 Save Payment Link":{"main":[[{"node":"📤 Send Payment Link","type":"main","index":0}]]},"📁 Send Digital File":{"main":[[{"node":"📉 Update Product Stock","type":"main","index":0}]]},"📊 Product In Stock?":{"main":[[{"node":"💾 Set State: Selecting Qty","type":"main","index":0}],[{"node":"❌ Out of Stock Message","type":"main","index":0}]]},"📋 Fetch User Orders":{"main":[[{"node":"📋 Format Orders List","type":"main","index":0}]]},"📋 Format Track Info":{"main":[[{"node":"📤 Send Track Info","type":"main","index":0}]]},"📤 Send Payment Link":{"main":[[{"node":"💾 Set State: Awaiting Payment","type":"main","index":0}]]},"📦 Parse Order Items":{"main":[[{"node":"📦 Digital or Physical?","type":"main","index":0}]]},"🧺 Load Cart Session":{"main":[[{"node":"📝 Format Cart Display","type":"main","index":0}]]},"✅ Valid Charge Event?":{"main":[[{"node":"📋 Find Order by Reference","type":"main","index":0}]]},"🆕 Create New Session":{"main":[[{"node":"🔗 Merge Session Paths","type":"main","index":1}]]},"📋 Format Orders List":{"main":[[{"node":"📤 Send Orders List","type":"main","index":0}]]},"📋 Prepare Order Data":{"main":[[{"node":"📝 Create Order in Sheets","type":"main","index":0}]]},"📦 Get Product Detail":{"main":[[{"node":"📊 Product In Stock?","type":"main","index":0}]]},"🔍 Fetch Order Detail":{"main":[[{"node":"📋 Format Order Detail","type":"main","index":0}]]},"🔗 Convert Drive Link":{"main":[[{"node":"📁 Send Digital File","type":"main","index":0}]]},"💳 Flutterwave Webhook":{"main":[[{"node":"🔐 Verify Flutterwave Signature","type":"main","index":0}]]},"📊 Check Stock for Qty":{"main":[[{"node":"✅ Enough Stock?","type":"main","index":0}]]},"📋 Format Order Detail":{"main":[[{"node":"📤 Send Order Detail","type":"main","index":0}]]},"📝 Format Cart Display":{"main":[[{"node":"🛒 Cart Empty?","type":"main","index":0}]]},"🔀 Route Callback Data":{"main":[[{"node":"🛍️ Fetch All Products","type":"main","index":0}],[{"node":"🧺 Load Cart Session","type":"main","index":0}],[{"node":"📦 Get Product Detail","type":"main","index":0}],[{"node":"🗑️ Remove Item from Cart","type":"main","index":0}],[{"node":"🛒 Load Session for Checkout","type":"main","index":0}],[{"node":"📋 Fetch User Orders","type":"main","index":0}],[{"node":"🔍 Fetch Order Detail","type":"main","index":0}],[{"node":"📋 Fetch Track Info","type":"main","index":0}],[{"node":"💾 Set State: Searching Order","type":"main","index":0}],[{"node":"🔄 Cancel & Reset State","type":"main","index":0}]]},"🔗 Merge Session Paths":{"main":[[{"node":"🗺️ Route by Session State","type":"main","index":0}]]},"💬 Route by Update Type":{"main":[[{"node":"🔀 Route Callback Data","type":"main","index":0}],[{"node":"👋 Send Welcome Menu","type":"main","index":0}],[{"node":"🛍️ Fetch All Products","type":"main","index":0}],[{"node":"🧺 Load Cart Session","type":"main","index":0}],[{"node":"📋 Fetch User Orders","type":"main","index":0}],[{"node":"👋 Send Welcome Menu","type":"main","index":0}]]},"💾 Save Cart to Session":{"main":[[{"node":"✅ Item Added to Cart","type":"main","index":0}]]},"📉 Update Product Stock":{"main":[[{"node":"💾 Deduct Stock","type":"main","index":0}]]},"📝 Format Products List":{"main":[[{"node":"📤 Send Products List","type":"main","index":0}]]},"📦 Digital or Physical?":{"main":[[{"node":"🔗 Convert Drive Link","type":"main","index":0}],[{"node":"🚚 Send Shipping Confirmation","type":"main","index":0}]]},"📧 Validate Email Input":{"main":[[{"node":"❓ Email Cancelled?","type":"main","index":0}]]},"🔄 Cancel & Reset State":{"main":[[{"node":"✅ Cancel Confirmed","type":"main","index":0}]]},"🔍 Fetch Searched Order":{"main":[[{"node":"📋 Format Searched Order","type":"main","index":0}]]},"💾 Save Email to Session":{"main":[[{"node":"📦 Check for Physical Items","type":"main","index":0}]]},"📋 Format Searched Order":{"main":[[{"node":"📤 Send Searched Order","type":"main","index":0}]]},"🔄 Extract Telegram Data":{"main":[[{"node":"📋 Get User Session","type":"main","index":0}]]},"🔍 Validate Order Search":{"main":[[{"node":"❓ Search Cancelled?","type":"main","index":0}]]},"🛍️ Fetch All Products":{"main":[[{"node":"📝 Format Products List","type":"main","index":0}]]},"✅ Update Order: Delivered":{"main":[[{"node":"🔔 Admin: New Order Notification","type":"main","index":0}]]},"🏠 Need Delivery Address?":{"main":[[{"node":"💾 Set State: Entering Address","type":"main","index":0}],[{"node":"📋 Prepare Order Data","type":"main","index":0}]]},"💾 Save Cart After Remove":{"main":[[{"node":"✅ Cart Updated Message","type":"main","index":0}]]},"📝 Create Order in Sheets":{"main":[[{"node":"💳 Flutterwave Init Transaction","type":"main","index":0}]]},"📦 Update Tracking Status":{"main":[[{"node":"📉 Update Product Stock","type":"main","index":0}]]},"🏠 Validate & Save Address":{"main":[[{"node":"❓ Addr Cancelled?","type":"main","index":0}]]},"💾 Save Address to Session":{"main":[[{"node":"📋 Prepare Order Data","type":"main","index":0}]]},"📋 Find Order by Reference":{"main":[[{"node":"✅ Update Order Status: Paid","type":"main","index":0}]]},"🔢 Validate Quantity Input":{"main":[[{"node":"❓ Qty Cancelled?","type":"main","index":0}]]},"✅ Update Order Status: Paid":{"main":[[{"node":"📦 Parse Order Items","type":"main","index":0},{"node":"🧹 Clear User Cart","type":"main","index":0}]]},"💾 Reset State After Search":{"main":[[{"node":"🔍 Fetch Searched Order","type":"main","index":0}]]},"💾 Set State: Selecting Qty":{"main":[[{"node":"❓ Ask Quantity","type":"main","index":0}]]},"📦 Check for Physical Items":{"main":[[{"node":"🏠 Need Delivery Address?","type":"main","index":0}]]},"🗑️ Remove Item from Cart":{"main":[[{"node":"💾 Save Cart After Remove","type":"main","index":0}]]},"💾 Set State: Entering Email":{"main":[[{"node":"📧 Ask for Email","type":"main","index":0}]]},"🗺️ Route by Session State":{"main":[[{"node":"💬 Route by Update Type","type":"main","index":0}],[{"node":"🔢 Validate Quantity Input","type":"main","index":0}],[{"node":"📧 Validate Email Input","type":"main","index":0}],[{"node":"🏠 Validate & Save Address","type":"main","index":0}],[{"node":"💬 Route by Update Type","type":"main","index":0}],[{"node":"🔍 Validate Order Search","type":"main","index":0}]]},"🛒 Load Session for Checkout":{"main":[[{"node":"💾 Set State: Entering Email","type":"main","index":0}]]},"💾 Set State: Searching Order":{"main":[[{"node":"📋 Ask Order ID","type":"main","index":0}]]},"🚚 Send Shipping Confirmation":{"main":[[{"node":"📦 Update Tracking Status","type":"main","index":0}]]},"💾 Set State: Entering Address":{"main":[[{"node":"🏠 Ask for Address","type":"main","index":0}]]},"💳 Flutterwave Init Transaction":{"main":[[{"node":"💾 Save Payment Link","type":"main","index":0}]]},"🔐 Verify Flutterwave Signature":{"main":[[{"node":"✅ Valid Charge Event?","type":"main","index":0}]]}}}