workflows/Send weekly Facebook and Instagram PDF performance reports with Gemini and Gmail-16217/send_weekly_facebook_and_instagram_pdf_performance_reports_with_gemini_and_gmail.json
{"id":"hUKpL9pvnTqgKtq7","meta":{"instanceId":"46669e00784207f7ed9d850d6bf7dec1afe8c61704247090360474aa7c4b0bc3","templateCredsSetupCompleted":true},"name":"Weekly Social Media Performance Report","tags":[{"id":"GQyWa4ff0MKI2cjR","name":"facebook","createdAt":"2026-06-05T18:00:34.226Z","updatedAt":"2026-06-05T18:00:34.226Z"},{"id":"c7jh3Flr6c1QTB8h","name":"instagram","createdAt":"2026-06-05T18:00:34.227Z","updatedAt":"2026-06-05T18:00:34.227Z"},{"id":"tof21VKP0ol1FZ6e","name":"weekly","createdAt":"2026-06-05T18:00:34.213Z","updatedAt":"2026-06-05T18:00:34.213Z"},{"id":"zIf0hBr4itJ4YiZD","name":"reporting","createdAt":"2026-06-05T18:00:34.205Z","updatedAt":"2026-06-05T18:00:34.205Z"},{"id":"8ElFI0nLFABOQU8B","name":"social-media","createdAt":"2026-06-05T18:00:34.165Z","updatedAt":"2026-06-05T18:00:34.165Z"}],"nodes":[{"id":"0d165800-2f71-49a7-99fb-f90e6ca8e532","name":"Weekly Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-448,288],"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1],"triggerAtHour":8}]}},"typeVersion":1.2},{"id":"43762cdf-6ff1-47d1-aaf2-1d1981532f1e","name":"Config: Credentials & IDs","type":"n8n-nodes-base.set","position":[-208,288],"parameters":{"options":{},"assignments":{"assignments":[{"id":"field-001","name":"Facebook_Page_ID","type":"string","value":"YOUR_FB_PAGE_ID"},{"id":"field-002","name":"IG_Business_Account_ID","type":"string","value":"YOUR_IG_BUSINESS_ACCOUNT_ID"},{"id":"field-003","name":"Meta_Access_Token","type":"string","value":"YOUR_META_ACCESS_TOKEN"},{"id":"field-004","name":"Facebook_Page_Access_Token","type":"string","value":"YOUR_PAGE_ACCESS_TOKEN"},{"id":"field-005","name":"Report_Email","type":"string","value":"YOUR_REPORTING_EMAIL"}]}},"typeVersion":3.4},{"id":"dab4a91a-bd2f-4f41-abdd-7f3d594a02f6","name":"Calculate Dates and Wrap Data","type":"n8n-nodes-base.code","position":[32,288],"parameters":{"jsCode":"const config = $input.first().json;\n\nconst now = new Date();\nconst dayOfWeek = now.getDay();\nconst diffToMonday = (dayOfWeek === 0 ? -6 : 1 - dayOfWeek);\n\nconst lastMonday = new Date(now);\nlastMonday.setDate(now.getDate() + diffToMonday - 7);\nlastMonday.setHours(0,0,0,0);\n\nconst lastSunday = new Date(lastMonday);\nlastSunday.setDate(lastMonday.getDate() + 6);\nlastSunday.setHours(23,59,59,999);\n\nconst fmt = (d) => d.toISOString().split('T')[0];\n\nconst weekLabel = `${fmt(lastMonday)} to ${fmt(lastSunday)}`;\n\nreturn [{\n  json: {\n    since: fmt(lastMonday),\n    until: fmt(lastSunday),\n    week_label: weekLabel,\n    data: {\n      Facebook_Page_ID: config.Facebook_Page_ID,\n      IG_Business_Account_ID: config.IG_Business_Account_ID,\n      Meta_Access_Token: config.Meta_Access_Token,\n      Facebook_Page_Access_Token: config.Facebook_Page_Access_Token,\n      Report_Email: config.Report_Email\n    }\n  }\n}];\n"},"typeVersion":2},{"id":"b10f9bdb-c989-4431-93e6-712e4be092eb","name":"Get Facebook Feed","type":"n8n-nodes-base.httpRequest","position":[352,128],"parameters":{"url":"=https://graph.facebook.com/v23.0/{{ $node[\"Calculate Dates and Wrap Data\"].json.data.Facebook_Page_ID }}/feed","options":{},"sendQuery":true,"queryParameters":{"parameters":[{"name":"fields","value":"id,message,created_time,likes.summary(true),comments.summary(true),full_picture,permalink_url"},{"name":"access_token","value":"={{ $node[\"Calculate Dates and Wrap Data\"].json.data.Facebook_Page_Access_Token }}"},{"name":"since","value":"={{ $node[\"Calculate Dates and Wrap Data\"].json.since }}T00:00:00+0000"},{"name":"until","value":"={{ $node[\"Calculate Dates and Wrap Data\"].json.until }}T23:59:59+0000"}]}},"retryOnFail":true,"typeVersion":4.2},{"id":"a52a5fcf-d486-47b1-8775-05889bbf1035","name":"Get Facebook Page Insights","type":"n8n-nodes-base.httpRequest","position":[592,128],"parameters":{"url":"=https://graph.facebook.com/v23.0/{{ $node[\"Calculate Dates and Wrap Data\"].json.data.Facebook_Page_ID }}/insights","options":{},"sendQuery":true,"queryParameters":{"parameters":[{"name":"metric","value":"page_views_total,page_post_engagements"},{"name":"period","value":"day"},{"name":"since","value":"={{ $node[\"Calculate Dates and Wrap Data\"].json.since }}T00:00:00+0000"},{"name":"access_token","value":"={{ $node[\"Calculate Dates and Wrap Data\"].json.data.Facebook_Page_Access_Token }}"},{"name":"until","value":"={{ $node[\"Calculate Dates and Wrap Data\"].json.until }}T23:59:59+0000"}]}},"retryOnFail":true,"typeVersion":4.2},{"id":"532f0f29-fb06-427a-9741-b38a002b793a","name":"Get Facebook Content Views","type":"n8n-nodes-base.httpRequest","position":[832,128],"parameters":{"url":"=https://graph.facebook.com/v23.0/{{ $node[\"Calculate Dates and Wrap Data\"].json.data.Facebook_Page_ID }}/insights","options":{},"sendQuery":true,"queryParameters":{"parameters":[{"name":"metric","value":"page_media_view"},{"name":"period","value":"day"},{"name":"since","value":"={{ $node[\"Calculate Dates and Wrap Data\"].json.since }}T00:00:00+0000"},{"name":"access_token","value":"={{ $node[\"Calculate Dates and Wrap Data\"].json.data.Facebook_Page_Access_Token }}"},{"name":"until","value":"={{ $node[\"Calculate Dates and Wrap Data\"].json.until }}T23:59:59+0000"},{"name":"breakdown","value":"is_from_ads"}]}},"retryOnFail":true,"typeVersion":4.2},{"id":"669a74e4-5988-4344-9631-50e6d2615d3f","name":"Organize Facebook Data","type":"n8n-nodes-base.code","position":[1072,128],"parameters":{"jsCode":"const fbData = $node[\"Get Facebook Feed\"].json.data || [];\nconst fbInsights = $node[\"Get Facebook Page Insights\"].json.data || [];\nconst fbContentViews = $node[\"Get Facebook Content Views\"].json.data[0]?.values || [];\n\nconst postsArray = [];\nconst metrics = {};\n\nfbData.forEach(post => {\n  postsArray.push({\n    post_id: post.id,\n    message: post.message || \"\",\n    created_time: post.created_time,\n    permalink: post.permalink_url || \"\",\n    thumbnail: post.full_picture || \"\",\n    likes_count: post.likes?.summary?.total_count || 0,\n    comments_count: post.comments?.summary?.total_count || 0\n  });\n});\n\nfbInsights.forEach(item => {\n  const name = item.name;\n  metrics[name] = item.values.map(v => ({ value: v.value, end_time: v.end_time }));\n});\n\nconst organicViews = fbContentViews\n  .filter(v => v.is_from_ads === \"0\")\n  .map(v => ({ value: v.value, end_time: v.end_time }));\n\nmetrics[\"page_media_view\"] = organicViews;\n\nconst totalViews = (metrics.page_views_total || []).reduce((s, v) => s + (v.value || 0), 0);\nconst totalEngagements = (metrics.page_post_engagements || []).reduce((s, v) => s + (v.value || 0), 0);\nconst totalMediaViews = organicViews.reduce((s, v) => s + (v.value || 0), 0);\n\nreturn [{\n  json: {\n    data: {\n      feed: postsArray,\n      insights: metrics,\n      summary: {\n        total_views: totalViews,\n        total_engagements: totalEngagements,\n        total_media_views: totalMediaViews,\n        total_posts: postsArray.length\n      }\n    }\n  }\n}];\n"},"typeVersion":2},{"id":"2a2f2270-e3a2-491c-81a5-f98234d8befa","name":"Get Instagram Activity","type":"n8n-nodes-base.httpRequest","position":[272,544],"parameters":{"url":"=https://graph.facebook.com/v23.0/{{ $node[\"Calculate Dates and Wrap Data\"].json.data.IG_Business_Account_ID }}/media","options":{},"queryParametersUi":{"parameter":[{"name":"fields","value":"id,caption,media_type,media_url,views,permalink,thumbnail_url,timestamp,username,like_count,comments_count,children{media_type,media_url,thumbnail_url}"},{"name":"access_token","value":"={{ $node[\"Calculate Dates and Wrap Data\"].json.data.Meta_Access_Token }}"},{"name":"since","value":"={{ $node[\"Calculate Dates and Wrap Data\"].json.since }}T00:00:00+0000"},{"name":"until","value":"={{ $node[\"Calculate Dates and Wrap Data\"].json.until }}T23:59:59+0000"}]}},"retryOnFail":true,"typeVersion":1},{"id":"40273185-017f-4968-a22c-58cc5f10e885","name":"Views","type":"n8n-nodes-base.httpRequest","position":[512,544],"parameters":{"url":"=https://graph.facebook.com/v23.0/{{ $node[\"Calculate Dates and Wrap Data\"].json.data.IG_Business_Account_ID }}/insights","options":{},"sendQuery":true,"queryParameters":{"parameters":[{"name":"access_token","value":"={{ $node[\"Calculate Dates and Wrap Data\"].json.data.Meta_Access_Token }}"},{"name":"metric","value":"views"},{"name":"until","value":"={{ $node[\"Calculate Dates and Wrap Data\"].json.until }}"},{"name":"since","value":"={{ $node[\"Calculate Dates and Wrap Data\"].json.since }}"},{"name":"breakdown","value":"media_product_type"},{"name":"metric_type","value":"total_value"},{"name":"period","value":"day"}]}},"retryOnFail":true,"typeVersion":4.3},{"id":"c41fc505-b5ac-4be0-9d3f-9302efc8eb90","name":"Get Instagram Insights","type":"n8n-nodes-base.code","position":[752,544],"parameters":{"jsCode":"const accessToken = $node[\"Calculate Dates and Wrap Data\"].json.data.Meta_Access_Token;\nconst igId = $node[\"Calculate Dates and Wrap Data\"].json.data.IG_Business_Account_ID;\nconst metrics = 'profile_views,reach,accounts_engaged,total_interactions';\n\nconst sinceDate = new Date($node[\"Calculate Dates and Wrap Data\"].json.since);\nconst untilDate = new Date($node[\"Calculate Dates and Wrap Data\"].json.until);\n\nfunction toUnix(date) { return Math.floor(date.getTime() / 1000); }\n\nconst results = [];\nlet currentDate = new Date(sinceDate);\n\nwhile (currentDate <= untilDate) {\n  const since = toUnix(currentDate);\n  const nextDay = new Date(currentDate);\n  nextDay.setDate(nextDay.getDate() + 1);\n  const until = toUnix(nextDay);\n\n  const url = `https://graph.facebook.com/v23.0/${igId}/insights`;\n  const qs = { metric: metrics, metric_type: 'total_value', period: 'day', since, until, access_token: accessToken };\n\n  try {\n    const response = await this.helpers.request({ method: 'GET', uri: url, qs, json: true });\n    const cleanObj = { date: currentDate.toISOString().split('T')[0] };\n    if (response.data && Array.isArray(response.data)) {\n      response.data.forEach(metric => {\n        cleanObj[metric.name] = metric.total_value?.value ?? 0;\n      });\n    }\n    results.push(cleanObj);\n  } catch (error) {\n    results.push({ date: currentDate.toISOString().split('T')[0], error: error.message });\n  }\n\n  currentDate.setDate(currentDate.getDate() + 1);\n}\n\nreturn [{ data: results }];\n"},"retryOnFail":true,"typeVersion":2},{"id":"2dcc9037-0b6f-4b52-9133-75b40a1ec690","name":"Get Instagram Follows and Unfollows","type":"n8n-nodes-base.code","position":[992,544],"parameters":{"jsCode":"const accessToken = $node[\"Calculate Dates and Wrap Data\"].json.data.Meta_Access_Token;\nconst igId = $node[\"Calculate Dates and Wrap Data\"].json.data.IG_Business_Account_ID;\n\nconst sinceDate = new Date($node[\"Calculate Dates and Wrap Data\"].json.since);\nconst untilDate = new Date($node[\"Calculate Dates and Wrap Data\"].json.until);\n\nfunction toUnix(date) { return Math.floor(date.getTime() / 1000); }\n\nconst results = [];\nlet currentDate = new Date(sinceDate);\n\nwhile (currentDate <= untilDate) {\n  const since = toUnix(currentDate);\n  const nextDay = new Date(currentDate);\n  nextDay.setDate(nextDay.getDate() + 1);\n  const until = toUnix(nextDay);\n\n  const url = `https://graph.facebook.com/v23.0/${igId}/insights`;\n  const qs = { metric: 'follows_and_unfollows', metric_type: 'total_value', period: 'day', breakdown: 'follow_type', since, until, access_token: accessToken };\n\n  try {\n    const response = await this.helpers.request({ method: 'GET', uri: url, qs, json: true });\n    const breakdowns = response.data[0]?.total_value?.breakdowns?.[0]?.results || [];\n    const formatted = { date: currentDate.toISOString().split('T')[0] };\n    breakdowns.forEach(item => { formatted[item.dimension_values[0]] = item.value; });\n    results.push(formatted);\n  } catch (error) {\n    results.push({ date: currentDate.toISOString().split('T')[0], error: error.message });\n  }\n\n  currentDate.setDate(currentDate.getDate() + 1);\n}\n\nreturn [{ data: results }];\n"},"retryOnFail":true,"typeVersion":2},{"id":"0c0eddca-ba8c-438f-9555-c8f33c2a5853","name":"Organize Instagram Data","type":"n8n-nodes-base.code","position":[1232,544],"parameters":{"jsCode":"const insightsData = $node[\"Get Instagram Insights\"].json?.data || [];\nconst activityData = $node[\"Get Instagram Activity\"].json;\nconst followData = $node[\"Get Instagram Follows and Unfollows\"].json?.data || [];\nconst viewsData = $node[\"Views\"].json?.data || [];\n\nconst viewsBreakdown = viewsData?.[0]?.total_value?.breakdowns?.[0]?.results || [];\nconst organicViews = viewsBreakdown\n  .filter(item => item.dimension_values[0] !== \"AD\")\n  .map(item => ({ category: item.dimension_values[0], views: item.value }));\nconst totalOrganicViews = organicViews.reduce((acc, item) => acc + item.views, 0);\n\nconst postsArray = (activityData.data || []).reduce((acc, post) => {\n  if (!post.timestamp) return acc;\n  const structuredMedia = [];\n  if (post.media_url) {\n    structuredMedia.push({\n      id: post.id, type: post.media_type || \"IMAGE\",\n      url: post.media_url, thumbnail_url: post.thumbnail_url || null, caption: post.caption || null\n    });\n  }\n  acc.push({\n    id: post.id, caption: post.caption || null, permalink: post.permalink || null,\n    timestamp: post.timestamp, username: post.username || null,\n    like_count: post.like_count ?? 0, comments_count: post.comments_count ?? 0, media: structuredMedia\n  });\n  return acc;\n}, []);\n\nconst allDates = new Set();\n[...insightsData, ...followData].forEach(item => allDates.add(item.date));\n\nconst metrics = {};\ninsightsData.forEach(metric => {\n  metrics[metric.date] = {\n    profile_views: metric.profile_views ?? 0,\n    accounts_engaged: metric.accounts_engaged ?? 0,\n    total_interactions: metric.total_interactions ?? 0,\n    reach: metric.reach ?? 0\n  };\n});\nfollowData.forEach(f => {\n  if (!metrics[f.date]) metrics[f.date] = {};\n  metrics[f.date][\"new_followers\"] = f.FOLLOWER ?? 0;\n  metrics[f.date][\"non_followers\"] = f.NON_FOLLOWER ?? 0;\n});\nallDates.forEach(date => {\n  if (!metrics[date]) metrics[date] = { profile_views:0, accounts_engaged:0, total_interactions:0, new_followers:0, non_followers:0, reach:0 };\n  else {\n    metrics[date][\"new_followers\"] = metrics[date][\"new_followers\"] ?? 0;\n    metrics[date][\"non_followers\"] = metrics[date][\"non_followers\"] ?? 0;\n    metrics[date][\"profile_views\"] = metrics[date][\"profile_views\"] ?? 0;\n    metrics[date][\"accounts_engaged\"] = metrics[date][\"accounts_engaged\"] ?? 0;\n    metrics[date][\"total_interactions\"] = metrics[date][\"total_interactions\"] ?? 0;\n    metrics[date][\"reach\"] = metrics[date][\"reach\"] ?? 0;\n  }\n});\n\nconst finalMetrics = Array.from(allDates).sort().map(date => ({ date, ...metrics[date] }));\n\nconst igSummary = {\n  total_profile_views: finalMetrics.reduce((s,d) => s+(d.profile_views||0),0),\n  total_reach: finalMetrics.reduce((s,d) => s+(d.reach||0),0),\n  total_accounts_engaged: finalMetrics.reduce((s,d) => s+(d.accounts_engaged||0),0),\n  total_interactions: finalMetrics.reduce((s,d) => s+(d.total_interactions||0),0),\n  total_new_followers: finalMetrics.reduce((s,d) => s+(d.new_followers||0),0)\n};\n\nreturn [{ json: { data: {\n  activity: postsArray,\n  insights: finalMetrics,\n  views: { total: totalOrganicViews, breakdown: organicViews },\n  summary: igSummary\n}}}];\n"},"typeVersion":2},{"id":"da35c03a-8fa6-4ec1-95ae-ad3597f3c9a8","name":"Merge All Data & Build Charts","type":"n8n-nodes-base.code","position":[1696,288],"parameters":{"jsCode":"const fbData = $node[\"Organize Facebook Data\"].json.data;\nconst igData = $node[\"Organize Instagram Data\"].json.data;\nconst weekLabel = $node[\"Calculate Dates and Wrap Data\"].json.week_label;\nconst since = $node[\"Calculate Dates and Wrap Data\"].json.since;\nconst until = $node[\"Calculate Dates and Wrap Data\"].json.until;\n\nfunction chartUrl(config, width, height) {\n  let url = `https://quickchart.io/chart?c=${encodeURIComponent(JSON.stringify(config))}`;\n  if (width && height) url += `&width=${width}&height=${height}`;\n  return url;\n}\n\nfunction generateLineChart(labels, data, label, title, color) {\n  return {\n    type: \"line\",\n    data: { labels, datasets: [{ label, data, borderColor: color, backgroundColor: color + '22', fill: true, tension: 0.4, pointRadius: 4 }] },\n    options: { responsive: true, plugins: { title: { display: true, text: title, font: { size: 16 } }, legend: { display: false } }, scales: { y: { beginAtZero: true } } }\n  };\n}\n\n// Instagram chart data\nconst igDates = igData.insights.map(d => d.date.slice(5));\nconst igReach = igData.insights.map(d => d.reach);\nconst igEngaged = igData.insights.map(d => d.accounts_engaged);\nconst igFollowers = igData.insights.map(d => d.new_followers);\n\n// Facebook chart data\nconst fbViews = fbData.insights.page_views_total || [];\nconst fbEngagements = fbData.insights.page_post_engagements || [];\nconst fbDates = fbViews.map(v => v.end_time?.slice(5,10) || '');\nconst fbViewsData = fbViews.map(v => v.value || 0);\nconst fbEngData = fbEngagements.map(v => v.value || 0);\n\n// Chart URLs\nconst igReachChartUrl = chartUrl(generateLineChart(igDates, igReach, 'Reach', 'Instagram Weekly Reach', '#E1306C'), 700, 300);\nconst igEngChartUrl = chartUrl(generateLineChart(igDates, igEngaged, 'Accounts Engaged', 'Instagram Accounts Engaged', '#833AB4'), 700, 300);\nconst igFollowChartUrl = chartUrl(generateLineChart(igDates, igFollowers, 'New Followers', 'Instagram New Followers', '#F77737'), 700, 300);\nconst fbViewsChartUrl = chartUrl(generateLineChart(fbDates, fbViewsData, 'Page Views', 'Facebook Page Views', '#1877F2'), 700, 300);\nconst fbEngChartUrl = chartUrl(generateLineChart(fbDates, fbEngData, 'Post Engagements', 'Facebook Post Engagements', '#42B72A'), 700, 300);\n\nreturn [{ json: { weekLabel, since, until,\n  fbData, igData,\n  charts: { igReachChartUrl, igEngChartUrl, igFollowChartUrl, fbViewsChartUrl, fbEngChartUrl }\n}}];\n"},"typeVersion":2},{"id":"5431d716-4806-4f02-b189-a0d506db5d84","name":"Prepare AI Prompt","type":"n8n-nodes-base.code","position":[1888,288],"parameters":{"jsCode":"const merged = $input.first().json;\nconst fb = merged.fbData;\nconst ig = merged.igData;\nconst weekLabel = merged.weekLabel;\n\nconst systemPrompt = `You are a professional social media analytics expert. Analyze weekly Facebook and Instagram performance data. Always respond in English. You MUST use these EXACT section headers with ### prefix, nothing else before the content:\n\n### EXECUTIVE SUMMARY\n### FACEBOOK ANALYSIS\n### INSTAGRAM ANALYSIS\n### CROSS-PLATFORM INSIGHTS\n### NEXT STEPS\n\nUnder NEXT STEPS, write exactly 4 items each starting with \"• \" on its own line. Do not add numbered prefixes, markdown bold, or extra formatting.`;\n\nconst userPrompt = `Analyze this weekly social media data for the week of ${merged.since} to ${merged.until}:\n\nFACEBOOK:\n- Total Page Views: ${fb.summary.total_views}\n- Total Post Engagements: ${fb.summary.total_engagements}\n- Total Organic Media Views: ${fb.summary.total_media_views}\n- Posts Published: ${fb.summary.total_posts}\n- Top Posts: ${JSON.stringify(fb.feed.slice(0,3).map(p => ({ message: p.message?.slice(0,100), likes: p.likes_count, comments: p.comments_count })))}\n\nINSTAGRAM:\n- Total Profile Views: ${ig.summary.total_profile_views}\n- Total Reach: ${ig.summary.total_reach}\n- Accounts Engaged: ${ig.summary.total_accounts_engaged}\n- Total Interactions: ${ig.summary.total_interactions}\n- New Followers: ${ig.summary.total_new_followers}\n- Organic Views Breakdown: ${JSON.stringify(ig.views.breakdown)}\n- Posts This Week: ${ig.activity.length}\n- Daily Reach: ${JSON.stringify(ig.insights.map(d => ({ date: d.date, reach: d.reach, engaged: d.accounts_engaged })))}\n\nRespond now:`;\n\nreturn [{ json: { systemPrompt, userPrompt, merged } }];"},"typeVersion":2},{"id":"746dca38-e830-42a1-b4f7-f659d4264023","name":"AI Analysis Agent","type":"@n8n/n8n-nodes-langchain.openAi","position":[2592,1840],"parameters":{"modelId":{"__rl":true,"mode":"list","value":""},"options":{"maxTokens":1500},"messages":{"values":[{"role":"system","content":"={{ $json.systemPrompt }}"},{"content":"={{ $json.userPrompt }}"}]}},"credentials":{"openAiApi":{"id":"xYeeJJnEHmWrpwZ4","name":"OpenAi account"}},"typeVersion":1.7},{"id":"bf8f8d59-02bf-47cd-84d6-d4c0027633fc","name":"Build HTML Report","type":"n8n-nodes-base.code","position":[2416,288],"parameters":{"jsCode":"// REPLACE karo puri aiResponse line with:\nconst geminiRaw = $node[\"Message a model\"].json;\n\n// Gemini n8n node returns array directly\nconst aiResponse = \n  (Array.isArray(geminiRaw) ? geminiRaw[0] : geminiRaw)\n    ?.content?.parts?.[0]?.text ||\n  geminiRaw?.candidates?.[0]?.content?.parts?.[0]?.text ||\n  geminiRaw?.message?.content ||\n  \"\";\n\nconst merged = $node[\"Prepare AI Prompt\"].json.merged;\nconst fb = merged.fbData;\nconst ig = merged.igData;\nconst charts = merged.charts;\nconst weekLabel = merged.weekLabel;\n\n// ── Parse AI sections by ### markers ──────────────────────────────────────\nfunction extractSection(text, heading) {\n  const escaped = heading.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n  const regex = new RegExp(`###\\\\s*${escaped}\\\\s*\\\\n([\\\\s\\\\S]*?)(?=###|$)`, 'i');\n  const match = text.match(regex);\n  return match ? match[1].trim() : '';\n}\n\nconst execSummary   = extractSection(aiResponse, 'EXECUTIVE SUMMARY')   || 'Analysis unavailable for this period.';\nconst fbAnalysis    = extractSection(aiResponse, 'FACEBOOK ANALYSIS')   || 'No Facebook analysis available.';\nconst igAnalysis    = extractSection(aiResponse, 'INSTAGRAM ANALYSIS')  || 'No Instagram analysis available.';\nconst crossInsights = extractSection(aiResponse, 'CROSS-PLATFORM INSIGHTS') || 'No cross-platform insights available.';\nconst nextStepsRaw  = extractSection(aiResponse, 'NEXT STEPS')          || '';\n\n// Parse bullet points for next steps cards\nconst stepLines = nextStepsRaw\n  .split('\\n')\n  .map(l => l.replace(/^[•\\-\\*]\\s*/, '').trim())\n  .filter(l => l.length > 10)\n  .slice(0, 4);\n\nwhile (stepLines.length < 4) stepLines.push('Review performance and adjust content strategy accordingly.');\n\n// ── Helpers ────────────────────────────────────────────────────────────────\nconst fmtDate = (iso) => iso ? iso.replace('T', ' ').slice(0, 16) : '';\nconst esc = (str) => String(str || '').replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;').replace(/\"/g,'&quot;');\n\n// ── FB Posts HTML ──────────────────────────────────────────────────────────\nconst fbPostsHtml = fb.feed.length === 0\n  ? '<p style=\"color:#6b7280;font-size:13px;\">No posts published this week.</p>'\n  : fb.feed.map((p, i) => `\n    <div class=\"post-card\" style=\"break-inside:avoid;\">\n      ${p.thumbnail ? `<div class=\"post-thumb\" style=\"background-image:url('${esc(p.thumbnail)}')\"></div>` : '<div class=\"post-thumb post-thumb-placeholder\">📄</div>'}\n      <div class=\"post-body\">\n        <div class=\"post-meta\">${fmtDate(p.created_time)}</div>\n        <p class=\"post-text\">${esc((p.message || 'No caption').slice(0, 140))}${(p.message || '').length > 140 ? '…' : ''}</p>\n        <div class=\"post-stats\">\n          <span class=\"pstat\">👍 ${p.likes_count} Likes</span>\n          <span class=\"pstat\">💬 ${p.comments_count} Comments</span>\n          ${p.permalink ? `<a href=\"${esc(p.permalink)}\" class=\"pstat pstat-link\" target=\"_blank\">View Post →</a>` : ''}\n        </div>\n      </div>\n    </div>`).join('');\n\n// ── IG Posts HTML ──────────────────────────────────────────────────────────\nconst igPostsHtml = ig.activity.length === 0\n  ? '<p style=\"color:#6b7280;font-size:13px;\">No posts published this week.</p>'\n  : ig.activity.map((p, i) => {\n      const thumb = p.media?.[0]?.thumbnail_url || p.media?.[0]?.url || '';\n      return `\n    <div class=\"post-card\" style=\"break-inside:avoid;\">\n      ${thumb ? `<div class=\"post-thumb\" style=\"background-image:url('${esc(thumb)}')\"></div>` : '<div class=\"post-thumb post-thumb-placeholder\">📸</div>'}\n      <div class=\"post-body\">\n        <div class=\"post-meta\">${fmtDate(p.timestamp)}</div>\n        <p class=\"post-text\">${esc((p.caption || 'No caption').slice(0, 140))}${(p.caption || '').length > 140 ? '…' : ''}</p>\n        <div class=\"post-stats\">\n          <span class=\"pstat\">❤️ ${p.like_count} Likes</span>\n          <span class=\"pstat\">💬 ${p.comments_count} Comments</span>\n          ${p.permalink ? `<a href=\"${esc(p.permalink)}\" class=\"pstat pstat-link\" target=\"_blank\">View Post →</a>` : ''}\n        </div>\n      </div>\n    </div>`;\n    }).join('');\n\n// ── Combined Stats ─────────────────────────────────────────────────────────\nconst combinedViews       = fb.summary.total_views + ig.summary.total_reach;\nconst combinedEngagements = fb.summary.total_engagements + ig.summary.total_interactions;\nconst combinedPosts       = fb.summary.total_posts + ig.activity.length;\nconst combinedFollowers   = ig.summary.total_new_followers;\n\n// ── Next Step Cards ────────────────────────────────────────────────────────\nconst nextStepCardsHtml = stepLines.map((step, i) => `\n  <div class=\"step-card\" style=\"break-inside:avoid;\">\n    <div class=\"step-num\">${i + 1}</div>\n    <p class=\"step-text\">${esc(step)}</p>\n  </div>`).join('');\n\n// ── HTML ───────────────────────────────────────────────────────────────────\nconst html = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<title>Weekly Social Media Report — ${esc(weekLabel)}</title>\n<style>\n  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');\n\n  * { margin:0; padding:0; box-sizing:border-box; }\n  body { font-family:'Inter',sans-serif; background:#f0f2f5; color:#1a1a2e; -webkit-print-color-adjust:exact; print-color-adjust:exact; }\n  .page { max-width:900px; margin:0 auto; background:#fff; }\n\n  /* ── Print / PDF ── */\n  @media print {\n    body { background:#fff; }\n    .page { max-width:100%; }\n  }\n\n  /* ── Page margins for PDF ── */\n@page {\n  margin: 28px 36px;\n}\n\n.page {\n  max-width: 900px;\n  margin: 0 auto;\n  background: #fff;\n  padding: 0 0 24px 0;\n}\n\n.section {\n  padding: 28px 36px;  /* thoda breathing room */\n}\n\n.header {\n  padding: 36px 36px 32px;\n}\n\n  /* ── Header ── */\n  .header { background:linear-gradient(135deg,#1a1a2e 0%,#16213e 50%,#0f3460 100%); color:#fff; padding:40px; break-inside:avoid; }\n  .header-top { display:flex; justify-content:space-between; align-items:center; margin-bottom:16px; }\n  .brand { font-size:13px; font-weight:600; letter-spacing:3px; text-transform:uppercase; color:#e94560; }\n  .report-badge { background:rgba(233,69,96,0.2); border:1px solid #e94560; color:#e94560; padding:4px 14px; border-radius:20px; font-size:12px; font-weight:600; }\n  .header h1 { font-size:32px; font-weight:800; margin-bottom:8px; }\n  .header .week { font-size:15px; color:rgba(255,255,255,0.6); }\n  .header-stats { display:grid; grid-template-columns:repeat(4,1fr); gap:16px; margin-top:28px; }\n  .hstat { background:rgba(255,255,255,0.07); border-radius:12px; padding:16px; text-align:center; break-inside:avoid; }\n  .hstat-val { font-size:26px; font-weight:800; color:#e94560; }\n  .hstat-label { font-size:11px; color:rgba(255,255,255,0.5); text-transform:uppercase; letter-spacing:1px; margin-top:4px; }\n\n  /* ── Sections ── */\n  .section { padding:32px 40px; border-bottom:1px solid #f0f2f5; break-inside:avoid; }\n  .section-title { font-size:11px; font-weight:700; letter-spacing:3px; text-transform:uppercase; color:#e94560; margin-bottom:20px; }\n  .section h2 { font-size:22px; font-weight:700; margin-bottom:16px; color:#1a1a2e; }\n\n  /* ── Combined Stats ── */\n  .combined-grid { display:grid; grid-template-columns:repeat(4,1fr); gap:12px; margin-bottom:8px; }\n  .combined-card { background:linear-gradient(135deg,#1a1a2e,#0f3460); border-radius:12px; padding:20px; text-align:center; break-inside:avoid; }\n  .combined-val { font-size:28px; font-weight:800; color:#e94560; }\n  .combined-label { font-size:11px; color:rgba(255,255,255,0.6); text-transform:uppercase; letter-spacing:1px; margin-top:6px; }\n  .combined-sub { font-size:10px; color:rgba(255,255,255,0.35); margin-top:2px; }\n\n  /* ── Platform header ── */\n  .platform-header { display:flex; align-items:center; gap:12px; margin-bottom:20px; }\n  .platform-icon { width:40px; height:40px; border-radius:10px; display:flex; align-items:center; justify-content:center; font-size:20px; font-weight:800; color:#fff; }\n  .fb-icon { background:linear-gradient(135deg,#1877F2,#0d5bba); }\n  .ig-icon { background:linear-gradient(135deg,#F58529,#DD2A7B,#8134AF); }\n  .platform-name { font-size:20px; font-weight:700; }\n\n  /* ── Stats grid ── */\n  .stats-grid { display:grid; grid-template-columns:repeat(4,1fr); gap:12px; margin-bottom:24px; }\n  .stat-card { background:#f8f9ff; border-radius:12px; padding:16px; text-align:center; border:1px solid #e8eaf6; break-inside:avoid; }\n  .stat-val { font-size:24px; font-weight:800; color:#1a1a2e; }\n  .stat-label { font-size:11px; color:#6b7280; text-transform:uppercase; letter-spacing:0.5px; margin-top:4px; }\n\n  /* ── Charts ── */\n  .chart-row { display:grid; grid-template-columns:1fr 1fr; gap:20px; margin:20px 0; break-inside:avoid; }\n  .chart-box { background:#f8f9ff; border-radius:12px; padding:16px; border:1px solid #e8eaf6; break-inside:avoid; }\n  .chart-box img { width:100%; border-radius:8px; display:block; }\n  .chart-title { font-size:12px; font-weight:600; color:#6b7280; text-transform:uppercase; letter-spacing:1px; margin-bottom:10px; }\n\n  /* ── AI sections ── */\n  .ai-section { background:linear-gradient(135deg,#f0f4ff,#f5f0ff); border-radius:16px; padding:28px; margin-bottom:24px; border:1px solid #e0e7ff; break-inside:avoid; }\n  .ai-badge { display:inline-flex; align-items:center; gap:6px; background:#e94560; color:#fff; padding:4px 12px; border-radius:20px; font-size:11px; font-weight:700; letter-spacing:1px; text-transform:uppercase; margin-bottom:16px; }\n  .ai-text { font-size:14px; line-height:1.8; color:#374151; white-space:pre-wrap; }\n\n  /* ── Posts ── */\n.posts-grid {\n  display: flex;\n  flex-wrap: wrap;\n  gap: 16px;\n  margin-top: 20px;\n}\n\n.post-card {\n  flex: 1 1 calc(50% - 8px);\n  min-width: 280px;\n  background: #fff;\n  border: 1px solid #e8eaf6;\n  border-radius: 12px;\n  overflow: hidden;\n  break-inside: avoid;\n}\n  .post-thumb { width:100%; height:160px; background-size:cover; background-position:center; background-color:#f0f2f5; }\n  .post-thumb-placeholder { display:flex; align-items:center; justify-content:center; font-size:36px; }\n  .post-body { padding:14px; }\n  .post-meta { font-size:11px; color:#9ca3af; margin-bottom:6px; }\n  .post-text { font-size:13px; line-height:1.6; color:#374151; margin-bottom:10px; }\n  .post-stats { display:flex; flex-wrap:wrap; gap:8px; }\n  .pstat { font-size:12px; color:#6b7280; background:#f3f4f6; padding:3px 8px; border-radius:6px; }\n  .pstat-link { color:#e94560; background:#fff5f7; text-decoration:none; }\n\n  /* ── Next Steps ── */\n  .next-steps { display:grid; grid-template-columns:1fr 1fr; gap:12px; margin-top:16px; }\n  .step-card { background:linear-gradient(135deg,#fff5f7,#fff); border:1px solid #fecdd3; border-radius:12px; padding:20px; break-inside:avoid; }\n  .step-num { width:28px; height:28px; background:#e94560; color:#fff; border-radius:50%; display:flex; align-items:center; justify-content:center; font-size:13px; font-weight:700; margin-bottom:10px; }\n  .step-text { font-size:13px; line-height:1.6; color:#374151; }\n\n  /* ── Footer ── */\n  .footer { background:#1a1a2e; color:rgba(255,255,255,0.4); text-align:center; padding:24px; font-size:12px; break-inside:avoid; }\n  .footer strong { color:#e94560; }\n\n  /* ── Section page breaks ── */\n  .section-break { break-before:auto; }\n</style>\n</head>\n<body>\n<div class=\"page\">\n\n  <!-- HEADER -->\n  <div class=\"header\">\n    <div class=\"header-top\">\n      <span class=\"brand\">Social Media Analytics</span>\n      <span class=\"report-badge\">Weekly Report</span>\n    </div>\n    <h1>Performance Report</h1>\n    <p class=\"week\">Week of ${esc(weekLabel)}</p>\n    <div class=\"header-stats\">\n      <div class=\"hstat\"><div class=\"hstat-val\">${fb.summary.total_views.toLocaleString()}</div><div class=\"hstat-label\">FB Page Views</div></div>\n      <div class=\"hstat\"><div class=\"hstat-val\">${fb.summary.total_engagements.toLocaleString()}</div><div class=\"hstat-label\">FB Engagements</div></div>\n      <div class=\"hstat\"><div class=\"hstat-val\">${ig.summary.total_reach.toLocaleString()}</div><div class=\"hstat-label\">IG Reach</div></div>\n      <div class=\"hstat\"><div class=\"hstat-val\">${ig.summary.total_new_followers}</div><div class=\"hstat-label\">New Followers</div></div>\n    </div>\n  </div>\n\n  <!-- COMBINED STATS -->\n  <div class=\"section section-break\">\n    <div class=\"section-title\">Combined Cross-Platform Stats</div>\n    <div class=\"combined-grid\">\n      <div class=\"combined-card\"><div class=\"combined-val\">${combinedViews.toLocaleString()}</div><div class=\"combined-label\">Total Reach & Views</div><div class=\"combined-sub\">FB Views + IG Reach</div></div>\n      <div class=\"combined-card\"><div class=\"combined-val\">${combinedEngagements.toLocaleString()}</div><div class=\"combined-label\">Total Engagements</div><div class=\"combined-sub\">FB + IG Combined</div></div>\n      <div class=\"combined-card\"><div class=\"combined-val\">${combinedPosts}</div><div class=\"combined-label\">Total Posts</div><div class=\"combined-sub\">FB + IG Published</div></div>\n      <div class=\"combined-card\"><div class=\"combined-val\">${combinedFollowers}</div><div class=\"combined-label\">New Followers</div><div class=\"combined-sub\">Instagram Growth</div></div>\n    </div>\n  </div>\n\n  <!-- AI EXECUTIVE SUMMARY -->\n  <div class=\"section section-break\">\n    <div class=\"section-title\">AI-Powered Analysis</div>\n    <div class=\"ai-section\">\n      <span class=\"ai-badge\">🤖 Executive Summary</span>\n      <p class=\"ai-text\">${esc(execSummary)}</p>\n    </div>\n  </div>\n\n  <!-- FACEBOOK -->\n  <div class=\"section section-break\">\n    <div class=\"platform-header\">\n      <div class=\"platform-icon fb-icon\">f</div>\n      <span class=\"platform-name\">Facebook Performance</span>\n    </div>\n    <div class=\"stats-grid\">\n      <div class=\"stat-card\"><div class=\"stat-val\">${fb.summary.total_views.toLocaleString()}</div><div class=\"stat-label\">Page Views</div></div>\n      <div class=\"stat-card\"><div class=\"stat-val\">${fb.summary.total_engagements.toLocaleString()}</div><div class=\"stat-label\">Engagements</div></div>\n      <div class=\"stat-card\"><div class=\"stat-val\">${fb.summary.total_media_views.toLocaleString()}</div><div class=\"stat-label\">Media Views</div></div>\n      <div class=\"stat-card\"><div class=\"stat-val\">${fb.summary.total_posts}</div><div class=\"stat-label\">Posts Published</div></div>\n    </div>\n    <div class=\"chart-row\">\n      <div class=\"chart-box\"><div class=\"chart-title\">Page Views (Daily)</div><img src=\"${charts.fbViewsChartUrl}\" alt=\"FB Views\"/></div>\n      <div class=\"chart-box\"><div class=\"chart-title\">Post Engagements (Daily)</div><img src=\"${charts.fbEngChartUrl}\" alt=\"FB Engagements\"/></div>\n    </div>\n    <div class=\"ai-section\">\n      <span class=\"ai-badge\">📊 Facebook Insights</span>\n      <p class=\"ai-text\">${esc(fbAnalysis)}</p>\n    </div>\n    <div class=\"section-title\" style=\"margin-top:8px;\">Posts Published This Week</div>\n    <div class=\"posts-grid\">${fbPostsHtml}</div>\n  </div>\n\n  <!-- INSTAGRAM -->\n  <div class=\"section section-break\">\n    <div class=\"platform-header\">\n      <div class=\"platform-icon ig-icon\">📸</div>\n      <span class=\"platform-name\">Instagram Performance</span>\n    </div>\n    <div class=\"stats-grid\">\n      <div class=\"stat-card\"><div class=\"stat-val\">${ig.summary.total_reach.toLocaleString()}</div><div class=\"stat-label\">Total Reach</div></div>\n      <div class=\"stat-card\"><div class=\"stat-val\">${ig.summary.total_accounts_engaged.toLocaleString()}</div><div class=\"stat-label\">Accounts Engaged</div></div>\n      <div class=\"stat-card\"><div class=\"stat-val\">${ig.summary.total_interactions.toLocaleString()}</div><div class=\"stat-label\">Interactions</div></div>\n      <div class=\"stat-card\"><div class=\"stat-val\">${ig.summary.total_new_followers}</div><div class=\"stat-label\">New Followers</div></div>\n    </div>\n    <div class=\"chart-row\">\n      <div class=\"chart-box\"><div class=\"chart-title\">Instagram Reach (Daily)</div><img src=\"${charts.igReachChartUrl}\" alt=\"IG Reach\"/></div>\n      <div class=\"chart-box\"><div class=\"chart-title\">Accounts Engaged (Daily)</div><img src=\"${charts.igEngChartUrl}\" alt=\"IG Engaged\"/></div>\n    </div>\n    <div class=\"chart-row\">\n      <div class=\"chart-box\" style=\"grid-column:1/-1;\"><div class=\"chart-title\">New Followers (Daily)</div><img src=\"${charts.igFollowChartUrl}\" alt=\"IG Followers\"/></div>\n    </div>\n    <div class=\"ai-section\">\n      <span class=\"ai-badge\">📱 Instagram Insights</span>\n      <p class=\"ai-text\">${esc(igAnalysis)}</p>\n    </div>\n    <div class=\"section-title\" style=\"margin-top:8px;\">Posts Published This Week</div>\n    <div class=\"posts-grid\">${igPostsHtml}</div>\n  </div>\n\n  <!-- CROSS PLATFORM -->\n  <div class=\"section section-break\">\n    <div class=\"section-title\">Cross-Platform Analysis</div>\n    <div class=\"ai-section\">\n      <span class=\"ai-badge\">🔗 Combined Insights</span>\n      <p class=\"ai-text\">${esc(crossInsights)}</p>\n    </div>\n  </div>\n\n  <!-- NEXT STEPS -->\n  <div class=\"section section-break\">\n    <div class=\"section-title\">Action Plan</div>\n    <h2>Next Steps</h2>\n    <div class=\"next-steps\" style=\"margin-top:16px;\">${nextStepCardsHtml}</div>\n  </div>\n\n  <!-- FOOTER -->\n  <div class=\"footer\">\n    Generated automatically by <strong>Social Media Analytics Workflow</strong> &bull; Week of ${esc(weekLabel)}\n  </div>\n\n</div>\n</body>\n</html>`;\n\nreturn [{ json: { html, weekLabel } }];"},"typeVersion":2},{"id":"6a7eaa3a-95d1-41ce-9833-f886ca5d2857","name":"Convert HTML to PDF","type":"n8n-nodes-base.httpRequest","notes":"Uses html2pdf.app — free tier available. Alternatively replace with Puppeteer/wkhtmltopdf node or any HTML-to-PDF service.","position":[2656,288],"parameters":{"url":"https://api.pdfshift.io/v3/convert/pdf","method":"POST","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"output.pdf"}}},"sendBody":true,"sendHeaders":true,"authentication":"genericCredentialType","bodyParameters":{"parameters":[{"name":"source","value":"={{ $json.html }}"},{"name":"landscape","value":"false"},{"name":"use_print","value":"false"}]},"genericAuthType":"httpBasicAuth","headerParameters":{"parameters":[]}},"credentials":{"httpBasicAuth":{"id":"P5d5q7qjzuflKFQV","name":"PDF Shift"}},"retryOnFail":true,"typeVersion":4.2},{"id":"f19dd5e2-d27b-42a3-a743-ee620689c2ad","name":"Message a model","type":"@n8n/n8n-nodes-langchain.googleGemini","position":[2112,288],"parameters":{"modelId":{"__rl":true,"mode":"list","value":"models/gemini-3-flash-preview"},"options":{"maxOutputTokens":1500},"messages":{"values":[{"role":"model","content":"={{ $json.systemPrompt }}"},{"content":"={{ $json.userPrompt }}"}]},"builtInTools":{}},"credentials":{"googlePalmApi":{"id":"EjUAFInHGigIPOf4","name":"Google Gemini(PaLM) Api - AR"}},"typeVersion":1.2},{"id":"74112332-0b35-4355-be46-5e29e1e98bad","name":"Send a message","type":"n8n-nodes-base.gmail","position":[2880,288],"webhookId":"7dd629f8-5d26-4e53-86cd-825f4ed241ee","parameters":{"sendTo":"={{ $node[\"Calculate Dates and Wrap Data\"].json.data.Report_Email }}","message":"Here's the weekly performance report for your Facebook and Instagram Accounts","options":{"attachmentsUi":{"attachmentsBinary":[{"property":"output.pdf"}]}},"subject":"=📊 Weekly Social Media Report — {{ $node[\"Calculate Dates and Wrap Data\"].json.week_label }}"},"credentials":{"gmailOAuth2":{"id":"twB3do76opSvr20r","name":"Gmail account 2"}},"typeVersion":2.2},{"id":"489e3383-3db6-456a-ace0-c82135f505bf","name":"Merge","type":"n8n-nodes-base.merge","position":[1472,288],"parameters":{},"typeVersion":3.2},{"id":"64b302a9-c099-4b54-8a86-8951c9f679f7","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-992,208],"parameters":{"color":4,"width":448,"height":272,"content":"# 📊 Weekly Social Media Report\n\nRuns every Monday at 8AM.\nPulls Facebook + Instagram data → builds charts → AI analysis via Gemini → HTML → PDF → Gmail.\n\n**Output:** Branded PDF report delivered to your inbox automatically."},"typeVersion":1},{"id":"820de40b-2211-4581-97ea-f4a78f635d15","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-304,-128],"parameters":{"width":336,"height":384,"content":"### ⚙️ STEP 1 — Fill Your Credentials Here\n\nEdit this Set node with your actual values:\n\n- *Facebook_Page_ID* → Your FB Page numeric ID\n- *IG_Business_Account_ID* → Your IG Business Account ID\n- *Meta_Access_Token* → Long-lived User Access Token (for Instagram)\n- *Facebook_Page_Access_Token* → Page Access Token (for Facebook feed + insights)\n- *Report_Email* → Email address to receive the PDF report\n\n⚠️ Never commit real tokens to public templates.\nUse n8n Credentials or environment variables for production."},"typeVersion":1},{"id":"7477cdc9-60b7-4d85-a91f-bbddc31df71f","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[320,-64],"parameters":{"color":7,"width":912,"height":352,"content":"### 📘 Facebook Data Pipeline\n\n1. *Get Facebook Feed* — fetches posts (with likes, comments, thumbnail)\n2. *Get Facebook Page Insights* — daily page_views_total + page_post_engagements\n3. *Get Facebook Content Views* — organic media views (breakdown: *is_from_ads*)\n4. *Organize Facebook Data* — normalizes into feed[], insights{}, summary{}\n\nAll requests use Graph API v23.0.\n*Date range = last full week (Mon–Sun).*"},"typeVersion":1},{"id":"1e0d392f-3376-4726-9ea8-adf521bb3104","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[224,336],"parameters":{"color":7,"width":1168,"height":368,"content":"### 📸 Instagram Data Pipeline\n\n1. *Get Instagram Activity* — media posts with captions, likes, comments, thumbnails\n2. *Views* — organic views breakdown by media_product_type\n3. *Get Instagram Insights* — daily loop: profile_views, reach, accounts_engaged, interactions\n4. *Get Instagram Follows and Unfollows* — daily loop: FOLLOWER vs NON_FOLLOWER breakdown\n5. *Organize Instagram Data* — merges all into activity[], insights[], views{}, summary{}\n\n*⚠️ Insights nodes use a day-by-day loop (7 API calls each).*\n*This is required because Instagram's API doesn't support multi-day total_value in one call reliably.*"},"typeVersion":1},{"id":"110af8a1-5627-40d6-9a0e-288a93703c85","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1888,-80],"parameters":{"width":624,"height":304,"content":"### 🤖 AI Analysis — Google Gemini\n\n*Model: gemini-3-flash-preview*\n*Max tokens: 1500*\n\nThe prompt instructs Gemini to return exactly 5 sections:\n_*### EXECUTIVE SUMMARY*_\n_*### FACEBOOK ANALYSIS*_\n_*### INSTAGRAM ANALYSIS*_\n_*### CROSS-PLATFORM INSIGHTS*_\n_*### NEXT STEPS (4 bullet points)*_\n\nThe *Build HTML Report* node parses these sections using ### markers.\nIf a section is missing, fallback text is used automatically.\n\nTo switch to OpenAI/Claude: replace \"Message a model\" node and update\nthe aiResponse extraction in \"Build HTML Report\" accordingly."},"typeVersion":1},{"id":"9a49f5f3-b624-43e2-92fe-76c3318ae4ef","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[2576,-64],"parameters":{"width":480,"height":272,"content":"### 📄 PDF Conversion + Email Delivery\n\n*PDF Service: PDFShift (api.pdfshift.io/v3/convert/pdf)*\n- Add your PDFShift API key under HTTP Basic Auth credentials\n- Free tier = 50 PDF conversions/month\n- Portrait mode, screen CSS rendering\n\nAlternative services: html2pdf.app, Gotenberg, Browserless\n\n### Email: Sent via Gmail OAuth2\n- Attach: output.pdf (binary from PDFShift)\n- Subject auto-includes the week date range\n- Recipient pulled from Config node (Report_Email)"},"typeVersion":1}],"active":false,"pinData":{},"settings":{"binaryMode":"separate","executionOrder":"v1"},"versionId":"c5cb98c8-085e-466f-a9da-c7efc240d639","connections":{"Merge":{"main":[[{"node":"Merge All Data & Build Charts","type":"main","index":0}]]},"Views":{"main":[[{"node":"Get Instagram Insights","type":"main","index":0}]]},"Weekly Trigger":{"main":[[{"node":"Config: Credentials & IDs","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Build HTML Report","type":"main","index":0}]]},"AI Analysis Agent":{"main":[[]]},"Build HTML Report":{"main":[[{"node":"Convert HTML to PDF","type":"main","index":0}]]},"Get Facebook Feed":{"main":[[{"node":"Get Facebook Page Insights","type":"main","index":0}]]},"Prepare AI Prompt":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Convert HTML to PDF":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Get Instagram Activity":{"main":[[{"node":"Views","type":"main","index":0}]]},"Get Instagram Insights":{"main":[[{"node":"Get Instagram Follows and Unfollows","type":"main","index":0}]]},"Organize Facebook Data":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Organize Instagram Data":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Config: Credentials & IDs":{"main":[[{"node":"Calculate Dates and Wrap Data","type":"main","index":0}]]},"Get Facebook Content Views":{"main":[[{"node":"Organize Facebook Data","type":"main","index":0}]]},"Get Facebook Page Insights":{"main":[[{"node":"Get Facebook Content Views","type":"main","index":0}]]},"Calculate Dates and Wrap Data":{"main":[[{"node":"Get Facebook Feed","type":"main","index":0},{"node":"Get Instagram Activity","type":"main","index":0}]]},"Merge All Data & Build Charts":{"main":[[{"node":"Prepare AI Prompt","type":"main","index":0}]]},"Get Instagram Follows and Unfollows":{"main":[[{"node":"Organize Instagram Data","type":"main","index":0}]]}}}